@* @page "/dept/dep_reqdepoit" *@
@page "/ws_dep_reqdepoit"
@page "/deposit"
@using FinanceApp.Models;
@using Newtonsoft.Json
@using Radzen.Blazor
@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient
@using System.Linq.Dynamic.Core
@inject NotificationService NotificationService
@using System.Globalization
@using System.Text.Json
@using System.ComponentModel
@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase
<style>
	.icon-search {
		display: inline-flex !important;
		justify-content: space-evenly !important;
		align-items: center !important;
		position: relative !important;
		top: 3px !important;
		padding: 15px !important;
		flex-wrap: nowrap !important;
	}

	.table> :not(caption)>*>* {
		padding: 0.2rem 0.2rem;
	}

	.save_top {
		border: #adacac solid 1px;
	}

	.header-right {
		text-align: start;
	}

	.header-left {
		text-align: end;
	}

	.rz-fileupload-row {
		display: flex;
		color: transparent;
		align-items: center;
		justify-content: space-between;
		flex-direction: column-reverse;
	}

	.rz-fileupload-row img {
		width: 250px;
		margin-top: -4rem;
		max-height: 200px;


	}

	.rz-fileupload-row button {
		margin-left: 20rem;
		margin-top: 8px;
	}

	.rz-fileupload-files {
		background-color: var(--rz-upload-files-background-color);
		padding: var(--rz-upload-files-padding);
		margin-top: -1.5rem;
	}

	.rz-fileupload-buttonbar {
		position: relative;
		background-color: transparent;
		padding: var(--rz-upload-button-bar-padding);
		border-radius: var(--rz-upload-button-bar-border-radius);
	}

	.rz-card.rz-variant-filled {
		box-shadow: var(--rz-base-background-color);
		margin-top: -5px;
	}

	.rz-card {
		padding: 0;
		box-sizing: var(--rz-base-background-color);
	}

	.card {
		background-color: #f9f9f9;
	}

	.rz-calendar .rz-inputtext {
		background-color: #e9ecef;
		opacity: 1;
	}
</style>
<div class="header-page">
	<div class="row-header d-flex justify-content-between ">
		<div class="header-left">
			<h4>ระบบ เงินฝาก - หน้าจอเปิดบัญชี</h4>
		</div>
		<div class="header-right">
			<RadzenButton class="save_top" Icon="save" Text="Save" Click="@SaveDataAsync"
				disabled="@(!IsSaveEnabled)" />
		</div>
	</div>
</div>
@if (isLoading)
{
	<div
		style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex;background-color: #e9e9e9;opacity: 50%; justify-content: center; align-items: center; z-index: 90;">
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
}
else
{
	@if (repReqdepoit == null)
	{
		<div class="card body-page">
			<div class="row" style="margin-left: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
				<form @onsubmit="PerformSearch">
					<div class="row">
						<div class="col-xl-4 col-md-4 col-sm-6 d-flex flex-column">
							<label class="form-label" for="">ทะเบียนสมาชิก</label>
							<div class="form-group ">
								<div class="input-group">
									@* <RadzenMask Mask="********" CharacterPattern="[0-9]" @bind-value="member_no"
							Name="member_no"
							class="form-control" @onkeydown="@((e) => e.Code == "Enter" ? Search() : null)" /> *@
									<RadzenMask Mask="********" CharacterPattern="[0-9]" @bind-value="member_no"
										Name="member_no" class="form-control" />
									<div class="input-group-addon">
										<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
											data-bs-target="#ModalSearch" />
									</div>
								</div>
							</div>
							<div class="modal" id="ModalSearch">
								<div class="modal-dialog modal-xl">
									<div class="modal-content">
										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title">ข้อมูลสมาชิก</h4>
											<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
										</div>
										<!-- Modal body -->
										<div class="modal-body">
											<div class="row" style="margin-left:-4px;margin-right:-4px;">
												<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
													<label class="form-label" for="">ทะเบียนสมาชิก</label>
													<div class="form-group ">
														<div class="input-group">
															<RadzenMask Mask="********" CharacterPattern="[0-9]"
																@bind-value="member_No_fild" Name="deptaccount_no"
																class="form-control" />

														</div>
													</div>
												</div>
												<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
													<label class="form-label" for=""> รหัสพนักงาน</label>
													<div class="form-group ">
														<div class="input-group">
															<input class="form-control" type="text" name="emp_name"
																@bind-value="salary_id">

														</div>
													</div>
												</div>
												<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
													<label class="form-label" for="">ประเภทบุคคล</label>
													<select class="form-select" @bind="membcat_code"
														aria-label="Default select example">
														<option selected>--เลือก--</option>
														<option Value="10">สามัญ</option>
														<option Value="20">สมทบ</option>
														<option Value="30">สหกรณ์อื่นๆ</option>
													</select>
												</div>
												<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
													<label class="form-label" for="">ชื่อ</label>
													<div class="form-group ">
														<div class="input-group">
															<input class="form-control" type="text" name="member_name"
																@bind-value="member_name">

														</div>
													</div>
												</div>
												<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
													<label class="form-label" for="">นามสกุล</label>
													<div class="form-group ">
														<div class="input-group">
															<input class="form-control" type="text" name="member_surname"
																@bind-value="member_surname">
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
													<label class="form-label" for="">สังกัด</label>
													<div class="form-group ">
														<div class="input-group">
															<input class="form-control" type="text" name="card_person"
																@bind-value="fullgroup">
														</div>
													</div>
												</div>
												<div class="col-xl-8 col-md-6 col-sm-6 d-flex flex-column">
												</div>
												<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
													<button class="btn btn-outline-secondary"
														@onclick="SearchOfGetAcc">ค้นหา</button>
												</div>
											</div>
											<RadzenDataGrid Data="@dataaccDetails" TItem="Models.ReqAccDetails"
												ColumnWidth="200px" AllowFiltering="true"
												FilterPopupRenderMode="PopupRenderMode.OnDemand"
												FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
												AllowPaging="true" AllowSorting="true"
												PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
												<Columns>
													<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails"
														Title="ทะเบียน" Property="member_no">
														<Template>
															<div @onclick="@(e => UpdateAccountDetails(context))"
																data-bs-dismiss="modal">
																@context.member_no
															</div>
														</Template>
													</RadzenDataGridColumn>

													<RadzenDataGridColumn Width="30%" TItem="Models.ReqAccDetails"
														Title="ชื่อ - นามสกุล" Property="memb_name">
														<Template>
															<div @onclick="@(e => UpdateAccountDetails(context))"
																data-bs-dismiss="modal">
																@context.memb_name @context.memb_surname
															</div>
														</Template>
													</RadzenDataGridColumn>
													<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails"
														Title="รหัสประเภทบุคคล" Property="membcat_code">
														<Template>
															<div @onclick="@(e => UpdateAccountDetails(context))"
																data-bs-dismiss="modal">
																@context.membcat_code
															</div>
														</Template>
													</RadzenDataGridColumn>
													<RadzenDataGridColumn Width="30%" TItem="Models.ReqAccDetails"
														Title="ประเภทบุคคล" Property="membcat_desc">
														<Template>
															<div @onclick="@(e => UpdateAccountDetails(context))"
																data-bs-dismiss="modal">
																@context.membcat_desc
															</div>
														</Template>
													</RadzenDataGridColumn>
													<RadzenDataGridColumn Width="30%" TItem="Models.ReqAccDetails"
														Title="สังกัด" Property="membgroup_desc">
														<Template>
															<div @onclick="@(e => UpdateAccountDetails(context))"
																data-bs-dismiss="modal">
																@context.membgroup_desc
															</div>
														</Template>
													</RadzenDataGridColumn>
												</Columns>
											</RadzenDataGrid>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-1 col-md-2 col-sm-6 d-flex flex-column">
							<button type="submit" class="btn btn-outline-secondary">ค้นหา</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	}
	else
	{
		<div class="card body-page">
			<div class="from">
				<form @onsubmit="PerformSearch">
					@foreach (var Item in repReqdepoit)
					{
						<div class="row" style="margin-left: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
							<div class="row">
								<div class="col-xl-3 col-md-4 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">ทะเบียนสมาชิก</label>
									<div class="form-group ">
										<div class="input-group">
											<RadzenMask Mask="********" CharacterPattern="[0-9]" @bind-value="member_no"
												Name="member_no" class="form-control" />
											<div class="input-group-addon">
												<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
													data-bs-target="#ModalSearch" />
											</div>
										</div>
									</div>
									<div class="modal" id="ModalSearch">
										<div class="modal-dialog modal-xl">
											<div class="modal-content">
												<!-- Modal Header -->
												<div class="modal-header">
													<h4 class="modal-title">ข้อมูลสมาชิก</h4>
													<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
												</div>
												<!-- Modal body -->
												<div class="modal-body">
													<div class="row" style="margin-left:-4px;margin-right:-4px;">
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">ทะเบียนสมาชิก</label>
															<div class="form-group ">
																<div class="input-group">
																	<RadzenMask Mask="********" CharacterPattern="[0-9]"
																		@bind-value="member_No_fild" Name="deptaccount_no"
																		class="form-control" />

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for=""> รหัสพนักงาน</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="emp_name"
																		@bind-value="salary_id">

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">ประเภทบุคคล</label>
															<select class="form-select" @bind="membcat_code"
																aria-label="Default select example">
																<option selected>--เลือก--</option>
																<option Value="10">สามัญ</option>
																<option Value="20">สมทบ</option>
																<option Value="30">สหกรณ์อื่นๆ</option>
															</select>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">ชื่อ</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="member_name"
																		@bind-value="member_name">

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">นามสกุล</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="member_surname"
																		@bind-value="member_surname">
																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">สังกัด</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="card_person"
																		@bind-value="fullgroup">
																</div>
															</div>
														</div>
														<div class="col-xl-8 col-md-6 col-sm-6 d-flex flex-column">
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<button class="btn btn-outline-secondary"
																@onclick="SearchOfGetAcc">ค้นหา</button>
														</div>
													</div>
													<RadzenDataGrid Data="@dataaccDetails" TItem="Models.ReqAccDetails"
														ColumnWidth="200px" AllowFiltering="true"
														FilterPopupRenderMode="PopupRenderMode.OnDemand"
														FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
														AllowPaging="true" AllowSorting="true"
														PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
														<Columns>
															<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails"
																Title="ทะเบียน" Property="member_no">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		data-bs-dismiss="modal">
																		@context.member_no
																	</div>
																</Template>
															</RadzenDataGridColumn>

															<RadzenDataGridColumn Width="30%" TItem="Models.ReqAccDetails"
																Title="ชื่อ - นามสกุล" Property="memb_name">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		data-bs-dismiss="modal">
																		@context.memb_name @context.memb_surname
																	</div>
																</Template>
															</RadzenDataGridColumn>
															<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails"
																Title="รหัสประเภทบุคคล" Property="membcat_code">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		data-bs-dismiss="modal">
																		@context.membcat_code
																	</div>
																</Template>
															</RadzenDataGridColumn>
															<RadzenDataGridColumn Width="30%" TItem="Models.ReqAccDetails"
																Title="ประเภทบุคคล" Property="membcat_desc">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		data-bs-dismiss="modal">
																		@context.membcat_desc
																	</div>
																</Template>
															</RadzenDataGridColumn>
															<RadzenDataGridColumn Width="30%" TItem="Models.ReqAccDetails"
																Title="สังกัด" Property="membgroup_desc">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		data-bs-dismiss="modal">
																		@context.membgroup_desc
																	</div>
																</Template>
															</RadzenDataGridColumn>
														</Columns>
													</RadzenDataGrid>

												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-1 col-md-2 col-sm-6 d-flex flex-column">
									<button type="submit" class="btn btn-outline-secondary">ค้นหา</button>
								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">ประเภทบัญชี</label>
									<select id="depttype" name="depttype_code" class="form-select" @onchange="DepttypeChanged">
										@if (Item.depttype == null || !Item.depttype.Any())
										{
											<option selected disabled></option>
										}
										else
										{
											@foreach (var depttypeItem in Item.depttype)
											{
												if (depttypeItem.deptmain_type == Item.depttype_code)
												{
													isCurrentOptionSelected = true;

												}
												else
												{
													isCurrentOptionSelected = false;
													@* <option value="@depttypeItem.deptmain_type" selected="@(depttypeItem.deptmain_type ==
							"10")">
							@depttypeItem.deptmain_desc
							</option> *@
												}
												<option value="@depttypeItem.deptmain_type" selected="@isCurrentOptionSelected">
													@depttypeItem.deptmain_desc
												</option>
											}
										}
									</select>
								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">เลขที่สมุดเงินฝาก</label>
									<div class="form-group ">
										<div class="input-group">
											@* <RadzenTextBox class="form-control" type="text" ReadOnly style="background-color:
								#fff;"
								Name="deptpassbook_no" disabled="@(!chk_deptpassbookno)"
								@bind-value="Item.deptpassbook_no"
								/> *@
											<input class="format-money form-control" type="text" Name="deptpassbook_no"
												disabled="@(chk_deptpassbookno)" @bind-value="Item.deptpassbook_no" />
											<div class="input-group-addon">
												<RadzenCheckBox style="margin-left: 5px;margin-top: 7px;"
													@bind-Value=@chk_deptpassbookno Name="CheckBox1" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">เลขที่บัญชี</label>
									<div class="form-group ">
										<div class="input-group">
											<input type="text" class="format-money form-control" Name="deptslip_netamt"
												value="@Item.deptaccount_no" disabled="@(!chk_deptacc)" />
											<div class="input-group-addon">
												<RadzenCheckBox style="margin-left: 5px;margin-top: 7px;" @bind-Value=@chk_deptacc
													Name="CheckBox1" />
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">ประเภทบุคคล</label>
									<RadzenTextBox class="form-control" type="text" ReadOnly Name="membcat_code"
										@bind-value="Item.membcat_desc" />
								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">วันที่เปิดบัญชี</label>
									<RadzenDatePicker @bind-Value=Item.operate_date ReadOnly Name="operate_date"
										DateFormat="dd/MM/yyyy" />
								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">วันครบกำหนด</label>
									<RadzenDatePicker @bind-Value=Item.due_date ReadOnly Name="operate_date"
										DateFormat="dd/MM/yyyy" />
								</div>
							</div>
							<div class="row">
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">ผู้ถือบัญชี</label>
									<select id="recppaytypeSelect" name="depttype_code" class="form-select">
										@if (Item.recppaytype == null || !Item.recppaytype.Any())
										{
											<option selected disabled></option>
										}
										else
										{
											@foreach (var acctypeItem in Item.acctype)
											{
												if (acctypeItem.account_type == Item.account_type)
												{
													isCurrentOptionSelected = true;

												}
												else
												{
													isCurrentOptionSelected = false;
												}
												<option value="@acctypeItem.account_type" selected="@isCurrentOptionSelected">
													@acctypeItem.account_type - @acctypeItem.account_desc
												</option>
											}
										}
									</select>
								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">ชื่อบัญชี(TH)</label>
									<RadzenTextBox class="form-control" type="text" ReadOnly Name="deptaccount_name"
										@bind-value="Item.deptaccount_name" />
								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">ชื่อบัญชี(EN)</label>
									<RadzenTextBox class="form-control" type="text" ReadOnly Name="deptaccount_ename"
										@bind-value="Item.deptaccount_ename" />
								</div>
							</div>
							<div class="row">
								<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">ระยะเวลาการรับด/บ</label>
									<select class="form-select" @bind="Item.upint_time" aria-label="Default select example">
										<option Value="1">ตามประเภท</option>
										<option Value="2">รายเดือน</option>
										<option Value="3">ราย 3 เดือน</option>
									</select>
								</div>
								<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">วิธีรับดอกเบี้ย</label>
									<select class="form-select" value="@Item.monthintpay_meth" @onchange="BookNo">
										<option Value="0">ทบต้น</option>
										<option value="1">โอนเข้า บ/ช</option>
										<option Value="3">รับเองโดยแยกต้นเงินใหม่</option>
										<option Value="2">โอนเข้า บ/ช ธนาคาร</option>
										<option Value="5">รับเป็นธนาณัติ</option>
									</select>
								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">เพื่อ</label>
									<input class="form-control" type="text" Name="dept_objective"
										@bind-value="Item.dept_objective" />
								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">เงื่อนไขการถอน</label>
									<RadzenTextBox class="form-control" type="text" Name="condforwithdraw"
										@bind-value="Item.condforwithdraw" />
								</div>
							</div>
							@if (type_monthintpay == 1 || type_monthintpay == 2)
							{
								@if (type_monthintpay == 1)
								{
									<div class="row">
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">บัญชีเลขที่</label>
											<RadzenDropDown AllowClear="true" @bind-Value="@tran_deptacc_no" LoadData="@LoadData"
												AllowFiltering="true" Data="@getOfBook_No" Class="form-control" TextProperty="book_no"
												ValueProperty="book_no" Name="DropDownFilteringLoadData" />
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">การฝากรายเดือน</label>
											<select class="form-select" @bind="Item.deptmonth_status" aria-label="Default select example">
												<option Value="0">ไม่ต้องการฝาก</option>
												<option Value="1">ต้องการฝาก</option>
											</select>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">จำนวนส่งรายงวด</label>
											<input type="text" class="format-money form-control" Name="deptmonth_amt"
												value="@Item.deptmonth_amt" />
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">เปิดบัญชีโดย</label>
											<select id="recppaytypeSelect" name="recppaytype_code" @onchange="RecpPayTypeChanged"
												class="form-select">
												@if (Item.recppaytype == null || !Item.recppaytype.Any())
												{
													<option selected disabled></option>
												}
												else
												{
													@foreach (var recppaytypeItem in Item.recppaytype)
													{
														if (recppaytypeItem.recppaytype_code == Item.recppaytype_code)
														{
															isCurrentOptionSelected = true;

														}
														else
														{
															isCurrentOptionSelected = false;
														}
														<option value="@recppaytypeItem.recppaytype_code" selected="@isCurrentOptionSelected">
															@recppaytypeItem.recppaytype_code - @recppaytypeItem.recppaytype_desc
														</option>
													}
												}
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ชื่อบัญชี</label>
											<input type="text" class="format-money form-control" Name="deptslip_netamt"
												value="@Item.dept_tranacc_name" />
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ประเภทบัญชี</label>
											<select id="recppaytypeSelect" name="depttype_code" class="form-select"
												@bind="traninttype_code">
												@if (Item.recppaytype == null || !Item.recppaytype.Any())
												{
													<option selected disabled></option>
												}
												else
												{
													@foreach (var depttypeItem in Item.depttype)
													{
														if (depttypeItem.deptgroup_code == Item.traninttype_code)
														{
															isCurrentOptionSelected = true;

														}
														else
														{
															isCurrentOptionSelected = false;
														}
														<option value="@depttypeItem.deptmain_type" selected="@isCurrentOptionSelected">
															@depttypeItem.deptmain_desc
														</option>
													}
												}
											</select>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">รหัสคู่บัญชี</label>
											<select id="tofromaccSelect" class="form-select" @bind="Item.tofrom_accid">
												@foreach (var tofromaccItem in Item.tofromacc)
												{
													if (tofromaccItem.tofrom_accid == Item.tofrom_accid)
													{
														isCurrentOptionSelected = true;

													}
													else
													{
														isCurrentOptionSelected = false;
													}
													<option value="@tofromaccItem.tofrom_accid" selected="@isCurrentOptionSelected">
														@tofromaccItem.tofrom_accid - @tofromaccItem.tofrom_accdesc
													</option>

												}
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ธนาคาร</label>
											<div class="form-group ">
												<div class="input-group">
													<input class="format-money form-control" type="text"
														style="text-align: center; width: 30%;" name="bank_code" readonly value="@bank_code"
														@oninput="OnGetBankChanged" />
													<select id="getBankSelect" disabled class="form-select"
														@onchange="OnGetBankSelectChanged" style="width: 70%;">
													</select>
												</div>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">สาขา</label>
											<div class="form-group ">
												<div class="input-group">
													<input class="format-money form-control" type="text"
														style="text-align: center; width: 30%;" name="bank_code" readonly
														value="@bankbranch_code" @oninput="OnBankBranchChanged" />
													<select id="getBankSelect" disabled class="form-select"
														@onchange="OnBankBranchSelectChanged" style="width: 70%;">
													</select>
												</div>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<div class="form-check" style="margin-top: 35px;">
												<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
												<label class="form-check-label" for="flexCheckDefault">ค้ำประกัน</label>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">อ้างอิง</label>
											<div class="form-group ">
												<div class="input-group">
													<input type="text" class="format-money form-control" Name="deptslip_netamt"
														value="@Item.deptslip_no" />
													<div class="input-group-addon">
														<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
															data-bs-target="#myModal1" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">รวมสุทธิ</label>
											<input class="format-money form-control" @onblur="FormatNumber" @bind="DeptslipAmt"
												placeholder="0.00" type="text" style="text-align: end; font-size: 40px;" name="prncbal"
												id="showNumber" />
										</div>
									</div>
								}
								else
								{
									<div class="row">
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">บัญชีเลขที่</label>
											<div class="form-group ">
												<div class="input-group">
													<input type="text" class="format-money form-control" Name="tran_deptacc_no"
														@bind="@Item.tran_deptacc_no" />
													<div class="input-group-addon">
														<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
															data-bs-target="#accNo" />
													</div>
												</div>
											</div>
											<!-- The Modal -->
											<div class="modal" id="accNo">
												<div class="modal-dialog modal-xl">
													<div class="modal-content">
														<!-- Modal Header -->
														<div class="modal-header">
															<h4 class="modal-title">ข้อมูลสมาชิก</h4>
															<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
														</div>
														<!-- Modal body -->
														<div class="modal-body">
															<RadzenDataGrid Data="@dataaccDetails" TItem="Models.ReqAccDetails"
																ColumnWidth="100" AllowFiltering="true"
																FilterPopupRenderMode="PopupRenderMode.OnDemand"
																FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
																AllowPaging="true" AllowSorting="true"
																PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
																<Columns>
																	<RadzenDataGridColumn Width="35%" TItem="Models.ReqAccDetails"
																		Title="ประเภทเงินฝาก" Property="deptaccount_no">
																		<Template>
																			@* <div @onclick="@(e => UpdateReqAccDetails(context))"
														data-bs-dismiss="modal">
														@context.deptaccount_no
														</div> *@
																		</Template>
																	</RadzenDataGridColumn>
																	<RadzenDataGridColumn Width="25%" TItem="Models.ReqAccDetails"
																		Title="เลขที่บัญชี" Property="member_no">
																		<Template>
																			@* <div @onclick="@(e => UpdateReqAccDetails(context))"
														data-bs-dismiss="modal">
														@context.member_no
														</div> *@
																		</Template>
																	</RadzenDataGridColumn>
																	<RadzenDataGridColumn Width="40%" TItem="Models.ReqAccDetails"
																		Title="ชื่อบัญชี" Property="deptaccount_name">
																		<Template>
																			@* <div @onclick="@(e => UpdateReqAccDetails(context))"
														data-bs-dismiss="modal">
														@context.deptaccount_name
														</div> *@
																		</Template>
																	</RadzenDataGridColumn>
																</Columns>
															</RadzenDataGrid>
															<!-- Modal footer -->
															<div class="modal-footer">
																<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
																	Close
																</button>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">การฝากรายเดือน</label>
											<select class="form-select" @bind="Item.deptmonth_status" aria-label="Default select example">
												<option Value="0">ไม่ต้องการฝาก</option>
												<option Value="1">ต้องการฝาก</option>
											</select>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">จำนวนส่งรายงวด</label>
											<input type="text" class="format-money form-control" Name="deptmonth_amt"
												value="@Item.deptmonth_amt" />
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">เปิดบัญชีโดย</label>
											<select id="recppaytypeSelect" name="depttype_code" @onchange="RecpPayTypeChanged"
												class="form-select">
												@if (Item.recppaytype == null || !Item.recppaytype.Any())
												{
													<option selected disabled></option>
												}
												else
												{
													@foreach (var recppaytypeItem in Item.recppaytype)
													{
														if (recppaytypeItem.recppaytype_code == Item.recppaytype_code)
														{
															isCurrentOptionSelected = true;

														}
														else
														{
															isCurrentOptionSelected = false;
														}
														<option value="@recppaytypeItem.recppaytype_code" selected="@isCurrentOptionSelected">
															@recppaytypeItem.recppaytype_code - @recppaytypeItem.recppaytype_desc
														</option>
													}
												}
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ชื่อบัญชี</label>
											<input type="text" class="format-money form-control" Name="deptslip_netamt"
												value="@Item.dept_tranacc_name" />
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ประเภทบัญชี</label>
											<select id="recppaytypeSelect" name="depttype_code" disabled class="form-select"
												@bind="traninttype_code">
											</select>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">รหัสคู่บัญชี</label>
											<select id="tofromaccSelect" class="form-select" @bind="Item.tofrom_accid">
												@foreach (var tofromaccItem in Item.tofromacc)
												{
													if (tofromaccItem.tofrom_accid == Item.tofrom_accid)
													{
														isCurrentOptionSelected = true;

													}
													else
													{
														isCurrentOptionSelected = false;
													}
													<option value="@tofromaccItem.tofrom_accid" selected="@isCurrentOptionSelected">
														@tofromaccItem.tofrom_accid - @tofromaccItem.tofrom_accdesc
													</option>

												}
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ธนาคาร</label>
											<div class="form-group ">
												<div class="input-group">
													<input class="format-money form-control" type="text"
														style="text-align: center; width: 30%;" name="bank_code" value="@bank_code"
														@oninput="OnGetBankChanged" />
													<select id="getBankSelect" class="form-select" @onchange="OnGetBankSelectChanged"
														style="width: 70%;">
														<option selected>--กรุณาเลือก--</option>
														@foreach (var getBankItem in getBank)
														{
															bool isCurrentOptionSelected = getBankItem.bank_code == BankValues;
															<option value="@getBankItem.bank_code" selected="@isCurrentOptionSelected">
																@getBankItem.bank_code - @getBankItem.bank_desc
															</option>
														}
													</select>
												</div>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">สาขา</label>
											<div class="form-group ">
												<div class="input-group">
													<input class="format-money form-control" type="text"
														style="text-align: center; width: 30%;" name="bank_code" value="@bankbranch_code"
														@oninput="OnBankBranchChanged" />
													<select id="getBankSelect" class="form-select" @onchange="OnBankBranchSelectChanged"
														style="width: 70%;">
														<option selected>--กรุณาเลือก--</option>
														@foreach (var bankBranchItem in bankBranch)
														{
															bool isCurrentOptionSelected = bankBranchItem.branch_id == BankBranchValues;
															<option value="@bankBranchItem.branch_id" selected="@isCurrentOptionSelected">
																@bankBranchItem.branch_id - @bankBranchItem.branch_name
															</option>
														}
													</select>
												</div>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<div class="form-check" style="margin-top: 35px;">
												<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
												<label class="form-check-label" for="flexCheckDefault">ค้ำประกัน</label>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">อ้างอิง</label>
											<div class="form-group ">
												<div class="input-group">
													<input type="text" class="format-money form-control" Name="deptslip_netamt"
														value="@Item.deptslip_no" />
													<div class="input-group-addon">
														<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
															data-bs-target="#myModal1" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">รวมสุทธิ</label>
											<input class="format-money form-control" @onblur="FormatNumber" @bind="DeptslipAmt"
												placeholder="0.00" type="text" style="text-align: end; font-size: 40px;" name="prncbal"
												id="showNumber" />
										</div>
									</div>
								}
							}
							else
							{
								<div class="row">
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">บัญชีเลขที่</label>
										<div class="form-group ">
											<div class="input-group">
												<input type="text" class="format-money form-control" readonly Name="tran_deptacc_no"
													@bind="@Item.tran_deptacc_no" />
												<div class="input-group-addon">
													<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
														data-bs-target="#accNo" />
												</div>
											</div>
										</div>
										<!-- The Modal -->
										<div class="modal" id="accNo">
											<div class="modal-dialog modal-xl">
												<div class="modal-content">
													<!-- Modal Header -->
													<div class="modal-header">
														<h4 class="modal-title">ข้อมูลสมาชิก</h4>
														<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
													</div>
													<!-- Modal body -->
													<div class="modal-body">
														<RadzenDataGrid Data="@dataaccDetails" TItem="Models.ReqAccDetails"
															ColumnWidth="100" AllowFiltering="true"
															FilterPopupRenderMode="PopupRenderMode.OnDemand"
															FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
															AllowPaging="true" AllowSorting="true"
															PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
															<Columns>
																<RadzenDataGridColumn Width="35%" TItem="Models.ReqAccDetails"
																	Title="ประเภทเงินฝาก" Property="deptaccount_no">
																	<Template>
																		@* <div @onclick="@(e => UpdateReqAccDetails(context))"
														data-bs-dismiss="modal">
														@context.deptaccount_no
														</div> *@
																	</Template>
																</RadzenDataGridColumn>
																<RadzenDataGridColumn Width="25%" TItem="Models.ReqAccDetails"
																	Title="เลขที่บัญชี" Property="member_no">
																	<Template>
																		@* <div @onclick="@(e => UpdateReqAccDetails(context))"
														data-bs-dismiss="modal">
														@context.member_no
														</div> *@
																	</Template>
																</RadzenDataGridColumn>
																<RadzenDataGridColumn Width="40%" TItem="Models.ReqAccDetails"
																	Title="ชื่อบัญชี" Property="deptaccount_name">
																	<Template>
																		@* <div @onclick="@(e => UpdateReqAccDetails(context))"
														data-bs-dismiss="modal">
														@context.deptaccount_name
														</div> *@
																	</Template>
																</RadzenDataGridColumn>
															</Columns>
														</RadzenDataGrid>
														<!-- Modal footer -->
														<div class="modal-footer">
															<button type="button" class="btn btn-danger" data-bs-dismiss="modal">
																Close
															</button>
														</div>

													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">การฝากรายเดือน</label>
										<select class="form-select" @bind="Item.deptmonth_status" aria-label="Default select example">
											<option Value="0">ไม่ต้องการฝาก</option>
											<option Value="1">ต้องการฝาก</option>
										</select>
									</div>
									<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">จำนวนส่งรายงวด</label>
										<input type="text" class="format-money form-control" Name="deptmonth_amt"
											value="@Item.deptmonth_amt" />
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">เปิดบัญชีโดย</label>
										<select id="recppaytypeSelect" name="depttype_code" @onchange="RecpPayTypeChanged"
											class="form-select">
											@if (Item.recppaytype == null || !Item.recppaytype.Any())
											{
												<option selected disabled></option>
											}
											else
											{
												@foreach (var recppaytypeItem in Item.recppaytype)
												{
													if (recppaytypeItem.recppaytype_code == Item.recppaytype_code)
													{
														isCurrentOptionSelected = true;

													}
													else
													{
														isCurrentOptionSelected = false;
													}
													<option value="@recppaytypeItem.recppaytype_code" selected="@isCurrentOptionSelected">
														@recppaytypeItem.recppaytype_code - @recppaytypeItem.recppaytype_desc
													</option>
												}
											}
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">ชื่อบัญชี</label>
										<input type="text" class="format-money form-control" readonly Name="deptslip_netamt"
											value="@Item.dept_tranacc_name" />
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">ประเภทบัญชี</label>
										<select id="recppaytypeSelect" name="depttype_code" disabled class="form-select"
											@bind="traninttype_code">
										</select>
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">รหัสคู่บัญชี</label>
										<select id="tofromaccSelect" class="form-select" @bind="Item.tofrom_accid">
											@foreach (var tofromaccItem in Item.tofromacc)
											{
												if (tofromaccItem.tofrom_accid == Item.tofrom_accid)
												{
													isCurrentOptionSelected = true;

												}
												else
												{
													isCurrentOptionSelected = false;
												}
												<option value="@tofromaccItem.tofrom_accid" selected="@isCurrentOptionSelected">
													@tofromaccItem.tofrom_accid - @tofromaccItem.tofrom_accdesc
												</option>

											}
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">ธนาคาร</label>
										<div class="form-group ">
											<div class="input-group">
												<input class="format-money form-control" readonly type="text"
													style="text-align: center; width: 30%;" name="bank_code"
													@oninput="OnGetBankChanged" />
												<select id="getBankSelect" disabled class="form-select"
													@onchange="OnGetBankSelectChanged" style="width: 70%;">
												</select>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">สาขา</label>
										<div class="form-group ">
											<div class="input-group">
												<input class="format-money form-control" type="text" readonly
													style="text-align: center; width: 30%;" name="bank_code"
													@oninput="OnBankBranchChanged" />
												<select id="getBankSelect" disabled class="form-select"
													@onchange="OnBankBranchSelectChanged" style="width: 70%;">
												</select>
											</div>
										</div>
									</div>
									<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
										<div class="form-check" style="margin-top: 35px;">
											<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">ค้ำประกัน</label>
										</div>
									</div>
									<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">อ้างอิง</label>
										<div class="form-group ">
											<div class="input-group">
												<input type="text" class="format-money form-control" Name="deptslip_netamt"
													value="@Item.deptslip_no" />
												<div class="input-group-addon">
													<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
														data-bs-target="#myModal1" />
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">รวมสุทธิ</label>
										<input class="format-money form-control" @onblur="FormatNumber" @bind="DeptslipAmt"
											placeholder="0.00" type="text" style="text-align: end; font-size: 40px;" name="prncbal"
											id="showNumber" />
									</div>
								</div>
							}
						</div>
					}
				</form>
			</div>
		</div>
		<div class="card mt-4" hidden>
			<div class="row mt-2"
				style="margin-left: calc(var(--bs-gutter-x) * .5);margin-right: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
				<RadzenTabs @bind-SelectedIndex=@selectedIndex>
					<Tabs>
						<RadzenTabsItem Text="ข้อมูลรูปภาพ">
							<div class="row">
								@* <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
						<label class="form-label" for="">เลือกกลุ่มงาน</label>
						<select class="form-select" @bind="membcat_code" aria-label="Default select example">
						<option selected>--เลือก--</option>
						<option Value="10">สามัญ</option>
						<option Value="20">สมทบ</option>
						<option Value="30">สหกรณ์อื่นๆ</option>
						</select>
						</div>
						<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
						<label class="form-label" for="">เลือกรูปแบบข้อมูล</label>
						<select class="form-select" @bind="membcat_code" aria-label="Default select example">
						<option selected>--เลือก--</option>
						<option Value="10">สามัญ</option>
						<option Value="20">สมทบ</option>
						<option Value="30">สหกรณ์อื่นๆ</option>
						</select>
						</div> *@
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">ชื่อรูปภาพ</label>
									<input class="form-control" type="text" Name="remark" @bind-value="@file_name" />

								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">วันที่หมดอายุ</label>
									<RadzenDatePicker @bind-Value=operate_date Disabled="true" Name="operate_date"
										DateFormat="dd/MM/yyyy" />
								</div>
								<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">หมายเหตุ</label>
									<input class="form-control" type="text" Name="remark" @bind-value="@remark" />
								</div>
								<div class="col-xl-12 col-md-12 col-sm-6 d-flex flex-column" style="text-align: center;">
									<label class="form-label" for="">กำหนดสำหรับอ้างถึง</label>
									<RadzenCard Style="background-color: transparent;">
										<RadzenUpload @ref="upload" Auto="false" Multiple="true" Url="upload/multiple"
											Change=@(args => OnChange(args, "Manual Upload")) Progress=@(args =>
									OnProgress(args, "Manual Upload")) class="w-100" />
									</RadzenCard>
								</div>
							</div>
							<div class="row">
								<RadzenDataGrid Data="@dataaccDetails" TItem="Models.ReqAccDetails" ColumnWidth="200px"
									AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
									FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
									AllowPaging="true" AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left"
									ShowPagingSummary="true">
									<Columns>
										<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="10%" Title="ลำดับ"
											Property="prnc_no"></RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="25%" Title="แฟ้มข้อมูล (ชื่อ)"
											Property="prnc_bal"></RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="15%" Title="รูปแบบข้อมูล"
											Property="prncslip_amt"></RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="10%" Title="วันที่หมดอายุ"
											Property="prnc_date"></RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="15%" Title="ผู้เพิ่ม"
											Property="prncdue_date"></RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="10%" Title="วันที่เพิ่ม"
											Property="calint_from"></RadzenDataGridColumn>
										<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="15%" Title="ประเภท File"
											Property="calint_to"></RadzenDataGridColumn>
									</Columns>
								</RadzenDataGrid>
							</div>

						</RadzenTabsItem>
					</Tabs>
				</RadzenTabs>
			</div>
		</div>
	}
}
<script>
	$(document).ready(function () {
		var previous_data;
		$(".format-money").on('focus', function () {
			previous_data = this.value;
		}).change(function () {
			var item_amt = this.value;
			item_amt = formatNumber(Number(item_amt.replace(/[^0-9.-]+/g, "")));
			this.value = item_amt; // ต้องกำหนดค่ากลับไปให้ฟิลด์
		});
	});

	function formattNumber(input) {
		let anotherInput = document.getElementById('showNumber');
		let value = input.value.replace(/[^0-9.]/g, '');
		let number = parseFloat(value);
		if (!isNaN(number)) {
			let formattedValue = number.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			input.value = formattedValue;
			anotherInput.value = formattedValue;
		} else {
			input.value = '';
		}
	}
	function formattNumberr(input) {
		let value = input.value.replace(/[^0-9.]/g, '');
		let number = parseFloat(value);
		if (!isNaN(number)) {
			let formattedValue = number.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			input.value = formattedValue;
		} else {
			input.value = '';
		}
	}
</script>
<script>
	window.preventNonNumericInput = (element) => {
		element.addEventListener('keypress', function (e) {
			if (!/[\d.]/.test(e.key)) {
				e.preventDefault();
			}

			if (e.key === '.' && element.value.includes('.')) {
				e.preventDefault();
			}
		});
	}
</script>

@code {
	[Inject]
	private NavigationManager NavigationManager { get; set; }
	private bool IsSaveEnabled => SaveStatus == "1";
	IEnumerable<GetOfBookNo> getOfBook_No;

	private async Task LoadData(LoadDataArgs args)
	{
		var query = GetYourData();

		if (!string.IsNullOrEmpty(args.Filter))
		{
			query = query.Where(item => item.book_no.ToLower().Contains(args.Filter.ToLower()));
		}

		getOfBook_No = query.ToList(); // Materialize the query result

		await InvokeAsync(StateHasChanged);
	}

	// Simulate fetching data from a service
	IEnumerable<GetOfBookNo> GetYourData()
	{
		return getOfBookNo.Select(item => new GetOfBookNo
			{
				book_no = item.book_no,
				// Map other properties accordingly
			});
	}


	/////////
	RadzenUpload upload;

	int progress;
	bool showProgress;
	private string file_name;

	bool showComplete;
	string completionMessage;
	bool cancelUpload = false;

	void CompleteUpload(UploadCompleteEventArgs args)
	{
		if (!args.Cancelled)
			completionMessage = "Upload Complete!";
		else
			completionMessage = "Upload Cancelled!";

		showProgress = false;
		showComplete = true;
	}

	void TrackProgress(UploadProgressArgs args)
	{
		showProgress = true;
		showComplete = false;
		@* progress = args.Progress; *@

		// cancel upload
		args.Cancel = cancelUpload;

		// reset cancel flag
		cancelUpload = false;
	}

	void CancelUpload()
	{
		cancelUpload = true;
	}

	int customParameter = 1;
	void OnChange(UploadChangeEventArgs args, string name)
	{
		foreach (var file in args.Files)
		{
			Console.WriteLine($"File: {file.Name} / {file.Size} bytes");
			file_name = file.Name;
		}
		Console.WriteLine($"{file_name} changed");
	}

	void OnProgress(UploadProgressArgs args, string name)
	{
		Console.WriteLine($"{args.Progress}% '{name}' / {args.Loaded} of {args.Total} bytes.");

		if (args.Progress == 100)
		{
			foreach (var file in args.Files)
			{
				Console.WriteLine($"Uploaded: {file.Name} / {file.Size} bytes");
			}
		}
	}

	void OnComplete(UploadCompleteEventArgs args)
	{
		Console.WriteLine($"Server response: {args.RawResponse}");
	}
	public IEnumerable<Models.ReqAccDetails> dataaccDetails { get; set; }
	int selectedIndex = 0;

	private async Task OnBankBranchChanged(ChangeEventArgs e)
	{
		BankBranchValues = e.Value.ToString();
	}
	private void OnBankBranchSelectChanged(ChangeEventArgs e)
	{
		// กำหนดค่าที่ถูกเลือกใน <select> ให้กับ row.bank_code
		bankbranch_code = e.Value.ToString();
		BankBranchValues = bankbranch_code;
		Console.WriteLine($"BankBranchValues: {BankBranchValues}");
	}
	private async Task OnGetBankChanged(ChangeEventArgs e)
	{
		BankValues = e.Value.ToString();
		Console.WriteLine($"BankValues: {BankValues}");
	}
	private void OnGetBankSelectChanged(ChangeEventArgs e)
	{
		// กำหนดค่าที่ถูกเลือกใน <select> ให้กับ row.bank_code
		bank_code = e.Value.ToString();
		Console.WriteLine($"BankValues: {bank_code}");
		BankValues = bank_code;

	}
	private bool chk_tranacc;
	private bool chk_deptacc;
	private bool chk_deptpassbookno;
}
