@* @page "/dept/dep_reqdepoit" *@
@page "/ws_dep_reqdepoit"
@page "/deposit"
@using FinanceApp.Models;
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq;
@using Radzen.Blazor
@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient
@using System.Linq.Dynamic.Core
@inject NotificationService NotificationService
@using System.Globalization
@using System.Text.Json
@using System.ComponentModel
@using Microsoft.AspNetCore.Components
@using System.Net;
@inherits LayoutComponentBase
<style>
	.icon-search {
		display: inline-flex !important;
		justify-content: space-evenly !important;
		align-items: center !important;
		position: relative !important;
		top: 3px !important;
		padding: 15px !important;
		flex-wrap: nowrap !important;
	}

	.table > :not(caption) > * > * {
		padding: 0.2rem 0.2rem;
	}

	.save_top {
		border: #adacac solid 1px;
	}

	.header-right {
		text-align: start;
	}

	.header-left {
		text-align: end;
	}

	.rz-fileupload-row {
		display: flex;
		color: transparent;
		align-items: center;
		justify-content: space-between;
		flex-direction: column-reverse;
	}

		.rz-fileupload-row img {
			width: 250px;
			margin-top: -4rem;
			max-height: 200px;
		}

		.rz-fileupload-row button {
			margin-left: 20rem;
			margin-top: 8px;
		}

	.rz-fileupload-files {
		background-color: var(--rz-upload-files-background-color);
		padding: var(--rz-upload-files-padding);
		margin-top: -1.5rem;
	}

	.rz-fileupload-buttonbar {
		position: relative;
		background-color: transparent;
		padding: var(--rz-upload-button-bar-padding);
		border-radius: var(--rz-upload-button-bar-border-radius);
	}

	.rz-card.rz-variant-filled {
		box-shadow: var(--rz-base-background-color);
		margin-top: -5px;
	}

	.rz-card {
		padding: 0;
		box-sizing: var(--rz-base-background-color);
	}

	.card {
		background-color: #f9f9f9;
	}

	.rz-calendar .rz-inputtext {
		background-color: #e9ecef;
		opacity: 1;
	}

	.label-group {
		margin-left: 10px;
	}

	.form-label-preview {
		margin-bottom: 0.1rem;
		margin-top: 5px;
		font-size: 19px;
	}
</style>
<div class="header-page">
	<div class="row-header d-flex justify-content-between ">
		<div class="header-left">
			<h4>ระบบ เงินฝาก - หน้าจอเปิดบัญชี</h4>
		</div>
		<div class="header-right">
			@if (currentStep != 2)
			{
				if (currentStep == 1)
				{
					<RadzenButton class="save_top" Icon="save" Text="@((saveLoading ? "Saving..." : "Save"))" Click="@SaveDataAsync"
								  Disabled="@(!IsSaveEnabled ||DeptslipAmt == null)" />
				}
				else
				{
					<RadzenButton class="save_top" Icon="arrow_forward" Text="@("ถัดไป")" Click="@GoToNextStep"
								  Disabled="@(DeptslipAmt == null)" />
				}
			}
			else if (currentStep == 2)
			{
				<RadzenButton class="save_top" Icon="print" Text="พิมพ์ slip" Click="@PrintPdf"
							  disabled="@(!success_status)" />
			}
		</div>
	</div>
</div>
<div class="card body-page">
	<div class="row mt-2" style="margin-left: calc(var(--bs-gutter-x) * .1);margin-bottom: 15px;">
		<RadzenSteps @bind-SelectedIndex="currentStep" Change="@OnChange">
			<Steps>
				<RadzenStepsItem Disabled="@(currentStep == 2)" Text="ทำรายการ">
					<RadzenRow>
						@* <RadzenText Text="Enter user information" /> *@
					</RadzenRow>
					@if (repReqdepoit == null)
					{
						<form @onsubmit="SearchOfGetAcc">
							<div class="row" style="margin-left: calc(var(--bs-gutter-x) * -.21)">
								<div class="col-xl-4 col-md-4 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">ทะเบียนสมาชิก</label>
									<div class="form-group ">
										<div class="input-group">
											@* <RadzenMask Mask="********" CharacterPattern="[0-9]" @bind-value="member_no"
										Name="member_no"
										class="form-control" @onkeydown="@((e) => e.Code == "Enter" ? Search() : null)" /> *@
											<RadzenMask Mask="********" CharacterPattern="[0-9]" @bind-value="member_no" Name="member_no"
														class="form-control" @onkeydown="@HandleEnterKeyPress" />
											<div class="input-group-addon">
												<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
															data-bs-target="#ModalSearch" />
											</div>
										</div>
									</div>
									<div class="modal" tabindex="-1" id="ModalSearch">
										<div class="modal-dialog modal-xl">
											<div class="modal-content">
												<!-- Modal Header -->
												<div class="modal-header">
													<h4 class="modal-title">ข้อมูลสมาชิก</h4>
													<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
												</div>
												<!-- Modal body -->
												<div class="modal-body">
													<div class="row" style="margin-left:-4px;margin-right:-4px;">
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">ทะเบียนสมาชิก</label>
															<div class="form-group ">
																<div class="input-group">
																	<RadzenMask Mask="********" CharacterPattern="[0-9]"
																	@bind-value="member_No_fild" Name="deptaccount_no"
																				class="form-control" />

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for=""> รหัสพนักงาน</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="emp_name"
																	@bind-value="salary_id">

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">ประเภทบุคคล</label>
															<select class="form-select" @bind="membcat_code">
																<option selected>--เลือก--</option>
																<option Value="10">สามัญ</option>
																<option Value="20">สมทบ</option>
																<option Value="30">สหกรณ์อื่นๆ</option>
															</select>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">ชื่อ</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="member_name"
																	@bind-value="member_name">

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">นามสกุล</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="member_surname"
																	@bind-value="member_surname">
																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">สังกัด</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="card_person"
																	@bind-value="fullgroup">
																</div>
															</div>
														</div>
														<div class="col-xl-8 col-md-6 col-sm-6 d-flex flex-column">
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<button class="btn btn-outline-secondary" @onclick="SearchOfGetAcc">ค้นหา</button>
														</div>
													</div>
													<RadzenDataGrid Data="@dataaccDetails" TItem="Models.ReqAccDetails" ColumnWidth="100%"
																	AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
																	FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
																	AllowPaging="true" AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left"
																	ShowPagingSummary="true">
														<Columns>
															<RadzenDataGridColumn Width="10%" TItem="Models.ReqAccDetails" Title="ทะเบียน"
																				  Property="member_no">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		 data-bs-dismiss="modal">
																		@context.member_no
																	</div>
																</Template>
															</RadzenDataGridColumn>

															<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails"
																				  Title="ชื่อ - นามสกุล" Property="memb_name">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		 data-bs-dismiss="modal">
																		@context.memb_name @context.memb_surname
																	</div>
																</Template>
															</RadzenDataGridColumn>
															<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails"
																				  Title="รหัสประเภทบุคคล" Property="membcat_code">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		 data-bs-dismiss="modal">
																		@context.membcat_code
																	</div>
																</Template>
															</RadzenDataGridColumn>
															<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails" Title="ประเภทบุคคล"
																				  Property="membcat_desc">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		 data-bs-dismiss="modal">
																		@context.membcat_desc
																	</div>
																</Template>
															</RadzenDataGridColumn>
															<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails" Title="สังกัด"
																				  Property="membgroup_desc">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		 data-bs-dismiss="modal">
																		@context.membgroup_desc
																	</div>
																</Template>
															</RadzenDataGridColumn>
														</Columns>
													</RadzenDataGrid>

												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-1 col-md-2 col-sm-6 d-flex flex-column">
									@* <button type="submit" class="btn btn-outline-secondary">ค้นหา</button> *@
									<button type="button" class="btn btn-outline-secondary" @onclick="PerformSearch">
										@if (isLoading)
										{
											<span>...</span>
											<i class="fa fa-spinner fa-spin"></i>
										}
										else
										{
											<span>ค้นหา</span>
										}
									</button>
								</div>
							</div>
						</form>
					}
					else
					{
						<div class="from">
							@foreach (var Item in repReqdepoit)
							{
								<div class="row" style="margin-left: calc(var(--bs-gutter-x) * -.21);margin-bottom: 15px;">
									<div class="row">
										<div class="col-xl-3 col-md-4 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ทะเบียนสมาชิก</label>
											<div class="form-group ">
												<div class="input-group">
													<RadzenMask Mask="********" CharacterPattern="[0-9]" @bind-value="member_no" Name="member_no"
																class="form-control" @onkeydown="@HandleEnterKeyPress" />
													<div class="input-group-addon">
														<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
																	data-bs-target="#ModalSearch" />
													</div>
												</div>
											</div>
											<div class="modal" tabindex="-1" id="ModalSearch">
												<div class="modal-dialog modal-xl">
													<div class="modal-content">
														<!-- Modal Header -->
														<div class="modal-header">
															<h4 class="modal-title">ข้อมูลสมาชิก</h4>
															<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
														</div>
														<!-- Modal body -->
														<div class="modal-body">
															<div class="row" style="margin-left:-4px;margin-right:-4px;">
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ทะเบียนสมาชิก</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<RadzenMask Mask="********" CharacterPattern="[0-9]"
																			@bind-value="member_No_fild" Name="deptaccount_no" class="form-control" />

																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for=""> รหัสพนักงาน</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="emp_name" @bind-value="salary_id">

																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ประเภทบุคคล</label>
																	<select class="form-select" @bind="membcat_code">
																		<option selected>--เลือก--</option>
																		<option Value="10">สามัญ</option>
																		<option Value="20">สมทบ</option>
																		<option Value="30">สหกรณ์อื่นๆ</option>
																	</select>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ชื่อ</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="member_name"
																			@bind-value="member_name">

																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">นามสกุล</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="member_surname"
																			@bind-value="member_surname">
																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">สังกัด</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="card_person"
																			@bind-value="fullgroup">
																		</div>
																	</div>
																</div>
																<div class="col-xl-8 col-md-6 col-sm-6 d-flex flex-column">
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<button class="btn btn-outline-secondary" @onclick="SearchOfGetAcc">
																		ค้นหา
																	</button>
																</div>
															</div>
															<RadzenDataGrid Data="@dataaccDetails" TItem="Models.ReqAccDetails" ColumnWidth="100%"
																			AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
																			FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
																			AllowPaging="true" AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left"
																			ShowPagingSummary="true">
																<Columns>
																	<RadzenDataGridColumn Width="10%" TItem="Models.ReqAccDetails" Title="ทะเบียน"
																						  Property="member_no">
																		<Template>
																			<div @onclick="@(e => UpdateAccountDetails(context))" data-bs-dismiss="modal">
																				@context.member_no
																			</div>
																		</Template>
																	</RadzenDataGridColumn>

																	<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails" Title="ชื่อ - นามสกุล"
																						  Property="memb_name">
																		<Template>
																			<div @onclick="@(e => UpdateAccountDetails(context))" data-bs-dismiss="modal">
																				@context.memb_name @context.memb_surname
																			</div>
																		</Template>
																	</RadzenDataGridColumn>
																	<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails" Title="รหัสประเภทบุคคล"
																						  Property="membcat_code">
																		<Template>
																			<div @onclick="@(e => UpdateAccountDetails(context))" data-bs-dismiss="modal">
																				@context.membcat_code
																			</div>
																		</Template>
																	</RadzenDataGridColumn>
																	<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails" Title="ประเภทบุคคล"
																						  Property="membcat_desc">
																		<Template>
																			<div @onclick="@(e => UpdateAccountDetails(context))" data-bs-dismiss="modal">
																				@context.membcat_desc
																			</div>
																		</Template>
																	</RadzenDataGridColumn>
																	<RadzenDataGridColumn Width="20%" TItem="Models.ReqAccDetails" Title="สังกัด"
																						  Property="membgroup_desc">
																		<Template>
																			<div @onclick="@(e => UpdateAccountDetails(context))" data-bs-dismiss="modal">
																				@context.membgroup_desc
																			</div>
																		</Template>
																	</RadzenDataGridColumn>
																</Columns>
															</RadzenDataGrid>

														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-1 col-md-2 col-sm-6 d-flex flex-column">
											<button type="button" class="btn btn-outline-secondary" @onclick="PerformSearch">
												@if (isLoading)
												{
													<span>...</span>
													<i class="fa fa-spinner fa-spin"></i>
												}
												else
												{
													<span>ค้นหา</span>
												}
											</button>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ประเภทบัญชี</label>
											<select id="depttype" name="depttype_code" class="form-select" @onchange="DepttypeChanged">
												@if (Item.depttype == null || !Item.depttype.Any())
												{
													<option selected disabled></option>
												}
												else
												{
													@foreach (var depttypeItem in Item.depttype)
													{
														if (depttypeItem.deptmain_type == Item.depttype_code)
														{
															isCurrentOptionSelected = true;

														}
														else
														{
															isCurrentOptionSelected = false;
														}
														<option value="@depttypeItem.deptmain_type | @depttypeItem.deptmain_desc" selected="@isCurrentOptionSelected">
															@depttypeItem.deptmain_desc
														</option>
													}
												}
											</select>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">วันที่เปิดบัญชี</label>
											<RadzenDatePicker @bind-Value=Item.operate_date ReadOnly @oninput="FormatDate" Name="operate_date"
												DateFormat="dd/MM/yyyy" />
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">วันครบกำหนด</label>
											<RadzenDatePicker @bind-Value=Item.due_date ReadOnly Name="operate_date" DateFormat="dd/MM/yyyy" />
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">เลขที่สมุดเงินฝาก</label>
											<div class="form-group ">
												<div class="input-group">
													<RadzenDropDown Disabled="@(chk_deptpassbookno)" AllowClear="true" @bind-Value="@deptpassbook_no"
														AllowFiltering="true" Data="@getOfBookNo" Class="form-control" TextProperty="book_no"
														ValueProperty="book_no" Name="DropDownFilteringLoadData" />
													<div class="input-group-addon">
														@* <RadzenCheckBox style="margin-left: 5px;margin-top: 7px;" @bind-Value=@chk_deptpassbookno
															Name="chk_deptpassbookno" /> *@
															  <RadzenCheckBox style="margin-left: 5px; margin-top: 7px;" @bind-Value="@chk_deptpassbookno"
                    											Name="chk_deptpassbookno" @bind-Value:after="@(OnChkDeptPassbookNoChanged)" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ประเภทบุคคล</label>
											<RadzenTextBox class="form-control" type="text" ReadOnly Name="membcat_code" @bind-value="Item.membcat_desc" />
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">เลขที่บัญชี</label>
											<div class="form-group ">
												<div class="input-group">
													<input type="text" class="format-money form-control" Name="deptslip_netamt" value="@Item.deptaccount_no"
														disabled="@(!chk_deptacc)" />
													<div class="input-group-addon">
														<RadzenCheckBox style="margin-left: 5px;margin-top: 7px;" @bind-Value=@chk_deptacc Name="CheckBox1" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ชื่อบัญชี(TH)</label>
											<RadzenTextBox class="form-control" type="text" ReadOnly Name="deptaccount_name"
												@bind-value="Item.deptaccount_name" />
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">การฝากรายเดือน</label>
											<select class="form-select" @bind="Item.deptmonth_status">
												<option Value="0">ไม่ต้องการฝาก</option>
												<option Value="1">ต้องการฝาก</option>
											</select>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ผู้ถือบัญชี</label>
											<select id="recppaytypeSelect" name="depttype_code" class="form-select" @onchange="AcctypeChanged">
												@if (Item.recppaytype == null || !Item.recppaytype.Any())
												{
													<option selected disabled></option>
												}
												else
												{
													@foreach (var acctypeItem in Item.acctype)
													{
														if (acctypeItem.account_type == Item.account_type)
														{
															isCurrentOptionSelected = true;

														}
														else
														{
															isCurrentOptionSelected = false;
														}
														<option value="@acctypeItem.account_type|@acctypeItem.account_desc" selected="@isCurrentOptionSelected">
															@acctypeItem.account_type - @acctypeItem.account_desc
														</option>
													}
												}
											</select>
										</div>
										<div class="col-xl-6 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ชื่อบัญชี(EN)</label>
											<RadzenTextBox class="form-control" type="text" ReadOnly Name="deptaccount_ename"
												@bind-value="Item.deptaccount_ename" />
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">จำนวนส่งรายงวด</label>
											<input type="text" class="format-money form-control" Name="deptmonth_amt" value="@Item.deptmonth_amt" />
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">เปิดบัญชีโดย</label>
											<select id="recppaytypeSelect" name="recppaytype_code" @onchange="RecpPayTypeChanged" class="form-select">
												@if (Item.recppaytype == null || !Item.recppaytype.Any())
												{
													<option selected disabled></option>
												}
												else
												{
													@foreach (var recppaytypeItem in Item.recppaytype)
													{
														if (recppaytypeItem.recppaytype_code == Item.recppaytype_code)
														{
															isCurrentOptionSelected = true;

														}
														else
														{
															isCurrentOptionSelected = false;
														}
														<option
															value="@recppaytypeItem.recppaytype_code|@recppaytypeItem.recppaytype_desc|@recppaytypeItem.cash_type|@recppaytypeItem.tofrom_accid"
															selected="@isCurrentOptionSelected">
															@recppaytypeItem.recppaytype_code - @recppaytypeItem.recppaytype_desc
														</option>
													}
												}
											</select>
										</div>
										<div class="col-xl-6 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">เพื่อ</label>
											<input class="form-control" type="text" Name="dept_objective" @bind-value="Item.dept_objective" />
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">อ้างอิง</label>
											<div class="form-group ">
												<div class="input-group">
													<input type="text" class="format-money form-control" Name="deptslip_netamt" value="@Item.deptslip_no" />
													<div class="input-group-addon">
														<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal" data-bs-target="#myModal1" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">รหัสคู่บัญชี</label>
											<select id="tofromaccSelect" class="form-select" value="@recpPayCash" @onchange="TofromaccChanged">
												@if (Item.tofromacc == null || !Item.tofromacc.Any())
												{
													<option selected disabled>--กรุณาเลือก--</option>
												}
												else
												{
													<option selected disabled>--กรุณาเลือก--</option>
													@foreach (var tofromaccItem in Item.tofromacc)
													{
														bool isCashTypeSelected = (tofromaccItem.cash_type == recpPayTypeCash);
														bool isItemAccIdSelected = (tofromaccItem.cash_type == Item.moneytype_code);
														bool isCurrentOptionSelected = (tofromaccItem.tofrom_accid == valuetoFromaccId);
														if (isCashTypeSelected)
														{
															// เลือก <option> เมื่อ isCashTypeSelected เป็น true
															if (valuetoFromaccId == null || recpPayTypeCash == null)
															{
																<option value="@($"{tofromaccItem.cash_type}|{tofromaccItem.tofrom_accid}|{tofromaccItem.tofrom_accdesc}")"
																	selected="@isCurrentOptionSelected">
																	@tofromaccItem.tofrom_accid - @tofromaccItem.tofrom_accdesc
																</option>
															}
															else
															{
																if (valuetoFromaccId == "11013001" && recpPayCash == "CHQ")
																{
																	bool isOptionSelected = tofromaccItem.tofrom_accid == valuetoFromaccId && valuetoFromaccId == "11013001";
																	<option value="@($"{tofromaccItem.cash_type}|{tofromaccItem.tofrom_accid}|{tofromaccItem.tofrom_accdesc}")"
																		selected="@isOptionSelected">
																		@tofromaccItem.tofrom_accid - @tofromaccItem.tofrom_accdesc
																	</option>
																}
																else
																{
																	<option value="@($"{tofromaccItem.cash_type}|{tofromaccItem.tofrom_accid}|{tofromaccItem.tofrom_accdesc}")"
																		selected="@isCurrentOptionSelected">
																		@tofromaccItem.tofrom_accid - @tofromaccItem.tofrom_accdesc
																	</option>
																}


															}
														}
														else if (isItemAccIdSelected)
														{
															// เลือก <option> เมื่อ isItemAccIdSelected เป็น true
															if (valuetoFromaccId == null || recpPayTypeCash == null)
															{
																<option value="@($"{tofromaccItem.cash_type}|{tofromaccItem.tofrom_accid}|{tofromaccItem.tofrom_accdesc}")"
																	selected="@isItemAccIdSelected">
																	@tofromaccItem.tofrom_accid - @tofromaccItem.tofrom_accdesc
																</option>
															}
														}
													}
												}
											</select>
										</div>
										<div class="col-xl-6 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">เงื่อนไขการถอน</label>
											<RadzenTextBox class="form-control" type="text" Name="condforwithdraw" @bind-value="Item.condforwithdraw" />
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ประเภทเงิน</label>
											<input class="form-control" style="text-align: center;" readonly type="text" name="cash_type" value="" />
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ระยะเวลาการรับด/บ</label>
											<select class="form-select" @bind="Item.upint_time">
												<option Value="1">ตามประเภท</option>
												<option Value="2">รายเดือน</option>
												<option Value="3">ราย 3 เดือน</option>
											</select>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">วิธีรับดอกเบี้ย</label>
											<select class="form-select" value="@Item.monthintpay_meth" @onchange="BookNo">
												<option Value="0">ทบต้น</option>
												<option value="1">โอนเข้า บ/ช</option>
												<option Value="3">รับเองโดยแยกต้นเงินใหม่</option>
												<option Value="2">โอนเข้า บ/ช ธนาคาร</option>
												<option Value="5">รับเป็นธนาณัติ</option>
											</select>
										</div>
										<div class="col-xl-6 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ชื่อบัญชีโอนดอกเบี้ย</label>
											<input type="text" class="format-money form-control" Name="deptslip_netamt" value="@Item.dept_tranacc_name" />
										</div>
										</div>
										@if (type_monthintpay == 1 || type_monthintpay == 2)
										{
											@if (type_monthintpay == 1)
											{
												<div class="d-flex justify-content-around">
													<div class="row mx-0">
														<div class="col-xl-6 col-md-12 col-sm-12 d-flex flex-column">
															<div class="row me-1">
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">เลขบัญชีโอนดอกเบี้ย</label>
																	<div class="form-group">
																		<div class="input-group">
																			<input type="text" class="format-money form-control" Name="tran_deptacc_no"
																				@bind="@tran_deptacc_no" />
																			<div class="input-group-addon">
																				<RadzenIcon class="icons icon-search" disabled Icon="ballot" data-bs-toggle="modal"
																					data-bs-target="#tranDeptno" />
																			</div>
																			<!-- The Modal tranDeptno -->
																			<div class="modal" id="tranDeptno">
																				<div class="modal-dialog modal-xl">
																					<div class="modal-content">
																						<!-- Modal Header -->
																						<div class="modal-header">
																							<h4 class="modal-title">ข้อมูลบัญชี</h4>
																							<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
																						</div>
																						<!-- Modal body -->
																						<div class="modal-body">
																							<RadzenDataGrid Data="@tranDeptDetails" TItem="Models.TranDeptno"
																								ColumnWidth="100" AllowFiltering="true"
																								FilterPopupRenderMode="PopupRenderMode.OnDemand"
																								FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals"
																								PageSize="10" AllowPaging="true" AllowSorting="true"
																								PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
																								<Columns>
																									<RadzenDataGridColumn Width="30%" TItem="Models.TranDeptno"
																										Title="ประเภทเงินฝาก" Property="depttype_code">
																										<Template>
																											<div @onclick="@(e => UpdateTranDeptno(context))"
																												data-bs-dismiss="modal">
																												@context.depttype_code
																											</div>
																										</Template>
																									</RadzenDataGridColumn>
																									<RadzenDataGridColumn Width="40%" TItem="Models.TranDeptno"
																										Title="เลขที่บัญชี" Property="deptaccount_no">
																										<Template>
																											<div @onclick="@(e => UpdateTranDeptno(context))"
																												data-bs-dismiss="modal">
																												@context.deptaccount_no
																											</div>
																										</Template>
																									</RadzenDataGridColumn>
																									<RadzenDataGridColumn Width="40%" TItem="Models.TranDeptno"
																										Title="ชื่อบัญชี" Property="deptaccount_name">
																										<Template>
																											<div @onclick="@(e => UpdateTranDeptno(context))"
																												data-bs-dismiss="modal">
																												@context.deptaccount_name
																											</div>
																										</Template>
																									</RadzenDataGridColumn>
																								</Columns>
																							</RadzenDataGrid>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-xl-8 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ประเภทบัญชี</label>
																	<select id="recppaytypeSelect" name="depttype_code" class="form-select" @bind="traninttype_code">
																		@if (Item.recppaytype == null || !Item.recppaytype.Any())
																		{
																			<option selected disabled></option>
																		}
																		else
																		{
																			@foreach (var depttypeItem in Item.depttype)
																			{
																				if (depttypeItem.deptgroup_code == Item.traninttype_code)
																				{
																					isCurrentOptionSelected = true;

																				}
																				else
																				{
																					isCurrentOptionSelected = false;
																				}
																				<option value="@depttypeItem.deptmain_type" selected="@isCurrentOptionSelected">
																					@depttypeItem.deptmain_desc
																				</option>
																			}
																		}
																	</select>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ธนาคาร1</label>
																	<div class="form-group">
																		<div class="input-group">
																			<input class="format-money form-control" type="text" style="text-align: center; width: 30%;"
																				name="bank_code" readonly value="@bank_code" @oninput="OnGetBankChanged" />
																			<select id="getBankSelect" disabled class="form-select" @onchange="OnGetBankSelectChanged"
																				style="width: 70%;">
																			</select>
																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">สาขา</label>
																	<div class="form-group">
																		<div class="input-group">
																			<input class="format-money form-control" type="text" style="text-align: center; width: 30%;"
																				name="bank_code" readonly value="@bankbranch_code" @oninput="OnBankBranchChanged" />
																			<select id="getBankSelect" disabled class="form-select"
																				@onchange="OnBankBranchSelectChanged" style="width: 70%;">
																			</select>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-xl-6 col-md-12 col-sm-12 d-flex flex-column">
															<div class="row me-1">
																<div class="col-xl-12 col-md-12 col-sm-12 d-flex flex-column">
																	<label class="form-label" for="">รวมสุทธิ</label>
																	<input class="format-money form-control" @onblur="(e) => {FormatNumber(); CheckDeptslipAmt();}"
																		@bind="DeptslipAmt" placeholder="0.00" type="text"
																		style="text-align: end; font-size: 50px; height: 7rem;" name="prncbal" id="showNumber" />
																</div>
															</div>
														</div>
													</div>
												</div>
											}
											else
											{
												<div class="d-flex justify-content-around">
													<div class="row mx-0">
														<div class="col-xl-6 col-md-12 col-sm-12 d-flex flex-column">
															<div class="row me-1">
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">เลขบัญชีโอนดอกเบี้ย</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input type="text" class="format-money form-control" Name="tran_deptacc_no"
																				@bind="@tran_deptacc_no" />
																			<div class="input-group-addon">
																				<RadzenIcon class="icons icon-search" Icon="ballot" disabled />
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-xl-8 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ประเภทบัญชี</label>
																	<select id="recppaytypeSelect" name="depttype_code" disabled class="form-select"
																		@bind="traninttype_code">
																	</select>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ธนาคาร2</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="format-money form-control" type="text" style="text-align: center; width: 30%;"
																				name="bank_code" value="@bank_code" @oninput="OnGetBankChanged" />
																			<select id="getBankSelect" class="form-select" @onchange="OnGetBankSelectChanged"
																				style="width: 70%;">
																				<option selected>--กรุณาเลือก--</option>
																				@foreach (var getBankItem in getBank)
																				{
																					bool isCurrentOptionSelected = getBankItem.bank_code == BankValues;
																					<option value="@getBankItem.bank_code" selected="@isCurrentOptionSelected">
																						@getBankItem.bank_code - @getBankItem.bank_desc
																					</option>
																				}
																			</select>
																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">สาขา</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="format-money form-control" type="text" style="text-align: center; width: 30%;"
																				name="bank_code" disabled="@(bank_code==null||BankValues ==null)"
																				value="@bankbranch_code" @oninput="OnBankBranchChanged" />
																			<select id="getBankSelect" class="form-select"
																				disabled="@(bank_code==null||BankValues ==null)" @onchange="OnBankBranchSelectChanged"
																				style="width: 70%;">
																				<option selected>--กรุณาเลือก--</option>
																				@foreach (var bankBranchItem in bankBranch)
																				{
																					bool isCurrentOptionSelected = bankBranchItem.branch_id == BankBranchValues;
																					<option value="@bankBranchItem.branch_id" selected="@isCurrentOptionSelected">
																						@bankBranchItem.branch_id - @bankBranchItem.branch_name
																					</option>
																				}
																			</select>
																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<div class="form-check" style="margin-top: 35px;">
																		<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
																		<label class="form-check-label" for="flexCheckDefault">ค้ำประกัน1</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-xl-6 col-md-12 col-sm-12 d-flex flex-column">
															<div class="row me-1">
																<div class="col-xl-12 col-md-12 col-sm-12 d-flex flex-column">
																	<label class="form-label" for="">รวมสุทธิ</label>
																	<input class="format-money form-control" @onblur="(e) => {FormatNumber(); CheckDeptslipAmt();}"
																		@bind="DeptslipAmt" placeholder="0.00" type="text"
																		style="text-align: end; font-size: 50px; height: 7rem;" name="prncbal" id="showNumber" />
																</div>
															</div>
														</div>
													</div>
												</div>
											}
										}
										else
										{
											<div class="d-flex justify-content-around">
												<div class="row mx-0">
													<div class="col-xl-6 col-md-12 col-sm-12 d-flex flex-column">
														<div class="row me-1">
															<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																<label class="form-label" for="">เลขบัญชีโอนดอกเบี้ย</label>
																<div class="form-group ">
																	<div class="input-group">
																		<input type="text" class="format-money form-control" Name="tran_deptacc_no"
																			@bind="@tran_deptacc_no" />
																		<div class="input-group-addon">
																			<RadzenIcon class="icons icon-search" disabled Icon="ballot" data-bs-toggle="modal"
																				data-bs-target="#tranDeptno" />
																		</div>
																		<!-- The Modal tranDeptno -->
																		<div class="modal" id="tranDeptno">
																			<div class="modal-dialog modal-xl">
																				<div class="modal-content">
																					<!-- Modal Header -->
																					<div class="modal-header">
																						<h4 class="modal-title">ข้อมูลบัญชี</h4>
																						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
																					</div>
																					<!-- Modal body -->
																					<div class="modal-body">
																						<RadzenDataGrid Data="@tranDeptDetails" TItem="Models.TranDeptno"
																							ColumnWidth="100" AllowFiltering="true"
																							FilterPopupRenderMode="PopupRenderMode.OnDemand"
																							FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals"
																							PageSize="10" AllowPaging="true" AllowSorting="true"
																							PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
																							<Columns>
																								<RadzenDataGridColumn Width="30%" TItem="Models.TranDeptno"
																									Title="ประเภทเงินฝาก" Property="depttype_code">
																									<Template>
																										<div @onclick="@(e => UpdateTranDeptno(context))"
																											data-bs-dismiss="modal">
																											@context.depttype_code
																										</div>
																									</Template>
																								</RadzenDataGridColumn>
																								<RadzenDataGridColumn Width="40%" TItem="Models.TranDeptno"
																									Title="เลขที่บัญชี" Property="deptaccount_no">
																									<Template>
																										<div @onclick="@(e => UpdateTranDeptno(context))"
																											data-bs-dismiss="modal">
																											@context.deptaccount_no
																										</div>
																									</Template>
																								</RadzenDataGridColumn>
																								<RadzenDataGridColumn Width="40%" TItem="Models.TranDeptno"
																									Title="ชื่อบัญชี" Property="deptaccount_name">
																									<Template>
																										<div @onclick="@(e => UpdateTranDeptno(context))"
																											data-bs-dismiss="modal">
																											@context.deptaccount_name
																										</div>
																									</Template>
																								</RadzenDataGridColumn>
																							</Columns>
																						</RadzenDataGrid>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-xl-8 col-md-6 col-sm-6 d-flex flex-column">
																<label class="form-label" for="">ประเภทบัญชี</label>
																<select id="recppaytypeSelect" name="depttype_code" disabled class="form-select"
																	@bind="traninttype_code">
																</select>
															</div>
															<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																<label class="form-label" for="">ธนาคาร3</label>
																<div class="form-group ">
																	<div class="input-group">
																		<input class="format-money form-control" readonly type="text"
																			style="text-align: center; width: 30%;" name="bank_code" @oninput="OnGetBankChanged" />
																		<select id="getBankSelect" disabled class="form-select" @onchange="OnGetBankSelectChanged"
																			style="width: 70%;">
																		</select>
																	</div>
																</div>
															</div>
															<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																<label class="form-label" for="">สาขา</label>
																<div class="form-group ">
																	<div class="input-group">
																		<input class="format-money form-control" type="text" readonly
																			style="text-align: center; width: 30%;" name="bank_code"
																			@oninput="OnBankBranchChanged" />
																		<select id="getBankSelect" disabled class="form-select"
																			@onchange="OnBankBranchSelectChanged" style="width: 70%;">
																		</select>
																	</div>
																</div>
															</div>
															<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																<div class="form-check" style="margin-top: 35px;">
																	<input class="form-check-input" type="checkbox" @bind="@dept_status1"
																		@onclick="CheckboxChanged">
																	<label class="form-check-label">ค้ำประกัน</label>
																</div>
															</div>
														</div>
													</div>
													<div class="col-xl-6 col-md-12 col-sm-12 d-flex flex-column">
														<div class="row me-1">
															<div class="col-xl-12 col-md-12 col-sm-12 d-flex flex-column">
																<label class="form-label" for="">รวมสุทธิ</label>
																<input class="format-money form-control" @onblur="(e) => {FormatNumber(); CheckDeptslipAmt();}"
																	@bind="DeptslipAmt" placeholder="0.00" type="text"
																	style="text-align: end; font-size: 50px; height: 7rem;" name="prncbal" id="showNumber" />
															</div>
														</div>
													</div>
												</div>
											</div>
										}
									</div>
									@if (AcctypeValue == "02")
									{
										<RadzenTabs @bind-SelectedIndex=@selectedIndex>
											<Tabs>
												<RadzenTabsItem Text="ผู้ฝากร่วม">
													<div class="row">
														<label for="form-label">ผู้ฝากร่วม</label>
														<button type="button" @onclick="AddRow">Add Row</button>
														<RadzenDataGrid Data="@deptdepositAcc" TItem="Models.deptDepositAcc" ColumnWidth="200px"
																		AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
																		FilterMode="FilterMode.Advanced" PageSize="10"
																		AllowPaging="true" AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left"
																		ShowPagingSummary="true" @ref="dataGridRef">
															<Columns>
																<RadzenDataGridColumn TItem="Models.deptDepositAcc" Width="10%" Title="ลำดับ"
																					  Property="order"></RadzenDataGridColumn>
																<RadzenDataGridColumn TItem="Models.deptDepositAcc" Width="25%" Title="ชื่อ"
																					  Property="memb_name">
																	<Template Context="data">
																		<input type="text" value="@data.memb_name">
																	</Template>
																</RadzenDataGridColumn>
																<RadzenDataGridColumn TItem="Models.deptDepositAcc" Width="15%" Title="นามสกุล"
																					  Property="memb_surname"></RadzenDataGridColumn>
																<RadzenDataGridColumn TItem="Models.deptDepositAcc" Width="25%" Title="รายละเอียด"
																					  Property="description"></RadzenDataGridColumn>
																<RadzenDataGridColumn TItem="Models.deptDepositAcc" Width="10%" Title="ลบ">
																	<Template Context="data">
																		<RadzenButton Text="ลบ" Icon="delete" ButtonStyle="ButtonStyle.Danger"
																		@onclick="(e) => DeleteRow(data)" />
																	</Template>
																</RadzenDataGridColumn>
															</Columns>
														</RadzenDataGrid>
													</div>
												</RadzenTabsItem>
											</Tabs>
										</RadzenTabs>
									}
							}
						</div>
						<div class="card mt-4" hidden>
							<div class="row mt-2"
								 style="margin-left: calc(var(--bs-gutter-x) * .5);margin-right: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
								<RadzenTabs @bind-SelectedIndex=@selectedIndex>
									<Tabs>
										<RadzenTabsItem Text="ข้อมูลรูปภาพ">
											<div class="row">
												@* <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">เลือกกลุ่มงาน</label>
											<select class="form-select" @bind="membcat_code" >
											<option selected>--เลือก--</option>
											<option Value="10">สามัญ</option>
											<option Value="20">สมทบ</option>
											<option Value="30">สหกรณ์อื่นๆ</option>
											</select>
											</div>
											<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">เลือกรูปแบบข้อมูล</label>
											<select class="form-select" @bind="membcat_code" >
											<option selected>--เลือก--</option>
											<option Value="10">สามัญ</option>
											<option Value="20">สมทบ</option>
											<option Value="30">สหกรณ์อื่นๆ</option>
											</select>
											</div> *@
												<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
													<label class="form-label" for="">ชื่อรูปภาพ</label>
													<input class="form-control" type="text" Name="remark" @bind-value="@file_name" />

												</div>
												<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
													<label class="form-label" for="">วันที่หมดอายุ</label>
													<RadzenDatePicker @bind-Value=operate_date Disabled="true" Name="operate_date"
																	  DateFormat="dd/MM/yyyy" />
												</div>
												<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
													<label class="form-label" for="">หมายเหตุ</label>
													<input class="form-control" type="text" Name="remark" @bind-value="@remark" />
												</div>
												<div class="col-xl-12 col-md-12 col-sm-6 d-flex flex-column" style="text-align: center;">
													<label class="form-label" for="">กำหนดสำหรับอ้างถึง</label>
													<RadzenCard Style="background-color: transparent;">
														<RadzenUpload @ref="upload" Auto="false" Multiple="true" Url="upload/multiple"
																	  Change=@(args => OnChange(args, "Manual Upload")) Progress=@(args =>
																  OnProgress(args, "Manual Upload")) class="w-100" />
													</RadzenCard>
												</div>
											</div>
											<div class="row">
												<RadzenDataGrid Data="@dataaccDetails" TItem="Models.ReqAccDetails" ColumnWidth="200px"
																AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
																FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
																AllowPaging="true" AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left"
																ShowPagingSummary="true">
													<Columns>
														<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="10%" Title="ลำดับ"
																			  Property="prnc_no"></RadzenDataGridColumn>
														<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="25%" Title="แฟ้มข้อมูล (ชื่อ)"
																			  Property="prnc_bal"></RadzenDataGridColumn>
														<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="15%" Title="รูปแบบข้อมูล"
																			  Property="prncslip_amt"></RadzenDataGridColumn>
														<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="10%" Title="วันที่หมดอายุ"
																			  Property="prnc_date"></RadzenDataGridColumn>
														<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="15%" Title="ผู้เพิ่ม"
																			  Property="prncdue_date"></RadzenDataGridColumn>
														<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="10%" Title="วันที่เพิ่ม"
																			  Property="calint_from"></RadzenDataGridColumn>
														<RadzenDataGridColumn TItem="Models.ReqAccDetails" Width="15%" Title="ประเภท File"
																			  Property="calint_to"></RadzenDataGridColumn>
													</Columns>
												</RadzenDataGrid>
											</div>

										</RadzenTabsItem>
									</Tabs>
								</RadzenTabs>
							</div>
						</div>
					}
				</RadzenStepsItem>
				<RadzenStepsItem Disabled="@(disable)" Text="ตรวจสอบรายการ" @onclick="@CheckDeptslipAmt">
					@* <RadzenStepsItem Disabled="@(repReqdepoit == null)" Text='@(currentStep == 2 ? "เสร็จสิ้น" : "ยืนยัน")' Next='@(currentStep == 2)'> *@
					<RadzenRow>
						<RadzenText Text="ตรวจสอบรายละเอียด" />
					</RadzenRow>
					@if (repReqdepoit != null)
					{
						<div class="from">
							@foreach (var Item in repReqdepoit)
							{
								<div class="row" style="margin-left: calc(var(--bs-gutter-x) * -.21);margin-bottom: 15px;">
									<div class="row">
										<div class="col-xl-2 col-md-4 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">ทะเบียนสมาชิก</label>
											<div class="form-group ">
												<div class="label-group">
													<div class="input-group-addon">
														<RadzenText Text="@member_no" />
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-3 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">ประเภทบัญชี</label>
											<div class="form-group ">
												<div class="input-group">
													@if (selectedValue == null)
													{
														<select id="depttype" name="depttype_code" style="background-color:transparent; border-color: transparent;--bs-form-select-bg-img:url();" disabled class="form-select">
															@if (Item.depttype == null || !Item.depttype.Any())
															{
																<option selected disabled></option>
															}
															else
															{
																@foreach (var depttypeItem in Item.depttype)
																{
																	bool isCurrentOptionSelected = depttypeItem.deptmain_type == Item.depttype_code;

																	<option value="@depttypeItem.deptmain_type | @depttypeItem.deptmain_desc" selected="@isCurrentOptionSelected">
																		@depttypeItem.deptmain_desc
																	</option>
																}
															}
														</select>
													}
													else
													{
														<RadzenText Text="@selectedValue" />
													}
												</div>
											</div>
										</div>
										<div class="col-xl-3 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">เปิดบัญชีโดย</label>
											@if (selectRecpPayType == null)
											{
												<select id="recppaytypeSelect" name="recppaytype_code" class="form-select"
														disabled style="background-color: transparent;border-color: transparent;--bs-form-select-bg-img:url();">
													@if (Item.recppaytype == null || !Item.recppaytype.Any())
													{
														<option selected disabled></option>
													}
													else
													{
														@foreach (var recppaytypeItem in Item.recppaytype)
														{
															if (recppaytypeItem.recppaytype_code == Item.recppaytype_code)
															{
																isCurrentOptionSelected = true;

															}
															else
															{
																isCurrentOptionSelected = false;
															}
															<option value="@recppaytypeItem.recppaytype_code|@recppaytypeItem.recppaytype_desc|@recppaytypeItem.cash_type|@recppaytypeItem.tofrom_accid" selected="@isCurrentOptionSelected">
																@recppaytypeItem.recppaytype_code - @recppaytypeItem.recppaytype_desc
															</option>
														}
													}
												</select>
											}
											else
											{
												<RadzenText Text="@selectRecpPayType" />
											}
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">วันที่เปิดบัญชี</label>
											<div class="form-group ">
												<div class="label-group">
													@* <label for=""> @String.Format("{0:dd/MM/yyyy}", Item.operate_date)</label> *@
													<RadzenText Text="@String.Format("{0:dd/MM/yyyy}", Item.operate_date)" />

												</div>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">วันครบกำหนด</label>
											<div class="form-group ">
												<div class="label-group">
													@* <label for=""> @String.Format("{0:dd/MM/yyyy}", Item.due_date)</label> *@
													<RadzenText Text="@String.Format("{0:dd/MM/yyyy}", Item.due_date)" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">ผู้ถือบัญชี</label>
											<div class="form-group ">
												<div class="input-group">
													@if (selectAcctype == null)
													{
														<select id="recppaytypeSelect" name="depttype_code" class="form-select" style="background-color:transparent; border-color: transparent;--bs-form-select-bg-img:url();" disabled>
															@if (Item.recppaytype == null || !Item.recppaytype.Any())
															{
																<option selected disabled></option>
															}
															else
															{
																@foreach (var acctypeItem in Item.acctype)
																{
																	if (acctypeItem.account_type == Item.account_type)
																	{
																		isCurrentOptionSelected = true;

																	}
																	else
																	{
																		isCurrentOptionSelected = false;
																	}
																	<option value="@acctypeItem.account_type" selected="@isCurrentOptionSelected">
																		@acctypeItem.account_type - @acctypeItem.account_desc
																	</option>
																}
															}
														</select>
													}
													else
													{
														<RadzenText Text="@selectAcctype" />
													}
												</div>
											</div>
										</div>
										@* @if(){} *@
										<div class="col-xl-3 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">รหัสคู่บัญชี</label>
											@if (selectTofromacc == null)
											{
												<select id="tofromaccSelect" class="form-select" value="@recpPayCash" @onchange="TofromaccChanged" disabled style="background-color: transparent;border-color: transparent;--bs-form-select-bg-img:url();">
													@if (Item.tofromacc == null || !Item.tofromacc.Any())
													{
														<option selected disabled>--กรุณาเลือก--</option>
													}
													else
													{
														<option selected disabled>--กรุณาเลือก--</option>
														@foreach (var tofromaccItem in Item.tofromacc)
														{
															bool isCashTypeSelected = (tofromaccItem.cash_type == recpPayTypeCash);
															bool isItemAccIdSelected = (tofromaccItem.cash_type == Item.moneytype_code);
															bool isCurrentOptionSelected = (tofromaccItem.tofrom_accid == valuetoFromaccId);
															if (isCashTypeSelected)
															{
																// เลือก <option> เมื่อ isCashTypeSelected เป็น true
																if (valuetoFromaccId == null || recpPayTypeCash == null)
																{
																	<option value="@($"{tofromaccItem.cash_type}|{tofromaccItem.tofrom_accid}|{tofromaccItem.tofrom_accdesc}")"
																			selected="@isCurrentOptionSelected">
																		@tofromaccItem.tofrom_accid - @tofromaccItem.tofrom_accdesc<p>@recpPayTypeCash:@valuetoFromaccId</p>
																	</option>
																}
																else
																{
																	<option value="@($"{tofromaccItem.cash_type}|{tofromaccItem.tofrom_accid}|{tofromaccItem.tofrom_accdesc}")"
																			selected="@isCurrentOptionSelected">
																		@tofromaccItem.tofrom_accid - @tofromaccItem.tofrom_accdesc<p>2</p>
																	</option>
																}
															}
															else if (isItemAccIdSelected)
															{
																// เลือก <option> เมื่อ isItemAccIdSelected เป็น true
																if (valuetoFromaccId == null || recpPayTypeCash == null)
																{
																	<option value="@($"{tofromaccItem.cash_type}|{tofromaccItem.tofrom_accid}|{tofromaccItem.tofrom_accdesc}")"
																			selected="@isItemAccIdSelected">
																		@tofromaccItem.tofrom_accid - @tofromaccItem.tofrom_accdesc
																	</option>
																}
															}
														}
													}
												</select>
											}
											else
											{
												<RadzenText Text="@selectTofromacc" />
											}
										</div>
										@{
											string colSizeClass = (recpPayTypeCode == "OTR") ? "col-xl-2" : "col-xl-3";
										}
										<div class="@colSizeClass col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">ระยะเวลาการรับดอกเบี้ย</label>
											<select class="form-select" @bind="Item.upint_time" disabled style="background-color: transparent;border-color: transparent;--bs-form-select-bg-img:url();">
												<option Value="1">ตามประเภท</option>
												<option Value="2">รายเดือน</option>
												<option Value="3">ราย 3 เดือน</option>

											</select>
										</div>
										<div class="col-xl-3 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">วิธีรับดอกเบี้ย</label>
											<select class="form-select" value="@type_monthintpay" disabled style="background-color: transparent;border-color: transparent;--bs-form-select-bg-img:url();">
												<option Value="0">ทบต้น</option>
												<option value="1">โอนเข้า บ/ช</option>
												<option Value="3">รับเองโดยแยกต้นเงินใหม่</option>
												<option Value="2">โอนเข้า บ/ช ธนาคาร</option>
												<option Value="5">รับเป็นธนาณัติ</option>
											</select>
										</div>
										@if (recpPayTypeCode == "OTR")
										{
											<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
												<label class="form-label-preview" for="">อ้างอิง</label>
												<div class="form-group ">
													<div class="lable-group">
														<RadzenText Text="@Item.deptslip_no" />
													</div>
												</div>
											</div>
										}

									</div>
									<div class="row">
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">ชื่อบัญชี</label>
											<div class="form-group ">
												<div class="label-group">
													<RadzenText Text="@Item.deptaccount_name" />
												</div>
											</div>
										</div>
										<div class="col-xl-3 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">เงื่อนไขการถอน</label>
											<div class="form-group ">
												<div class="label-group">
													<RadzenText Text="@Item.condforwithdraw" />
												</div>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<div class="form-check" style="margin-top: 35px;">
												<input class="form-check-input" style="opacity: 1;" disabled type="checkbox" @bind="dept_status1">
												<label class="form-check-label" style="opacity: 1;">ค้ำประกัน</label>
											</div>
										</div>
										<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
											<div class="form-check" style="margin-top: 35px;">
												@if (Item.deptmonth_status.ToString() == "1")
												{
													<input class="form-check-input" style="opacity: 1;" disabled type="checkbox" id="flexCheckDefault" checked>
													<label class="form-check-label" style="opacity: 100;" for="flexCheckDefault">การฝากรายเดือน</label>
												}
												else
												{
													<input class="form-check-input" style="opacity: 1; disabled type="checkbox" id="deptMonthCheckbox">
													<label class="form-check-label" style="opacity: 100;" for="deptMonthCheckbox">การฝากรายเดือน</label>
												}
											</div>
										</div>
										@if (dept_status == 1)
										{
											<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
												<label class="form-label-preview" for="">จำนวนส่งรายงวด</label>
												<div class="form-group ">
													<div class="label-group">
														<RadzenText Text="@Item.deptmonth_amt" />
													</div>
												</div>
											</div>
										}
									</div>
									<div class="row">
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column"></div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column"></div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label-preview" for="">ยอดรวมสุทธิ</label>
											<div class="form-group ">
												<div class="label-group">
													@* <RadzenText  Text="@DeptslipAmt ?? 0" style="text-align: end; font-size: 40px;"/> *@
													<RadzenText Text="@(DeptslipAmt?.ToString()  ?? "0")" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										@* <div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
								<label class="form-label-preview" for="">การฝากรายเดือน</label>
								<select class="form-select" @bind="Item.deptmonth_status" disabled style="background-color: transparent;border-color: transparent;--bs-form-select-bg-img:url();">
								<option Value="0">ไม่ต้องการฝาก</option>
								<option Value="1">ต้องการฝาก</option>
								</select>
								</div> *@
										@* <div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
								<label class="form-label" for="">เลขที่สมุดเงินฝาก</label>
								<div class="form-group ">
								<div class="label-group">
								<RadzenText Text="@Item.deptpassbook_no" />
								</div>
								</div>
								</div> *@
										@* <div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
								<label class="form-label" for="">เลขที่บัญชี</label>
								<div class="form-group ">
								<div class="label-group">
								<RadzenText Text="@Item.deptaccount_no" />
								</div>
								</div>
								</div>
								<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
								<label class="form-label" for="">ประเภทบุคคล</label>
								<div class="form-group ">
								<div class="label-group">
								<RadzenText Text="@Item.membcat_desc" />
								</div>
								</div>
								</div> *@
									</div>
									@* <div class="row">
							<div class="col-xl-3 col-md-6 col-sm-6 d-flex flex-column">
							<label class="form-label" for="">ชื่อบัญชี(EN)</label>
							<div class="form-group ">
							<div class="label-group">
							<RadzenText Text="@Item.deptaccount_ename" />
							</div>
							</div>
							</div>

							<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
							<label class="form-label" for="">เพื่อ</label>
							<div class="form-group ">
							<div class="label-group">
							<RadzenText Text="@Item.dept_objective" />
							</div>
							</div>
							</div>
							</div>
							<div class="row">

							@if(type_monthintpay ==1 || type_monthintpay==2){
							<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
							<label class="form-label" for="">เลขบัญชีโอนดอกเบี้ย</label>
							<div class="form-group ">
							<div class="label-group">
							<RadzenText Text="@tran_deptacc_no" />
							</div>
							</div>
							</div>
							}
							@if(type_monthintpay ==1 || type_monthintpay==2){
							<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
							<label class="form-label" for="">ชื่อบัญชี</label>
							<div class="form-group ">
							<div class="label-group">
							<RadzenText Text="@Item.dept_tranacc_name" />
							</div>
							</div>
							</div>
							@if(type_monthintpay ==1){
							<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
							<label class="form-label" for="">ประเภทบัญชี</label>
							<select id="recppaytypeSelect" name="depttype_code" class="form-select" disabled style="background-color: transparent;border-color: transparent;--bs-form-select-bg-img:url();"
							@bind="traninttype_code">
							@if (Item.recppaytype == null || !Item.recppaytype.Any())
							{
							<option selected disabled></option>
							}
							else
							{
							@foreach (var depttypeItem in Item.depttype)
							{
							if (depttypeItem.deptgroup_code == Item.traninttype_code)
							{
							isCurrentOptionSelected = true;
							}
							else
							{
							isCurrentOptionSelected = false;
							}
							<option value="@depttypeItem.deptmain_type" selected="@isCurrentOptionSelected">
							@depttypeItem.deptmain_desc
							</option>
							}
							}
							</select>
							</div>
							}
							}

							@if(type_monthintpay == 2){
							<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
							<label class="form-label" for="">ธนาคาร</label>
							<div class="form-group ">
							<div class="input-group">
							<select id="getBankSelect" class="form-select" @onchange="OnGetBankSelectChanged"
							disabled style="background-color: transparent;border-color: transparent;--bs-form-select-bg-img:url();">
							<option selected>--กรุณาเลือก--</option>
							@foreach (var getBankItem in getBank)
							{
							bool isCurrentOptionSelected = getBankItem.bank_code == BankValues;
							<option value="@getBankItem.bank_code" selected="@isCurrentOptionSelected">
							@getBankItem.bank_code - @getBankItem.bank_desc
							</option>
							}
							</select>
							</div>
							</div>
							</div>
							<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
							<label class="form-label" for="">สาขา</label>
							<div class="form-group ">
							<div class="input-group">
							<select id="getBankSelect" class="form-select" @onchange="OnBankBranchSelectChanged"
							disabled style="background-color: transparent;border-color: transparent;--bs-form-select-bg-img:url();">
							<option selected>--กรุณาเลือก--</option>
							@foreach (var bankBranchItem in bankBranch)
							{
							bool isCurrentOptionSelected = bankBranchItem.branch_id == BankBranchValues;
							<option value="@bankBranchItem.branch_id" selected="@isCurrentOptionSelected">
							@bankBranchItem.branch_id - @bankBranchItem.branch_name
							</option>
							}
							</select>
							</div>
							</div>
							</div>
							}
							<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
							<div class="form-check" style="margin-top: 35px;">
							<input class="form-check-input" type="checkbox" @bind="dept_status" id="flexCheckDefault">
							<label class="form-check-label" for="flexCheckDefault">ค้ำประกัน</label>
							</div>
							</div>
							<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
							<label class="form-label" for="">อ้างอิง</label>
							<div class="form-group ">
							<div class="lable-group">
							<RadzenText Text="@Item.deptslip_no" />
							</div>
							</div>
							</div>

							</div> *@
								</div>
							}
						</div>
					}
				</RadzenStepsItem>
				<RadzenStepsItem Disabled="@(lsdisable)" Text="เสร็จสิ้น" @onclick="@CheckDeptslipAmt">
					<RadzenRow>
						<RadzenText Text="ประวัติทำรายการ" />
					</RadzenRow>
					<RadzenButton class="save_top" Icon="print" Text="พิมพ์ slip" Click="@PrintPdf" />
					<RadzenButton class="save_top" Icon="print" Text="พิมพ์ ปกสมุด" Click="@PrintFrontbook" />
					<RadzenButton class="save_top" Icon="arrow_back" Text="ทำรายการ" Click="@GoBack" />
					@* <RadzenButton class="save_top" Icon="print" Text="พิมพ์ book" Click="@PrintBook_" /> *@
					@* @foreach (var content in printbook_data)
					{
					var printDetail = content.print_detail;
					foreach (var rowDetail in printDetail)
					{
					<table style='margin-top: 20px;'>
					<thead>
					</thead>
					<tbody>
					<tr style='margin-top:20px;'>
					@foreach (var columnDetail in rowDetail.row_detail)
					{
					<td style='text-align: @(columnDetail.align); margin-top: @(columnDetail.point_top)px; margin-left: @(columnDetail.point_left)%; width: @(columnDetail.point_width)%; vertical-align: top; font-family: @(columnDetail.font_name); font-size: @(columnDetail.font_size)px;'>@columnDetail.column_value</td>
					}
					</tr>
					</tbody>
					</table>
					}
					} *@

					<div class="row mt-2"
						 style="margin-left: calc(var(--bs-gutter-x) * .1);margin-right: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
						<RadzenDataGrid Data="@statementDetails" TItem="Models.Statement_list" ColumnWidth="100%"
										AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
										FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10" AllowPaging="true"
										AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
							<Columns>
								<RadzenDataGridColumn Width="10%" TItem="Models.Statement_list" Title="ลำดับ" Property="coop_id">
								</RadzenDataGridColumn>
								<RadzenDataGridColumn Width="13%" TItem="Models.Statement_list" Title="วันที่"
													  Property="operate_date">
								</RadzenDataGridColumn>
								<RadzenDataGridColumn Width="13%" TItem="Models.Statement_list" Title="รายการ"
													  Property="deptitemtype_code">
								</RadzenDataGridColumn>
								<RadzenDataGridColumn Width="17%" TItem="Models.Statement_list" Title="ถอน"
													  Property="withdraw_amt">
								</RadzenDataGridColumn>
								<RadzenDataGridColumn Width="17%" TItem="Models.Statement_list" Title="ฝาก"
													  Property="deposit_amt">
								</RadzenDataGridColumn>
								<RadzenDataGridColumn Width="17%" TItem="Models.Statement_list" Title="ยอดคงเหลือ"
													  Property="prncbal">
								</RadzenDataGridColumn>
								<RadzenDataGridColumn Width="12%" TItem="Models.Statement_list" Title="พิมพ์ Book" Property="item_status">
								</RadzenDataGridColumn>
							</Columns>
						</RadzenDataGrid>
					</div>
				</RadzenStepsItem>
			</Steps>
		</RadzenSteps>
	</div>
</div>
<script>
	$(document).ready(function () {
		var previous_data;
		$(".format-money").on('focus', function () {
			previous_data = this.value;
		}).change(function () {
			var item_amt = this.value;
			item_amt = formatNumber(Number(item_amt.replace(/[^0-9.-]+/g, "")));
			this.value = item_amt; // ต้องกำหนดค่ากลับไปให้ฟิลด์
		});
	});

	function formattNumber(input) {
		let anotherInput = document.getElementById('showNumber');
		let value = input.value.replace(/[^0-9.]/g, '');
		let number = parseFloat(value);
		if (!isNaN(number)) {
			let formattedValue = number.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			input.value = formattedValue;
			anotherInput.value = formattedValue;
		} else {
			input.value = '';
		}
	}
	function formattNumberr(input) {
		let value = input.value.replace(/[^0-9.]/g, '');
		let number = parseFloat(value);
		if (!isNaN(number)) {
			let formattedValue = number.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			input.value = formattedValue;
		} else {
			input.value = '';
		}
	}
</script>
<script>
	window.preventNonNumericInput = (element) => {
		element.addEventListener('keypress', function (e) {
			if (!/[\d.]/.test(e.key)) {
				e.preventDefault();
			}

			if (e.key === '.' && element.value.includes('.')) {
				e.preventDefault();
			}
		});
	}
</script>

@code {
	[Inject]
	private NavigationManager NavigationManager { get; set; }
	private bool IsSaveEnabled => SaveStatus == "1";
	IEnumerable<GetOfBookNo> getOfBook_No;
	private bool dept_status1 = false;
	private bool disable = true;
	private bool lsdisable = true;
	protected async Task CheckDeptslipAmt()
	{
		Console.WriteLine($"deptslipAmt :{deptslipAmt},currentStep :{currentStep}");
		if (DeptslipAmt == null || DeptslipAmt == "0.00")
		{
			disable = true;
			currentStep = 0;
			await jsRuntime.InvokeVoidAsync("alert", "ฝากเงินเป็น 0 ไม่ได้");
		}
		else
		{
			if (currentStep == 2)
			{
				disable = true;
			}
			else
			{
				lsdisable = currentStep != 2;
				disable = false;
			}
		}
		await InvokeAsync(() => StateHasChanged());
	}
	protected async Task GoBack()
	{
		currentStep = 0;
		NavigationManager.NavigateTo("/ws_dep_reqdepoit", true);
	}
	protected void GoToNextStep()
	{
		currentStep = 1;
	}

	// เมื่อ checkbox ถูกติกเลือก
	@* private void CheckboxChanged()
    {
        dept_status1 = dept_status1 == 0 ? false : true;
    } *@
	private void CheckboxChanged()
	{
		// ทำการคำนวณค่าของ dept_status
		dept_status = dept_status1 ? 0 : 1;

		// สามารถใส่คำสั่ง Console.WriteLine เพื่อ debug หรือตรวจสอบค่า dept_status ได้
		Console.WriteLine("dept_status : " + dept_status);
	}
	//เรียกใช้ฟังก์ชันส่งข้อมูลไปยัง javafile เพื่อเรีบกใช้ ฟังก์ชันสร้าง PDF
	private async Task PrintPdf()
	{
		// รับ HTML จาก GetPdfData()
		string htmlData = await GetPdfData();
		// เรียกใช้ JavaScript Interop เพื่อแปลง HTML เป็น PDF และพิมพ์
		await jsRuntime.InvokeVoidAsync("printPdf", htmlData);
	}
	//HTML แปลงเป็น PDF
	private async Task<string> GetPdfData()
	{
		var InputHtml = $@"
		   <style>
			.form-control {{
                border: solid 1px #fff;
			}}
			.form-label{{
                font - weight: normal;
			}}
			.form-select {{

            font - size: 16px; /* ขนาดตัวอักษร */
            background-color: #fff;
        	}}
			.row {{
                --bs - gutter - x: 1.5rem;
				--bs-gutter-y: 0;
				display: flex;
				flex-wrap: wrap;
				margin-top: calc(var(--bs-gutter-y)* -1);
				 /*margin-right: calc(var(--bs-gutter-x)* -0.5);
				margin-left: calc(var(--bs-gutter-x)* -0.5); */
			}}
			 @page {{   /* size: landscape;*/
                size: A4;
				width: 297mm;
				height: 210mm;
				margin: 0;  }}
		</style>

		</head>
		<body><br/>
			<div class='row' style='width: 100%;'>";
		foreach (var content in statement_data)
		{
			foreach (var item in content.slip_data)
			{
				@* Console.WriteLine($"slipdata : {item.column_name},{item.column_value},{item.point_top},{item.point_left},{item.point_width},{item.point_height},{item.align},{item.valign},{item.font_name},{item.font_size},"); *@
				InputHtml += $@"
					<div style=' width: {item.point_width}%; margin-top: {item.point_top}px;'>
							<input class='input-with-border' style='text-align: {item.align}; margin-top: {item.point_top}px; margin-left: {item.point_left}%; width: {item.point_width}%; vertical-align: top; font-family: {item.font_name}; font-size: {item.font_size}px; border: 1px solid #000; border:0px' value='{item.column_value}'></input>
					</div>";
			}
		}
		InputHtml += @"
			</div>
		</body>";
		return InputHtml;
	}
	private async Task PrintBook_()
	{

		// รับ HTML จาก GetPdfData()
		string htmlData = await GetPrintBookData();
		// เรียกใช้ JavaScript Interop เพื่อแปลง HTML เป็น PDF และพิมพ์
		await jsRuntime.InvokeVoidAsync("printBook", htmlData);
	}
	private async Task<string> GetPrintBookData()
	{
		var InputHtml = $@"
		<style>
			.label-with-border {{
            padding: 5px;
			width:100%
            display: inline-block;
        }}
		.account-book {{
            size: 21cm 29.7cm;
           /* border: 1px solid #000;*/
        }}
		</style>

		</head>
		<body>
			<div class='row account-book' style='width:100%;'>";
		@if (printbook_data != null)
		{
			@foreach (var content in printbook_data)
			{
				var printDetail = content.print_detail;
				foreach (var rowDetail in printDetail)
				{
					InputHtml += @"
								<div class='tablept'>
								<div class='row-detail' style='padding:0px;margin:0px; display: flex; align-items: center;'>";

					foreach (var columnDetail in rowDetail.row_detail)
					{
						InputHtml += $@"
									<input type='text' style='text-align: {columnDetail.align}; margin-top: {columnDetail.point_top}px; margin-bottom: {columnDetail.point_bottom}px; margin-left: {columnDetail.point_left}px; width: {columnDetail.point_width}%; height: {columnDetail.point_height}%; vertical-align: top; font-family: {columnDetail.font_name}; font-size: {columnDetail.font_size}px; border: 0px solid ;' value='{columnDetail.column_value}' />";
					}
					InputHtml += @"
								</div>
								</div>";
				}
			}
		}
		InputHtml += @"
			</div>
		</body>";
		return InputHtml;
	}
	// Event handler for RadzenSteps change
	private async Task PrintFrontbook()
	{
		try
		{
			printLoading = true;
			// await Print_Frontbook();
			string htmlData = await GetPrintFrontbook();
			// เรียกใช้ JavaScript Interop เพื่อแปลง HTML เป็น PDF และพิมพ์
			await jsRuntime.InvokeVoidAsync("printBook", htmlData);
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
			printLoading = false;

		}
		finally
		{
			printLoading = false;
			StateHasChanged();
		}
	}
	private async Task<string> GetPrintFrontbook()
	{
		var InputHtml = $@"
                <style>
        	       body {{
						font-family: Arial, sans-serif;
						margin: 0;
						padding: 0;
					}}
					.left-align-no-border {{
						text-align: left;
						padding: 1px;
					}}
					@page {{
						size: A4;
						margin: 5px;
					}}
                </style>

                </head>
                <body style='margin-top:-10px'>
            <div class='row left-align-no-border' style='width: 100%;'>";
		foreach (var item in printFrontbook_data)
		{
			var row_detaill = item.result_data;
			foreach (var columnDetail in row_detaill)
			{
				InputHtml += $@"
				 	<div style=' width: {columnDetail.point_width}%; margin-top: {columnDetail.point_top}px;'>
				 			<lable style='text-align: {columnDetail.align}; margin-top: {columnDetail.point_top}px; margin-left: {columnDetail.point_left}%; width: {columnDetail.point_width}%; vertical-align: top; font-family: {columnDetail.font_name}; font-size: {columnDetail.font_size}px;'>{columnDetail.column_value}</lable>
				 	</div>";
			}
		}
		InputHtml += @"
			</div>
		</body>";
		return InputHtml;
	}
	private void OnChange(int newStep)
	{
		currentStep = newStep;
		Console.WriteLine(newStep); // This will print the current step
		StateHasChanged();
		@if (currentStep == 2)
		{
			PrintPdf();
			disable = true;
		}

	}

	// Event handler for RadzenSteps CanChange
	private bool CanChange()
	{
		Console.WriteLine($"return true;{true}");
		return true;
	}
	RadzenUpload upload;

	int progress;
	bool showProgress;
	private string file_name;

	bool showComplete;
	string completionMessage;
	bool cancelUpload = false;

	void CompleteUpload(UploadCompleteEventArgs args)
	{
		if (!args.Cancelled)
			completionMessage = "Upload Complete!";
		else
			completionMessage = "Upload Cancelled!";

		showProgress = false;
		showComplete = true;
	}

	void TrackProgress(UploadProgressArgs args)
	{
		showProgress = true;
		showComplete = false;
		@* progress = args.Progress; *@

		// cancel upload
		args.Cancel = cancelUpload;

		// reset cancel flag
		cancelUpload = false;
	}

	void CancelUpload()
	{
		cancelUpload = true;
	}

	int customParameter = 1;
	void OnChange(UploadChangeEventArgs args, string name)
	{
		foreach (var file in args.Files)
		{
			Console.WriteLine($"File: {file.Name} / {file.Size} bytes");
			file_name = file.Name;
		}
		Console.WriteLine($"{file_name} changed");
	}

	void OnProgress(UploadProgressArgs args, string name)
	{
		Console.WriteLine($"{args.Progress}% '{name}' / {args.Loaded} of {args.Total} bytes.");

		if (args.Progress == 100)
		{
			foreach (var file in args.Files)
			{
				Console.WriteLine($"Uploaded: {file.Name} / {file.Size} bytes");
			}
		}
	}

	void OnComplete(UploadCompleteEventArgs args)
	{
		Console.WriteLine($"Server response: {args.RawResponse}");
	}
	public IEnumerable<Models.ReqAccDetails> dataaccDetails { get; set; }
	public IEnumerable<Models.TranDeptno> tranDeptDetails { get; set; }
	@* IEnumerable<Models.deptDepositAcc> deptdepositAcc; *@
	List<Models.deptDepositAcc> deptdepositAcc = new List<Models.deptDepositAcc>();
	Radzen.Blazor.RadzenDataGrid<Models.deptDepositAcc> dataGridRef;
	int selectedIndex = 0;
	protected override void OnInitialized()
	{
		// สร้างข้อมูลตัวอย่างสำหรับ DataGrid
		deptdepositAcc = new List<Models.deptDepositAcc>
		{
			new Models.deptDepositAcc { order = 1, memb_name = "John", memb_surname = "Doe", description = "Group A"},
			new Models.deptDepositAcc { order = 2, memb_name = "Jane", memb_surname = "Doe", description = "Group B"},
			new Models.deptDepositAcc { order = 3, memb_name = "Alice", memb_surname = "Smith", description = "Group C"}
		};
	}
	void AddRow()
	{
		var newRow = new Models.deptDepositAcc
			{
				order = deptdepositAcc.Count() + 1,
				memb_name = "New Name",
				memb_surname = "New Surname",
				description = "New Description"
			};

		deptdepositAcc = deptdepositAcc.Append(newRow).ToList();
		dataGridRef.Reload();
	}
	void DeleteRow(Models.deptDepositAcc rowData)
	{
		Console.WriteLine("555");
		deptdepositAcc.Remove(rowData);
		dataGridRef.Reload();
	}


	private async Task OnBankBranchChanged(ChangeEventArgs e)
	{
		BankBranchValues = e.Value.ToString();

	}
	private void OnBankBranchSelectChanged(ChangeEventArgs e)
	{
		// กำหนดค่าที่ถูกเลือกใน <select> ให้กับ row.bank_code
		bankbranch_code = e.Value.ToString();
		BankBranchValues = bankbranch_code;
		Console.WriteLine($"BankBranchValues: {BankBranchValues}");
	}
	private async Task OnGetBankChanged(ChangeEventArgs e)
	{
		BankValues = e.Value.ToString();
		Console.WriteLine($"BankValues: {BankValues}");
		bank_code = BankValues;
	}
	private void OnGetBankSelectChanged(ChangeEventArgs e)
	{
		// กำหนดค่าที่ถูกเลือกใน <select> ให้กับ row.bank_code
		bank_code = e.Value.ToString();
		Console.WriteLine($"BankValues: {bank_code}");
		BankValues = bank_code;

	}
	private bool chk_tranacc;
	private bool chk_deptacc;
	private bool chk_deptpassbookno;
	private void OnChkDeptPassbookNoChanged()
    {
        if (chk_deptpassbookno)
        {
            deptpassbook_no = null;
        }else{
			GetBookNo();
		}
    }
}
