@page "/ws_lon_reqloan";
@using Newtonsoft.Json
@using Radzen.Blazor
@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient
@using System.Linq.Dynamic.Core
@inject NotificationService NotificationService
@using System.Globalization
@using System.Text.Json
@* @using System.ComponentModel
@using System.ComponentModel.DataAnnotations *@
@using System.Text;

<style>
    .icon-search {
        display: inline-flex !important;
        justify-content: space-evenly !important;
        align-items: center !important;
        position: relative !important;
        top: 3px !important;
        padding: 15px !important;
        flex-wrap: nowrap !important;
    }

    .table> :not(caption)>*>* {
        padding: 0.2rem 0.2rem;
    }

    .save_top {
        border: #adacac solid 1px;
    }

    .header-right {
        text-align: start;
    }

    .header-left {
        text-align: end;
    }

    .rz-calendar .rz-inputtext {
        background-color: #e9ecef;
        opacity: 1;
    }

    .rz-fileupload-row {
        display: flex;
        color: transparent;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .rz-fileupload-row img {
        width: 250px;
        max-width: 250px;
        margin-top: -4rem;
        max-height: 200px;
    }

    .rz-fileupload-row button {
        margin-left: 20rem;
        margin-top: 8px;
    }

    .rz-fileupload-files {
        background-color: var(--rz-upload-files-background-color);
        padding: var(--rz-upload-files-padding);
        margin-top: -1.5rem;
    }

    .rz-fileupload-buttonbar {
        position: relative;
        background-color: transparent;
        padding: var(--rz-upload-button-bar-padding);
        border-radius: var(--rz-upload-button-bar-border-radius);
    }

    .rz-card.rz-variant-filled {
        box-shadow: var(--rz-base-background-color);
        margin-top: -5px;
    }

    .rz-card {
        padding: 0;
        box-sizing: var(--rz-base-background-color);
    }

    .card {
        background-color: #f9f9f9;
    }

    tr:hover td {
        background-color: transparent;
    }

    td {
        text-align: left;
        padding: 2px;
    }

    .cashiput {
        color: #00CC00;
        background-color: black;
        text-align: right;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
    }

    .cashiput::placeholder {
        color: #00CC00;
        /* สีที่คุณต้องการ */
    }

    .cashred::placeholder {
        color: red;
        /* สีที่คุณต้องการ */
    }

    .label-group {
        margin-left: 10px;
    }

    .my-element {
        margin-bottom: 10px;
        margin-top: 10px;
    }
</style>

<div class="header-page">
    <div class="row-header d-flex justify-content-between ">
        <div class="header-left">
            <h4> ระบบ สินเชื่อ - ขอกู้เงิน </h4>
        </div>
    </div>
</div>

@if (datalists == null){
        <div class="card body-page">
            <div class="from">
                <div class="row mt-2" style="margin-left: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
                    <div class="row">
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for=""> ประเภทใบขอกู้</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="col-2">
                                        <input class="form-control " type="text" name="loantype_code" value="">
                                    </div>
                                    &nbsp;
                                    <div class="col">
                                        <select class="form-select" name="loantype_desc" aria-label="Default select example">
                                            <option value="1">กรุณาเลือก</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">เลขสมาชิก</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <!-- <input class="form-control text-center" type="text" name="" placeholder="AUTO" readonly> -->
                                    <input type="text" @bind="@searchTerm" class="form-control" Name="member_no" />
                                    @*
                                    <RadzenMask Mask="********" CharacterPattern="[0-9]" Name="" class="form-control" /> *@
                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#ModalSearch">
                                        ...
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-outline-secondary" @onclick="SearchOfGet"  >  
                                    @if (isLoading) {
                                        <span>...</span>
                                        <i class="fa fa-spinner fa-spin"></i>
                                    }
                                    else {
                                        <span>ค้นหา</span>
                                    }
                                    </button>
                                </div>
                            </div>
                            <!-- STAR ModalSearch -->
                            <div class="modal" tabindex="-1" id="ModalSearch">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">ข้อมูลสมาชิก</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="row" style="margin-left:-4px;margin-right:-4px;">
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">เลขสมาชิก</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <RadzenMask Mask="********" CharacterPattern="[0-9]"
                                                                Name="deptaccount_no" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">ชื่อ:</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">นามสกุล</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">เลขบัตรรประชาชน</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">สังกัด</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <div class="col-2">
                                                                <input class="form-control text-center" type="text" name="">
                                                            </div>
                                                            &nbsp;
                                                            <div class="col">
                                                                <select class="form-select">
                                                                    <option selected>เลือกสังกัด</option>
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">เบอร์โทรศัพท์</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <RadzenMask Mask="(***) ***-****" Pattern="[^0-9]" MaxLength="10"
                                                                Placeholder="(000) 000-0000" Name="phone" @bind-Value="phone"
                                                                class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">กลุ่มสมาชิก</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <select class="form-select">
                                                                <option selected>เลือกกลุ่มสมาชิก</option>
                                                                <option Value="10">สามัญ</option>
                                                                <option Value="20">สมทบ</option>
                                                                <option Value="30">สหกรณ์อื่นๆ</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">สถานะสมาชิก</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <select class="form-select">
                                                                <option selected>ท้ังหมด</option>
                                                                <option Value="1">ปกติ</option>
                                                                <option Value="2">ลาออก</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">เลขพนักงาน</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">สาขา</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <select class="form-select">
                                                                <option selected>เลือกสาขา</option>
                                                                <option Value="1">077001 - สหกรณ์ออมทรัพบ์บริษัท...</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-end mb-2"
                                                style="margin-left:-4px;margin-right:-4px;">
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column  ">
                                                    <label class="form-label" for="">&nbsp;</label>
                                                    <button class="btn btn-outline-secondary">ค้นหา</button>
                                                </div>
                                            </div>
                                            <RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails"
                                                ColumnWidth="100%" AllowFiltering="true"
                                                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                                                FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
                                                AllowPaging="true" AllowSorting="true"
                                                PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                                                <Columns>
                                                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
                                                        Title="เลขบัตรประชาชน" Property="">
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
                                                        Title="เลขสมาชิก" Property="">
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
                                                        Title="ชื่อ - นามสกุล" Property="prncslip_amt">
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
                                                        Title="สังกัด" Property="">
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
                                                        Title="เบอร์มือถือ" Property="">
                                                    </RadzenDataGridColumn>
                                                </Columns>
                                            </RadzenDataGrid>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- END ModalSearch -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
}else{
    @foreach (var item in datalists)
    {
        <div class="card body-page">
            <div class="from">
                <div class="row mt-2" style="margin-left: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-sm-6 d-flex flex-column">
                            <label class="form-label" for=""> เลขที่ใบขอกู้</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-center" type="text" name="loanrequest_docno" value="AUTO" placeholder="AUTO" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">วันที่ขอกู้</label>
                            <RadzenDatePicker @bind-Value=@item.loanrequest_date Name="loanrequest_date" DateFormat="dd/MM/yyyy" />
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for=""> ประเภทใบขอกู้</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="col-2">
                                        <input class="form-control " type="text" name="loantype_code" value="">
                                    </div>
                                    &nbsp;
                                    <div class="col">
                                        <select class="form-select" aria-label="Default select example" name="loantype_desc">
                                            <option value="1">กรุณาเลือก</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">เลขสมาชิก</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <!-- <input class="form-control text-center" type="text" name="" placeholder="AUTO" readonly> -->
                                    <input type="text" @bind="@searchTerm" class="form-control" Name="member_no" id="member_no"/>
                                    @*
                                    <RadzenMask Mask="********" CharacterPattern="[0-9]" Name="" class="form-control" /> *@
                                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#ModalSearch">
                                        ...
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-outline-secondary" @onclick="SearchOfGet"  >  
                                    @if (isLoading) {
                                        <span>...</span>
                                        <i class="fa fa-spinner fa-spin"></i>
                                    }
                                    else {
                                        <span>ค้นหา</span>
                                    }
                                    </button>
                                </div>
                            </div>
                            <!-- STAR ModalSearch -->
                            <div class="modal" tabindex="-1" id="ModalSearch">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">ข้อมูลสมาชิก</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="row" style="margin-left:-4px;margin-right:-4px;">
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">เลขสมาชิก</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <RadzenMask Mask="********" CharacterPattern="[0-9]"
                                                                Name="deptaccount_no" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">ชื่อ:</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">นามสกุล</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">เลขบัตรรประชาชน</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">สังกัด</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <div class="col-2">
                                                                <input class="form-control text-center" type="text" name="">
                                                            </div>
                                                            &nbsp;
                                                            <div class="col">
                                                                <select class="form-select">
                                                                    <option selected>เลือกสังกัด</option>
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">เบอร์โทรศัพท์</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <RadzenMask Mask="(***) ***-****" Pattern="[^0-9]" MaxLength="10"
                                                                Placeholder="(000) 000-0000" Name="phone" @bind-Value="phone"
                                                                class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">กลุ่มสมาชิก</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <select class="form-select">
                                                                <option selected>เลือกกลุ่มสมาชิก</option>
                                                                <option Value="10">สามัญ</option>
                                                                <option Value="20">สมทบ</option>
                                                                <option Value="30">สหกรณ์อื่นๆ</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">สถานะสมาชิก</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <select class="form-select">
                                                                <option selected>ท้ังหมด</option>
                                                                <option Value="1">ปกติ</option>
                                                                <option Value="2">ลาออก</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">เลขพนักงาน</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                                    <label class="form-label" for="">สาขา</label>
                                                    <div class="form-group ">
                                                        <div class="input-group">
                                                            <select class="form-select">
                                                                <option selected>เลือกสาขา</option>
                                                                <option Value="1">077001 - สหกรณ์ออมทรัพบ์บริษัท...</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row d-flex justify-content-end mb-2"
                                                style="margin-left:-4px;margin-right:-4px;">
                                                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column  ">
                                                    <label class="form-label" for="">&nbsp;</label>
                                                    <button class="btn btn-outline-secondary">ค้นหา</button>
                                                </div>
                                            </div>
                                            <RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails"
                                                ColumnWidth="100%" AllowFiltering="true"
                                                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                                                FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
                                                AllowPaging="true" AllowSorting="true"
                                                PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                                                <Columns>
                                                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
                                                        Title="เลขบัตรประชาชน" Property="">
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
                                                        Title="เลขสมาชิก" Property="">
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
                                                        Title="ชื่อ - นามสกุล" Property="prncslip_amt">
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
                                                        Title="สังกัด" Property="">
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
                                                        Title="เบอร์มือถือ" Property="">
                                                    </RadzenDataGridColumn>
                                                </Columns>
                                            </RadzenDataGrid>

                                        </div>
                                        <!-- END Modal body -->
                                    </div>

                                </div>

                            </div>
                            <!-- END ModalSearch -->
                        </div>

                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">ชื่อ-สกุล</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="col-4">
                                        <RadzenMask class="form-control" Mask="**********" CharacterPattern="[0-9]" placeholder="เลขพนักงาน" id="salary_id" Name="salary_id" />
                                    </div>
                                    &nbsp;
                                    <div class="col">
                                        <RadzenTextBox class="form-control" type="text" readonly id="member_name" Name="member_name" @bind-value="item.fullname" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">&nbsp;</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <select class="form-select" aria-label="Default select example" id="membtype_code" name="membtype_code" disabled>
                                        <option value="@item.membgroup_code" selected>@item.membgroup_code - @item.membgroup_desc</option>
                                        <option value="1"> </option>
                                        <option value="2"> --- </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-8 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">สังกัด</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <select class="form-select" id="membgroup_code" name="membgroup_code" disabled>
                                        <option value="@item.membtype_code" selected>@item.membtype_code - @item.membtype_desc</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">อนุมัติทันที</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <select class="form-select" id="apvimmediate_status" name="apvimmediate_status">
                                        <option value="1">รออนุมัติ</option>
                                        <option value="2">อนุมัติออกเลขสัญญา</option>
                                        <option value="2">อนุมัติและจ่าย</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 d-flex justify-content-end">
                        <div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">&nbsp; </label>
                            <div class="form-group ">
                                <div class="form-check">
                                    <input type="checkbox" @bind="isChecked" id="loanrcvfix_flag" name="loanrcvfix_flag" />
                                    <label class="form-check-label text-end" for="flexCheckDefault">
                                        ระบุวันที่จ่ายเงินกู้
                                    </label>
                                </div>
                            </div>
                        </div>

                        @if (isChecked)
                        {
                            <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                <label class="form-label" for="">วันที่จ่าย</label>
                                <RadzenDatePicker @bind-Value="@item.loanrequest_date"  id="loanrcvfix_date" Name="loanrcvfix_date" DateFormat="dd/MM/yyyy"/>
                            </div>
                        }else{
                            <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                                <label class="form-label" for="">วันที่จ่าย</label>
                                <div class="form-group ">
                                    <div class="input-group">
                                        <input type="date" class="form-control text-center" id="loanrcvfix_date" Name="loanrcvfix_date" readonly>
                                        
                                    </div>
                                </div>
                            </div>
                        }
                        

                    </div>

                    <div class="row mt-4">
                        <hr class="w-80">
                    </div>

                    <div class="row">
                        <label class="form-label" for=""> <u>ข้อมูลประกอบการขอกู้</u></label>
                        <div class="col-xl-3 col-md-8 col-sm-9 d-flex flex-column">
                            <label class="form-label" for=""> วันเกิด</label>
                            <RadzenDatePicker @bind-Value="@item.birth_date" id="birth_date"  Name="birth_date" DateFormat="dd/MM/yyyy" readonly/>
                            @* <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-center" type="date" @bind="@item.birth_date" name="birth_date" readonly>
                                </div>
                            </div> *@
                        </div>
                        <div class="col-xl-1 col-md-4 col-sm-3 d-flex flex-column">
                            <label class="form-label text-center" for="">ปี/เดือน</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-center" type="text" placeholder="0" id="birth_age" name="birth_age" @bind="item.biath_ageshow" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-8 col-sm-9 d-flex flex-column">
                            <label class="form-label" for=""> วันเกษียณ</label>
                            <RadzenDatePicker @bind-Value="item.retire_date" id="retire_date" Name="retire_date" DateFormat="dd/MM/yyyy" ReadOnly />
                        </div>
                        <div class="col-xl-1 col-md-4 col-sm-3 d-flex flex-column">
                            <label class="form-label text-center" for="">ปี/เดือน</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-center" type="text" placeholder="0" id="retry_age" name="retry_age" @bind="item.retire_ageshow" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-8 col-sm-9 d-flex flex-column">
                            <label class="form-label" for=""> เป็นสมาชิก</label>
                            <RadzenDatePicker @bind-Value=item.member_date ReadOnly  @oninput="FormatDate" id="member_date" Name="member_date" DateFormat="dd/MM/yyyy" />
                        </div>
                        <div class="col-xl-1 col-md-4 col-sm-3 d-flex flex-column">
                            <label class="form-label text-center" for="">ปี/เดือน</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-center" type="text" placeholder="0" id="member_age" name="member_age" @bind="item.member_ageshow" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-3 col-md-8 col-sm-9 d-flex flex-column">
                            <label class="form-label" for=""> วันที่เข้าทำงาน</label>
                            <RadzenDatePicker @bind-Value=item.work_date ReadOnly  @oninput="FormatDate" id="work_date" Name="work_date" DateFormat="dd/MM/yyyy" />
                        </div>
                        <div class="col-xl-1 col-md-4 col-sm-3 d-flex flex-column">
                            <label class="form-label text-center" for="">ปี/เดือน</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-center" type="text" placeholder="0" id="work_age" name="work_age" @bind="item.work_ageshow" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-8 col-sm-9 d-flex flex-column">
                            <label class="form-label" for=""> วันโอนย้าย</label>
                            @* <RadzenDatePicker @bind-Value=item.work_date ReadOnly  @oninput="FormatDate" Name="work_date" DateFormat="dd/MM/yyyy" /> *@
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control" type="date" id="tranmem_date" name="tranmem_date" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1 col-md-4 col-sm-3 d-flex flex-column">
                            <label class="form-label text-center" for="">ปี/เดือน</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-center" type="text" placeholder="0" id="tranmem_age" name="tranmem_age" @bind="item.work_ageshow" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for=""> ทุนเรือนหุ้น</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="col-3">
                                        <input class="form-control text-center" type="number" placeholder="0" id="share_periodvalue" name="share_periodvalue" readonly>
                                    </div>
                                    &nbsp;
                                    <div class="col">
                                        <input class="form-control text-end" type="number" placeholder="0.00" id="share_balance" name="share_balance" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <hr class="w-80">
                    </div>

                    <div class="row mt-2">
                        <label class="form-label" for=""> <u>วัตถุประสงค์ สิทธิการกู้: </u></label>
                        <div class="col-xl-4 col-md-8 col-sm-9 d-flex flex-column">
                            <label class="form-label" for="">&nbsp;</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <select id="loanobjective_desc" name="loanobjective_desc" class="form-select" aria-label="Default select example" >
                                        @if(objectivetype != null){
                                            @if (item.loanobjective_code == null || !item.loanobjective_code.Any())
                                                {
                                                    <option selected disabled></option>
                                                }
                                            else
                                                {
                                                    @foreach (var objectivetypeItem in objectivetype)
                                                    {
                                                        <option value="@objectivetypeItem.loanobjective_code">
                                                            @objectivetypeItem.loanobjective_code - @objectivetypeItem.loanobjective_desc
                                                        </option>
                                                    }
                                                }
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">สิทธิการกู้: </label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="od_flag" name="od_flag">
                                        <label class="form-check-label text-end" for="od_flag">
                                            วงเงินOD 
                                        </label>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="kpshr_flag" name="kpshr_flag">
                                        <label class="form-check-label text-end" for="kpshr_flag">
                                            หุ้นรอเก็บ
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">สิทธิ์กู้ที่ได้ </label>
                            <RadzenNumeric TValue="double" ShowUpDown="false" Format="#,##0.00" @bind-Value=@value id="loancredit_amt" Name="loancredit_amt"/>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">สิทธิกู้สุทธิ </label>
                            <RadzenNumeric TValue="double" ShowUpDown="false" Format="#,##0.00" @bind-Value=@value id="loanpermiss_amt" Name="loanpermiss_amt"/>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">ให้กู้ </label>
                            <RadzenNumeric TValue="double" ShowUpDown="false" Format="#,##0.00" @bind-Value=@value id="loanrequest_amt" Name="loanrequest_amt"/>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">ดอกเบี้ยประมาณ </label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="col-2">
                                        <input class="form-control text-center" type="number" id="totalday_int" name="totalday_int" placeholder="0" readonly>
                                    </div>
                                    &nbsp;
                                    <div class="col">
                                        <input class="form-control text-end" type="number" id="intestimate_amt" name="intestimate_amt" placeholder="0.00" readonly>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-12 col-md-12 col-sm-12 d-flex flex-column">
                            <div class="form-group ">
                                <div class="input-group" style="height: 70px;">
                                    <input class="form-control text-end" style="font-size: 45px; color: green;" type="number" id="recvestimate_amt" name="recvestimate_amt" placeholder="0.00" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <hr class="w-80">
                    </div>

                    <div class="row mt-2">
                        <label class="form-label" for=""> <u>เงื่อนไขอัตราดอกเบี้ย </u></label>
                        <div class="col-xl-4 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">&nbsp;</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="col-3">
                                        <RadzenNumeric TValue="double" ShowUpDown="false" Format="#0.00" @bind-Value=@rate_conditions id="identifycont_intrate" Name="identifycont_intrate"/>
                                        @* <input class="form-control text-center" type="number" placeholder="0" value="0" name=""> *@
                                    </div>
                                    &nbsp;
                                    <div class="col">
                                        <select class="form-select" id="int_continttype" name="int_continttype" disabled>
                                            <option value="00">ดูอัตราจากตารางดอกเบี้ยสินเชื่อ</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">การชำระ: </label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="custompayment_flag" name="custompayment_flag">
                                        <label class="form-check-label text-end" for="flexCheckDefault">
                                            กำหนดงวดเอง
                                        </label>
                                    </div>
                                    &nbsp;
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="lnoverretry_status" name="lnoverretry_status">
                                        <label class="form-check-label text-end" for="lnoverretry_status">
                                            <b>ขอส่งเกินงวดเกษียณ</b>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">ชำระงวด</label>
                            <RadzenNumeric TValue="double" ShowUpDown="false" Format="#0.00" @bind-Value=@installment id="period_payment" Name="period_payment"/>
                            @* <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="number" placeholder="0.00" name="">
                                </div>
                            </div> *@
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-4 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">จำนวนงวด</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-center" type="number" placeholder="0" id="period_payamt" name="period_payamt">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">งวดสุดท้าย</label>
                            <RadzenNumeric TValue="double" ShowUpDown="false" Format="#0.00" @bind-Value=@last_installment id="period_lastpayment" Name="period_lastpayment"/>
                            @* <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="number" value="0.00" placeholder="0.00" name="">
                                </div>
                            </div> *@
                        </div>
                        <div class="col-xl-2 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">ประเภทการส่ง</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <select class="form-select" id="loanpayment_type" name="loanpayment_type">
                                        <option value="1">ไม่มีการเรียกเก็บ</option>
                                        <option value="2"> ต้นเท่ากัน </option>
                                        <option value="3"> ต้น + ดอกเท่ากัน </option>
                                        <option value="4"> ส่งแต่ดอกเบี้ย </option>
                                        <option value="5"> อัตราก้าวหน้า </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">การชำระแบบ</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <select class="form-select" id="loanpayment_from" name="loanpayment_from">
                                        <option value="1">หักจากเงินเดือน</option>
                                        <option value="2"> หักจากบัญชีเงินฝาก </option>
                                        <option value="3"> บัญชีภายนอก </option>
                                        <option value="4"> ชำระเอง </option>
                                        <option value="5"> เงินปันผล </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <hr class="w-80">
                    </div>

                    <div class="row mt-2">
                        <label class="form-label" for=""> <u>เงินเดือนคงเหลือ </u></label>
                        <div class="col-xl-4 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">เงินเดือน</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="number" value="0.00" placeholder="0.00" id="salary_amount" name="salary_amount">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">ยอดหักจาก สก</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="number" value="0.00" placeholder="0.00" id="paymonth_coop" name="paymonth_coop" readonly>
                                    &nbsp;
                                    <input class="form-control text-end" type="number" value="0.00" placeholder="0.00" id="paymonth_lnreq" name="paymonth_lnreq" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">ยอดหักอื่นๆ</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="number" value="0.00" placeholder="0.00" id="paymonth_exp" name="paymonth_exp" readonly>
                                    &nbsp;
                                    <input class="form-control text-end" type="number" value="0.00" placeholder="0.00" id="paymonth_other" name="paymonth_other">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-2">
                        <div class="col-xl-4 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">เงินได้อื่นๆ</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="number" value="0.00" placeholder="0.00" id="incomemonth_fix" name="incomemonth_fix" readonly>
                                    &nbsp;
                                    <input class="form-control text-end" type="number" value="0.00" placeholder="0.00" id="incomemonth_other" name="incomemonth_other">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">เงินได้คงเหลือ</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="number" value="0.00%" placeholder="0.00" id="salary_perc" name="salary_perc" readonly>
                                    &nbsp;
                                    <input class="form-control text-end" type="number" value="0.00" placeholder="0.00" id="salary_amt" name="salary_amt" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-8 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">เงินได้เหลือขั้นต่ำ</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="number" value="0.00%" placeholder="0.00" id="minsalary_perc" name="minsalary_perc" readonly>
                                    &nbsp;
                                    <input class="form-control text-end" type="number" value="0.00" placeholder="0.00" id="minsalary_amt" name="minsalary_amt" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2 d-flex justify-content-end">
                        <div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
                            <div class="form-group ">
                                <button class="btn btn-outline-secondary w-100" id="b_recv" name="b_recv" data-bs-toggle="modal" data-bs-target="#Modalb_recv">
                                    รายการรับ
                                </button>
                            </div>
                            <!-- STAR Modal รายการรับ -->
                            <div class="modal" tabindex="-1" id="Modalb_recv">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">รายได้อื่นๆ</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
	                                        <input type="hidden" id="money" value="0.00">
                                            <div class="row">
                                                <div class="col">

                                                </div>
                                                <div class="col-3 d-flex justify-content-end mb-1">
                                                    <button type="button" class="btn btn-link" onclick="addToTable();">เพิ่มแถว</button>
                                                </div>
                                                
                                            </div>
                                            <table class="table" id="output">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>ลำดับ</th>
                                                        <th>รหัสสมาชิก</th>
                                                        <th>รายละเอียด</th>
                                                        <th>จำนวนเงิน</th>
                                                        <th>สิทธิ์กู้</th>
                                                        <th>หักภายใน สอ.</th>
                                                        <th>หักภายนอก สอ.</th>
                                                        <th>ลบ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2"></td>
                                                        <td>รวม</td>
                                                        <td id="totalSum">0</td>
                                                        <td colspan="4"></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- END ModalSearch -->
                        </div>
                        <div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
                            <div class="form-group ">
                                <button class="btn btn-outline-secondary w-100">
                                    รายการจ่าย
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-4">
                        <hr class="w-80">
                    </div>

                    <div class="row mt-2">
                        <label class="form-label" for=""> <u>การจ่ายเงินกู้ </u></label>
                        <div class="col-xl-12 col-md-12 col-sm-12 d-flex flex-column">
                            <label class="form-label" for="">จ่ายเงินกู้เป็น</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <select class="form-select" id="expense_code" @bind="expense_code9" name="expense_code9">
                                        @if(moneytype != null){
                                            @foreach (var moneytypeItem in moneytype)
                                            {
                                                <option value="@moneytypeItem.moneytype_code">
                                                    @moneytypeItem.moneytype_desc
                                                </option>
                                            }
                                                @* @if (item.moneytype_code == null || !item.moneytype_code.Any())
                                                    {
                                                        <option selected disabled></option>
                                                    }
                                                else
                                                    {
                                                        @foreach (var moneytypeItem in moneytype)
                                                        {
                                                            <option value="@moneytypeItem.moneytype_code">
                                                                @moneytypeItem.moneytype_desc
                                                            </option>
                                                        }
                                                    } *@
                                            }
                                        </select>

                                </div>
                            </div>
                        </div>
                    </div>

                    @if(expense_code9 == "CSH"){

                    <div class="row mt-2">
                        <div class="col-xl-4 col-md-10 col-sm-10 d-flex flex-column">
                            <label class="form-label" for="">ธนาคาร</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="text" placeholder="" name="" disabled>
                                    &nbsp;
                                    <select class="form-select" aria-label="Default select example" disabled>
                                        <option value="1">กรุณาเลือกธนาคาร</option>
                                        <option value="2"> 002-ธนาคารกรุงเทพ </option>
                                    </select>
                                    <button type="button" class="btn btn-outline-secondary">...</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-10 col-sm-10 d-flex flex-column">
                            <label class="form-label" for="">สาขา</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="text" placeholder="" name="" disabled>
                                    &nbsp;
                                    <select class="form-select" aria-label="Default select example" disabled>
                                        <option value="1">กรุณาเลือกสาขาธนาคาร</option>
                                        <option value="2"> 001- สีลม </option>
                                    </select>
                                    <button type="button" class="btn btn-outline-secondary">...</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">เลขที่บัญชี</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="text" placeholder="" name="" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    }else{
                    <div class="row mt-2">
                        <div class="col-xl-4 col-md-10 col-sm-10 d-flex flex-column">
                            <label class="form-label" for="">ธนาคาร</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="text" placeholder="" name="">
                                    &nbsp;
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">กรุณาเลือกธนาคาร</option>
                                        <option value="2"> 002-ธนาคารกรุงเทพ </option>
                                    </select>
                                    <button type="button" class="btn btn-outline-secondary">...</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-10 col-sm-10 d-flex flex-column">
                            <label class="form-label" for="">สาขา</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="text" placeholder="" name="">
                                    &nbsp;
                                    <select class="form-select" aria-label="Default select example">
                                        <option value="1">กรุณาเลือกสาขาธนาคาร</option>
                                        <option value="2"> 001- สีลม </option>
                                    </select>
                                    <button type="button" class="btn btn-outline-secondary">...</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                            <label class="form-label" for="">เลขที่บัญชี</label>
                            <div class="form-group ">
                                <div class="input-group">
                                    <input class="form-control text-end" type="text" placeholder="" name="">
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    }
}

<div class="card mt-4">
    <div class="row mt-2"
        style="margin-left: calc(var(--bs-gutter-x) * .5);margin-right: calc(var(--bs-gutter-x) * .5);margin-bottom: 10px;">
        <RadzenTabs @bind-SelectedIndex=@selectedIndex>
            <Tabs>
                <RadzenTabsItem Text="หลักประกัน">
                    <RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails" ColumnWidth="200px"
                        AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                        FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10" AllowPaging="true"
                        AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                        <Columns>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ลำดับ" Property="prnc_no">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="หลักประกัน" Property="prnc_bal">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="เลขที่สมาชิก"
                                Property="prncslip_amt">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="รายละเอียด" Property="prnc_date">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="สิทธิค้ำคงเหลือ"
                                Property="prncdue_date">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ค้ำประกัน"
                                Property="calint_from">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="%	" Property="calint_to">
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>

<div class="card mt-4">
    <div class="row mt-2"
        style="margin-left: calc(var(--bs-gutter-x) * .5);margin-right: calc(var(--bs-gutter-x) * .5);margin-bottom: 10px;">
        <RadzenTabs @bind-SelectedIndex=@selectedIndex1>
            <Tabs>
                <RadzenTabsItem Text="หักชำระเงินกู้">
                    <RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails" ColumnWidth="200px"
                        AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                        FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10" AllowPaging="true"
                        AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                        <Columns>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ลำดับ" Property="prnc_no">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="เลขที่สัญญา" Property="prnc_bal">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ประเภท" Property="prncslip_amt">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ส่งแบบ" Property="prnc_date">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="วงเงินกู้"
                                Property="prncdue_date">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="งวด" Property="calint_from">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ชำระ/งวด" Property="calint_to">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="คงเหลือ" Property="intpay_amt">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ดอกเบี้ย" Property="taxpay_amt">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="%" Property="intslip_net">
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>

<div class="card mt-4">
    <div class="row mt-2"
        style="margin-left: calc(var(--bs-gutter-x) * .5);margin-right: calc(var(--bs-gutter-x) * .5);margin-bottom: 10px;">
        <RadzenTabs @bind-SelectedIndex=@selectedIndex2>
            <Tabs>
                <RadzenTabsItem Text="หักอื่นๆ">
                    <RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails" ColumnWidth="200px"
                        AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                        FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10" AllowPaging="true"
                        AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                        <Columns>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ลำดับ" Property="prnc_no">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="รายการ" Property="prnc_bal">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="รายละเอียด"
                                Property="prncslip_amt">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ยอดหัก" Property="prnc_date">
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenTabsItem>
                <RadzenTabsItem Text="ประกันชีวิต">
                    <RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails" ColumnWidth="200px"
                        AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                        FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10" AllowPaging="true"
                        AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                        <Columns>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ลำดับ" Property="prnc_no">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="รายการ" Property="prnc_bal">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ทุนประกัน"
                                Property="prncslip_amt">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ยอดหัก" Property="prnc_date">
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenTabsItem>
                <RadzenTabsItem Text="เรียกเก็บ">
                    <RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails" ColumnWidth="200px"
                        AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
                        FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10" AllowPaging="true"
                        AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                        <Columns>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="รายละเอียด" Property="prnc_no">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="งวด" Property="prnc_bal">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ชำระต้น" Property="prncslip_amt">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="ชำระ ด/บ" Property="prnc_date">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="รวมชำระ" Property="prncdue_date">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="วันเริ่มคิดด/บถึง"
                                Property="calint_from">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="คงเหลือ" Property="calint_to">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Models.AccountDetails" Title="สถานะ" Property="intpay_amt">
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>

    <script>
        function addToTable() {
            const member_no = document.getElementById("member_no").value;
            const money = document.getElementById("money").value;
            const output = document.querySelector("#output tbody");
            const rowCount = output.rows.length;

            const newRow = document.createElement("tr");
            newRow.innerHTML =
                `<td><input type="text" class="w-100" value=""></td>
                <td>
                    <input type="text" class="w-100" id="" value="${member_no}">
                </td>
                <td>
                <input type="text" class="w-100" value="">
                </td>
                <td>
                    <input type="text" class="w-100" value="${money}" oninput="updateSum()">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td>
                    <input type="checkbox">
                </td>
                <td><button type='button' onclick='removeRow(this)'>ลบ</button></td>`;

            output.appendChild(newRow);
            updateRowNumbers();
            updateSum();
        }

        function removeRow(button) {
            const row = button.closest("tr");
            row.remove();
            updateRowNumbers();
            updateSum();
        }

        function updateRowNumbers() {
            const rows = document.querySelectorAll("#output tbody tr");
            rows.forEach((row, index) => {
                row.cells[0].innerText = index + 1;
            });
        }

        function updateSum() {
            const rows = document.querySelectorAll("#output tbody tr");
            let totalSum = 0;
            rows.forEach(row => {
                const moneyInput = row.cells[3].querySelector("input");
                const moneyValue = parseFloat(moneyInput.value) || 0;
                totalSum += moneyValue;
            });
            document.getElementById("totalSum").innerText = totalSum.toFixed(2);
        }

        document.querySelector("#output tbody").addEventListener("click", (e) => {
            if (e.target.tagName === "BUTTON") {
                removeRow(e.target);
            }
        });
    </script>


@code {
    private string expense_code9 = "CSH";
    double last_installment = 0.0;
    double installment = 0.0;
    double value = 0.0;
    double rate_conditions = 0.0;
    private bool isChecked = false;
    DateTime? valueToday = DateTime.Today;

    int selectedIndex;
    int selectedIndex1;
    int selectedIndex2;

    public static string ConvertToBuddhistYear(DateTime date)
    {
        // แปลงค.ศ. เป็น พ.ศ. โดยเพิ่ม 543
        int buddhistYear = date.Year + 543;
        return date.ToString("dd/MM/") + buddhistYear.ToString();
    }
   DateOnly valueDate = DateOnly.FromDateTime(DateTime.Now);
    public IEnumerable<Models.AccountDetails> dataaccDetails { get; set; }
    public IEnumerable<Receiptlist> ReceiptlistDetails { get; set; }
    RadzenUpload upload;
    bool cancelUpload = false;

    void OnProgress(UploadProgressArgs args, string name)
    {
        Console.WriteLine($"{args.Progress}% '{name}' / {args.Loaded} of {args.Total} bytes.");

        if (args.Progress == 100)
        {
            foreach (var file in args.Files)
            {
                Console.WriteLine($"Uploaded: {file.Name} / {file.Size} bytes");
            }
        }
    }
}
