@page "/ws_dep_cancle_deptedit"
@using FinanceApp.Models;
@using Newtonsoft.Json
@using Radzen.Blazor
@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient
@using System.Linq.Dynamic.Core
@inject NotificationService NotificationService
@using System.Globalization
@using System.Text.Json
@using System.ComponentModel
@using Microsoft.AspNetCore.Components
@inject Services.Api_Provider ApiProvider
@inject Services.GetUserDataList GetuUerData
<style>
    .icon-search {
        display: inline-flex !important;
        justify-content: space-evenly !important;
        align-items: center !important;
        position: relative !important;
        top: 3px !important;
        padding: 15px !important;
        flex-wrap: nowrap !important;
    }

    .table> :not(caption)>*>* {
        padding: 0.2rem 0.2rem;
    }

    .save_top {
        border: #adacac solid 1px;
    }

    .header-right {
        text-align: start;
    }

    .header-left {
        text-align: end;
    }

    .rz-fileupload-row {
        display: flex;
        color: transparent;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .rz-fileupload-row img {
        width: 250px;
        margin-top: -4rem;
        max-height: 200px;


    }

    .rz-fileupload-row button {
        margin-left: 20rem;
        margin-top: 8px;
    }

    .rz-fileupload-files {
        background-color: var(--rz-upload-files-background-color);
        padding: var(--rz-upload-files-padding);
        margin-top: -1.5rem;
    }

    .rz-fileupload-buttonbar {
        position: relative;
        background-color: transparent;
        padding: var(--rz-upload-button-bar-padding);
        border-radius: var(--rz-upload-button-bar-border-radius);
    }

    .rz-card.rz-variant-filled {
        box-shadow: var(--rz-base-background-color);
        margin-top: -5px;
    }

    .rz-card {
        padding: 0;
        box-sizing: var(--rz-base-background-color);
    }

    .card {
        background-color: #f9f9f9;
    }

    .rz-calendar .rz-inputtext {
        background-color: #e9ecef;
        opacity: 1;
    }

    .label-group {
        margin-left: 10px;
    }

    .form-label-preview {
        margin-bottom: 0.1rem;
        margin-top: 5px;
        font-size: 19px;
    }

    table {
        margin-top: 0px;
    }
</style>
<div class="header-page">
    <div class="row-header d-flex justify-content-between ">
        <div class="header-left">
            <h4>ระบบ เงินฝาก - ย้อนรายการ</h4>
        </div>
        <div class="header-right">
            @* <RadzenButton class="save_top" Icon="save" Text="Save" Click="@SaveDataAsync" /> *@
        </div>
    </div>
</div>
<div class="card body-page">
    <div class="row mt-2" style="margin-left: calc(var(--bs-gutter-x) * .1);margin-bottom: 15px;">
        <div class="row" tabindex="0" style="margin-left: calc(var(--bs-gutter-x) * -.21)">
            <div class="row">
                <div class="col-xl-2 col-md-4 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">สาขา</label>
                    <input class="form-control" readonly type="text" name="coop_id" />
                </div>
                <div class="col-xl-3 col-md-4 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">เลขที่บัญชี</label>
                    <div class="form-group ">
                        <div class="input-group">
                            <RadzenMask Mask="**-********" CharacterPattern="[0-9]" @bind-value="deptno_format"
                                Name="deptaccount_no" class="form-control" />
                            <div class="input-group-addon">
                                <RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
                                    data-bs-target="#ModalSearch" />
                            </div>
                        </div>
                    </div>
                    @* <div class="modal" tabindex="-1" id="ModalSearch">
                    <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">ข้อมูลสมาชิก</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                    <div class="row" style="margin-left:-4px;margin-right:-4px;">
                    <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">ประเภทบัญชี</label>
                    @if (getDeptMaintype != null)
                    {
                    <select id="DeptMaintype" name="DeptMaintype" class="form-select"
                    @onchange="DeptMaintype">
                    <option value="null" selected>--กรุณาเลือก--</option>
                    @foreach (var MaintypeItem in getDeptMaintype)
                    {
                    <option value="@MaintypeItem.deptmain_type">
                    @MaintypeItem.deptmain_type - @MaintypeItem.deptmain_desc
                    </option>
                    }
                    </select>
                    }
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">เลขที่บัญชี</label>
                    <div class="form-group ">
                    <div class="input-group">
                    @* <input class="form-control" type="text" name="emp_name"
                    @bind-value="deptaccount_no">
                    <RadzenMask Mask="**-********" CharacterPattern="[0-9]" @bind-value="deptaccount_No_fild"
                    Name="deptaccount_No_fild" class="form-control" />

                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">ชื่อบัญชี :</label>
                    <div class="form-group ">
                    <div class="input-group">
                    <input class="form-control" type="text" name="emp_name" @bind-value="deptaccount_name_fild">

                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">สถานะบัญชี</label>
                    <select class="form-select" @bind="deptclose_status">
                    <option Value="0">เปิดบัญชี</option>
                    <option Value="1">ปิดบัญชี</option>
                    </select>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">เลขที่สมาชิก</label>
                    <div class="form-group ">
                    <div class="input-group">
                    <input class="form-control" type="text" name="memb_name" @bind-value="member_no">

                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">เลขพนักงาน</label>
                    <div class="form-group ">
                    <div class="input-group">
                    <input class="form-control" type="text" name="salary_id" @bind-value="salary_id">
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">ชื่อ</label>
                    <div class="form-group ">
                    <div class="input-group">
                    <input class="form-control" type="text" name="memb_name" @bind-value="memb_name">

                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">นามสกุล</label>
                    <div class="form-group ">
                    <div class="input-group">
                    <input class="form-control" type="text" name="memb_surname" @bind-value="memb_surname">
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">บัตรประชาชน :</label>
                    <div class="form-group ">
                    <div class="input-group">
                    <input class="form-control" type="text" name="card_person" @bind-value="card_person">

                    </div>
                    </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">เบอร์โทรศัพท์ :</label>
                    <div class="form-group ">
                    <div class="input-group">
                    <input class="form-control" type="text" name="mem_telmobile" @bind-value="mem_telmobile">
                    </div>
                    </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
                    <button class="btn btn-outline-secondary" @onclick="SearchOfGetAcc">
                    ค้นหา
                    </button>
                    </div>
                    </div>
                    <RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails" ColumnWidth="200px"
                    AllowFiltering="true"
                    FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterMode="FilterMode.Advanced"
                    IsLoading="@isLoadingModals"
                    PageSize="10" AllowPaging="true" AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left"
                    ShowPagingSummary="true">
                    <Columns>
                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails" Title="เลขที่บัญชี"
                    Property="deptaccount_no">
                    <Template>
                    <div @onclick="@(e => UpdateAccountDetails(context))" data-bs-dismiss="modal">
                    @context.deptaccount_no
                    </div>
                    </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails" Title="ชื่อบัญชี"
                    Property="deptaccount_name">
                    <Template>
                    <div @onclick="@(e => UpdateAccountDetails(context))" data-bs-dismiss="modal">
                    @context.deptaccount_name
                    </div>
                    </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails" Title="เลขสมาชิก"
                    Property="member_no">
                    <Template>
                    <div @onclick="@(e => UpdateAccountDetails(context))" data-bs-dismiss="modal">
                    @context.member_no
                    </div>
                    </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails" Title=" ชื่อ -นามสกุล"
                    Property="full_name">
                    <Template>
                    <div @onclick="@(e => UpdateAccountDetails(context))" data-bs-dismiss="modal">
                    @context.full_name
                    </div>
                    </Template>
                    </RadzenDataGridColumn>
                    </Columns>
                    </RadzenDataGrid>
                    </div> *@
                </div>
                <div class="col-xl-1 col-md-2 col-sm-6 d-flex flex-column">
                    <button type="button" class="btn btn-outline-secondary" @onclick="PerformSearch">
                        @if (isLoading)
                        {
                            <span>...</span>
                            <i class="fa fa-spinner fa-spin"></i>
                        }
                        else
                        {
                            <span>ค้นหา</span>
                        }
                    </button>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" style="color: transparent;" for="">-</label>
                    <input class="form-control" type="text" name="deptaccount_name"/>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6 d-flex flex-column">
                    <label class="form-label" for=""> วันทำรายการ</label>
                    <RadzenDatePicker @bind-Value=@operate_date Name="start_date" DateFormat="dd/MM/yyyy" />
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">เลขสมาชิก</label>
                    <input class="form-control" readonly type="text" name="member_no" />
                </div>
                <div class="col-xl-1 col-md-4 col-sm-6 d-flex flex-column">
                    <label class="form-label" for=""> ประเภทบัญชี</label>
                    <input class="form-control" readonly type="text" name="depttype_code" />
                </div>
                <div class="col-xl-5 col-md-6 col-sm-6 d-flex flex-column">
                    <label class="form-label" style="color: transparent;" for="">-</label>
                    <input class="form-control" type="text" name="depttype_desc" />
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">ยอดคงเหลือ</label>
                    <input class="form-control" style="text-align: end;" readonly type="text" name="prncbal"
                        placeholder="0.00" />
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6 d-flex flex-column">
                    <label class="form-label" for="">ยอดถอนได้</label>
                    <input class="form-control" style="text-align: end;" readonly type="text" name="withdrawable_amt"
                        placeholder="0.00" />
                </div>
            </div>
            <div class="row mt-4">
                <label for=""> รายละเอียดรายการ</label>
                <div class="mt-2"
                    style="margin-left: calc(var(--bs-gutter-x) * .1);margin-right: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
                    <RadzenDataGrid Data="@statementDetails" TItem="Models.Statement_list" ColumnWidth="100%"
                        AllowColumnResize="true">
                        <Columns>
                            <RadzenDataGridColumn Width="10%" TItem="Models.Statement_list" Title="เลขที่รายการ"
                                Property="coop_id">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="5%" TItem="Models.Statement_list" Title="รหัส"
                                Property="operate_date">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="20%" TItem="Models.Statement_list" Title="คำอธิบาย"
                                Property="deptitemtype_code">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="15%" TItem="Models.Statement_list" Title="ถอน"
                                Property="withdraw_amt">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="15%" TItem="Models.Statement_list" Title="ฝาก"
                                Property="deposit_amt">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="10%" TItem="Models.Statement_list" Title="ผู้ทำรายการ"
                                Property="prncbal">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="10%" TItem="Models.Statement_list" Title="วันที่ทำรายการ"
                                Property="item_status">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="5%" TItem="Models.Statement_list" Title="ลำดับ"
                                Property="item_status">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="10%" TItem="Models.Statement_list" Title=" หมายเหตุ "
                                Property="item_status">
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>

            </div>
        </div>
    </div>
</div>
@code {

}