@page "/dept/dep_conteck"
@using FinanceApp.Models;
@using Newtonsoft.Json
@using Radzen.Blazor
@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient
@using System.Linq.Dynamic.Core
@inject NotificationService NotificationService
@using System.Globalization
@using System.Text.Json
@using System.ComponentModel
@using Microsoft.AspNetCore.Components

<style>
	.icon-search {
		display: inline-flex !important;
		justify-content: space-evenly !important;
		align-items: center !important;
		position: relative !important;
		top: 3px !important;
		padding: 15px !important;
		flex-wrap: nowrap !important;
	}

	.table> :not(caption)>*>* {
		padding: 0.2rem 0.2rem;
	}

	.save_top {
		border: #adacac solid 1px;
	}

	.header-right {
		text-align: start;
	}

	.header-left {
		text-align: end;
	}
</style>
<div class="header-page">
	<div class="row-header d-flex justify-content-between ">
		<div class="header-left">
			<h4>ระบบ เงินฝาก - ตรวจสอบรายการเคลื่อนไหว</h4>
		</div>
		<div class="header-right">
			<RadzenButton class="save_top" Icon="save" Text="Save" Click="@SaveDataAsync" />
		</div>
	</div>
</div>
@* @if (isLoading)
{ *@
@* <div
style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex;background-color: #e9e9e9;opacity: 50%;
justify-content: center; align-items: center; z-index: 90;">
<div class="spinner-border text-primary" role="status">
<span class="visually-hidden">Loading...</span>
</div>
</div> *@
@* }
else
{
@if (repReqdepoit != null)
{ *@
<div class="card body-page">
	<div class="row" style="margin-left: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
		<div class="row">
			<div class="col-xl-2 col-md-4 col-sm-6 d-flex flex-column">
				<label class="form-label" for="">สาขา</label>
				<div class="form-group ">
					<RadzenMask Mask="******" CharacterPattern="[0-9]" @bind-value="coop_id" Name="member_no"
						class="form-control" />

				</div>
			</div>
			<div class="col-xl-4 col-md-4 col-sm-6 d-flex flex-column">
				<label class="form-label" for="">เลขที่บัญชี</label>
				<div class="form-group ">
					<div class="input-group">
						<RadzenMask Mask="**********" CharacterPattern="[0-9]" @bind-value="member_no" Name="member_no"
							class="form-control" />
						<div class="input-group-addon">
							<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
								data-bs-target="#ModalSearch" />
						</div>
					</div>
				</div>
				<div class="modal" id="ModalSearch">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">ข้อมูลสมาชิก</h4>
								<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
							</div>
							<!-- Modal body -->
							<div class="modal-body">
								<div class="row" style="margin-left:-4px;margin-right:-4px;">
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">ทะเบียนสมาชิก</label>
										<div class="form-group ">
											<div class="input-group">
												<RadzenMask Mask="**-********" CharacterPattern="[0-9]"
													@bind-value="member_No_fild" Name="deptaccount_no"
													class="form-control" />

											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for=""> รหัสพนักงาน</label>
										<div class="form-group ">
											<div class="input-group">
												<input class="form-control" type="text" name="emp_name"
													@bind-value="salary_id">

											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">สถานะบัญชี :</label>
										<select class="form-select" @bind="membcat_code"
											aria-label="Default select example">
											<option selected>--เลือก--</option>
											<option Value="10">สามัญ</option>
											<option Value="20">สมทบ</option>
											<option Value="30">สหกรณ์อื่นๆ</option>
										</select>
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">ชื่อ</label>
										<div class="form-group ">
											<div class="input-group">
												<input class="form-control" type="text" name="member_name"
													@bind-value="member_name">

											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">นามสกุล</label>
										<div class="form-group ">
											<div class="input-group">
												<input class="form-control" type="text" name="member_surname"
													@bind-value="member_surname">
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<label class="form-label" for="">สังกัด</label>
										<div class="form-group ">
											<div class="input-group">
												<input class="form-control" type="text" name="card_person"
													@bind-value="fullgroup">
											</div>
										</div>
									</div>
									<div class="col-xl-8 col-md-6 col-sm-6 d-flex flex-column">
									</div>
									<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
										<button class="btn btn-outline-secondary"
											@onclick="SearchOfGetAcc">ค้นหา</button>
									</div>
								</div>
								@* <RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails"
								ColumnWidth="200px" *@
								<RadzenDataGrid TItem="Models.AccountDetails" ColumnWidth="200px" AllowFiltering="true"
									FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterMode="FilterMode.Advanced"
									IsLoading="@isLoadingModals" PageSize="10" AllowPaging="true" AllowSorting="true"
									PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
									<Columns>
										<RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
											Title="ประเภทเงินฝาก" Property="member_no">
											<Template>
												@* <div @onclick="@(e => UpdateAccountDetails(context))"
												data-bs-dismiss="modal">
												@context.member_no
												</div> *@
											</Template>
										</RadzenDataGridColumn>

										<RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails"
											Title="ชื่อ - นามสกุล" Property="deptaccount_name">
											<Template>
												@* <div @onclick="@(e => UpdateAccountDetails(context))"
												data-bs-dismiss="modal">
												@context.member_name
												</div> *@
											</Template>
										</RadzenDataGridColumn>
										<RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
											Title="เลขที่บัญชี" Property="member_no">
											<Template>
												@* <div @onclick="@(e => UpdateAccountDetails(context))"
												data-bs-dismiss="modal">
												@context.member_name
												</div> *@
											</Template>
										</RadzenDataGridColumn>
										<RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails"
											Title="ประเภทบุคคล" Property="full_name">
											<Template>
												@* <div @onclick="@(e => UpdateAccountDetails(context))"
												data-bs-dismiss="modal">
												@context.member_surname
												</div> *@
											</Template>
										</RadzenDataGridColumn>
										<RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails" Title="สังกัด"
											Property="fullgroup">
											<Template>
												@* <div @onclick="@(e => UpdateAccountDetails(context))"
												data-bs-dismiss="modal">
												@context.fullgroup
												</div> *@
											</Template>
										</RadzenDataGridColumn>
									</Columns>
								</RadzenDataGrid>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-1 col-md-2 col-sm-6 d-flex flex-column">
				<button type="button" class="btn btn-outline-secondary" @onclick="Search">ค้นหา</button>
			</div>
		</div>
	</div>
</div>
@* }
else
{ *@
<div class="card body-page">
	<div class="from">
		@* @foreach (var Item in repReqdepoit)
		{ *@
		<div class="row" style="margin-left: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
			<div class="row">
				<div class="col-xl-2 col-md-4 col-sm-6 d-flex flex-column">
					<label class="form-label" for="">สาขา</label>
					<div class="form-group ">
						<RadzenMask Mask="******" CharacterPattern="[0-9]" @bind-value="coop_id" Name="member_no"
							class="form-control" />
					</div>
				</div>
				<div class="col-xl-3 col-md-4 col-sm-6 d-flex flex-column">
					<label class="form-label" for="">เลขที่บัญชี</label>
					<div class="form-group ">
						<div class="input-group">
							<RadzenMask Mask="**********" CharacterPattern="[0-9]" @bind-value="deptaccount_no"
								Name="member_no" class="form-control" />
							<div class="input-group-addon">
								<RadzenIcon class="icons icon-search" Icon="ballot" data-bs-toggle="modal"
									data-bs-target="#ModalSearch" />
							</div>
						</div>
					</div>
					<div class="modal" id="ModalSearch">
						<div class="modal-dialog modal-xl">
							<div class="modal-content">
								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title">ข้อมูลสมาชิก</h4>
									<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
								</div>
								<!-- Modal body -->
								<div class="modal-body">
									<div class="row" style="margin-left:-4px;margin-right:-4px;">
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ทะเบียนสมาชิก</label>
											<div class="form-group ">
												<div class="input-group">
													<RadzenMask Mask="**-********" CharacterPattern="[0-9]"
														@bind-value="member_No_fild" Name="deptaccount_no"
														class="form-control" />

												</div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for=""> รหัสพนักงาน</label>
											<div class="form-group ">
												<div class="input-group">
													<input class="form-control" type="text" name="emp_name"
														@bind-value="salary_id">

												</div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">สถานะบัญชี :</label>
											<select class="form-select" @bind="membcat_code"
												aria-label="Default select example">
												<option selected>--เลือก--</option>
												<option Value="10">สามัญ</option>
												<option Value="20">สมทบ</option>
												<option Value="30">สหกรณ์อื่นๆ</option>
											</select>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">ชื่อ</label>
											<div class="form-group ">
												<div class="input-group">
													<input class="form-control" type="text" name="member_name"
														@bind-value="member_name">

												</div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">นามสกุล</label>
											<div class="form-group ">
												<div class="input-group">
													<input class="form-control" type="text" name="member_surname"
														@bind-value="member_surname">
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">สังกัด</label>
											<div class="form-group ">
												<div class="input-group">
													<input class="form-control" type="text" name="card_person"
														@bind-value="fullgroup">
												</div>
											</div>
										</div>
										<div class="col-xl-8 col-md-6 col-sm-6 d-flex flex-column">
										</div>
										<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
											<button class="btn btn-outline-secondary"
												@onclick="SearchOfGetAcc">ค้นหา</button>
										</div>
									</div>
									@* <RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails"
									ColumnWidth="200px" *@
									<RadzenDataGrid TItem="Models.AccountDetails" ColumnWidth="200px"
										AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand"
										FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
										AllowPaging="true" AllowSorting="true"
										PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
										<Columns>
											<RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
												Title="ประเภทเงินฝาก" Property="member_no">
												<Template>
													@* <div @onclick="@(e => UpdateAccountDetails(context))"
													data-bs-dismiss="modal">
													@context.member_no
													</div> *@
												</Template>
											</RadzenDataGridColumn>

											<RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails"
												Title="ชื่อ - นามสกุล" Property="deptaccount_name">
												<Template>
													@* <div @onclick="@(e => UpdateAccountDetails(context))"
													data-bs-dismiss="modal">
													@context.member_name
													</div> *@
												</Template>
											</RadzenDataGridColumn>
											<RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
												Title="เลขที่บัญชี" Property="member_no">
												<Template>
													@* <div @onclick="@(e => UpdateAccountDetails(context))"
													data-bs-dismiss="modal">
													@context.member_name
													</div> *@
												</Template>
											</RadzenDataGridColumn>
											<RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails"
												Title="ประเภทบุคคล" Property="full_name">
												<Template>
													@* <div @onclick="@(e => UpdateAccountDetails(context))"
													data-bs-dismiss="modal">
													@context.member_surname
													</div> *@
												</Template>
											</RadzenDataGridColumn>
											<RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails"
												Title="สังกัด" Property="fullgroup">
												<Template>
													@* <div @onclick="@(e => UpdateAccountDetails(context))"
													data-bs-dismiss="modal">
													@context.fullgroup
													</div> *@
												</Template>
											</RadzenDataGridColumn>
										</Columns>
									</RadzenDataGrid>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-1 col-md-2 col-sm-6 d-flex flex-column">
					<button type="button" class="btn btn-outline-secondary" @onclick="Search">ค้นหา</button>
				</div>
				<div class="col-xl-6 col-md-6 col-sm-6 d-flex flex-column">
					<label class="form-label" style="color: transparent;" for="">top</label>
					<RadzenTextBox class="form-control" type="text" ReadOnly style="background-color:#fff;"
						Name="deptpassbook_no" @bind-value="deptpassbook_no" />
				</div>
				<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
					<label class="form-label" for="">เลขสมาชิก </label>
					<RadzenMask Mask="**********" CharacterPattern="[0-9]" @bind-value="member_no" Name="member_no"
						class="form-control" />
				</div>
				<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
					<label class="form-label" for="">ประเภทบัญชี</label>
					@* <select id="depttype" name="depttype_code" class="form-select" @onchange="DepttypeChanged">
					@if (Item.depttype == null || !Item.depttype.Any())
					{
					<option selected disabled></option>
					}
					else
					{
					@foreach (var depttypeItem in Item.depttype)
					{
					if (depttypeItem.deptgroup_code == Item.depttype_code)
					{
					isCurrentOptionSelected = true;

					}
					else
					{
					isCurrentOptionSelected = false;
					}
					<option value="@($"{depttypeItem.deptmain_desc}|{depttypeItem.deptgroup_code}")"
					selected="@isCurrentOptionSelected">
					@depttypeItem.deptmain_desc
					</option>
					}
					}
					</select> *@
				</div>
				<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
					<label class="form-label" for="">เลขสมุด</label>
					<div class="form-group ">
						<div class="input-group">
							<RadzenTextBox class="form-control" type="text" ReadOnly style="background-color:
							#fff;" Name="deptpassbook_no" disabled="@(!chk_deptpassbookno)" @bind-value="deptpassbook_no" />
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
					<label class="form-label" for="">ยอดคงเหลือ</label>
					<div class="form-group ">
						<div class="input-group">
							<input type="text" class="format-money form-control" Name="deptslip_netamt"
								value="@deptaccount_no" disabled />
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
					<label class="form-label" for="">ยอดถอนได้</label>
					<RadzenTextBox class="form-control" type="text" ReadOnly style="background-color: #fff;"
						Name="deptaccount_name" @bind-value="deptaccount_name" />
				</div>
			</div>
		</div>
	</div>
	<div class="card mt-4">
		<div class="row mt-2"
			style="margin-left: calc(var(--bs-gutter-x) * .5);margin-right: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
			<h6>ตารางแสดงรายการเคลื่อนไหว</h6>
			<RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails" ColumnWidth="180px"
				AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterMode="FilterMode.Advanced"
				IsLoading="@isLoadingModals" PageSize="10" AllowPaging="true" AllowSorting="true"
				PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
				<Columns>
					<RadzenDataGridColumn TItem="Models.AccountDetails" Title="ต้นเงิน" Property="prnc_no">
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="Models.AccountDetails" Title="วันที่" Property="prnc_bal">
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="Models.AccountDetails" Title="รายการ" Property="prncslip_amt">
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="Models.AccountDetails" Title="ถอน" Property="prnc_date">
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="Models.AccountDetails" Title="ฝาก" Property="prncdue_date">
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="Models.AccountDetails" Title="ยอดคงเหลือ" Property="calint_from">
					</RadzenDataGridColumn>
					<RadzenDataGridColumn TItem="Models.AccountDetails" Title="พิมพ์ Book" Property="calint_to">
					</RadzenDataGridColumn>
				</Columns>
			</RadzenDataGrid>
		</div>
	</div>
	@* } *@
</div>
@* } *@
@* } *@
<script>
	$(document).ready(function () {
		var previous_data;
		$(".format-money").on('focus', function () {
			previous_data = this.value;
		}).change(function () {
			var item_amt = this.value;
			item_amt = formatNumber(Number(item_amt.replace(/[^0-9.-]+/g, "")));
			this.value = item_amt; // ต้องกำหนดค่ากลับไปให้ฟิลด์
		});
	});

	function formattNumber(input) {
		let anotherInput = document.getElementById('showNumber');
		let value = input.value.replace(/[^0-9.]/g, '');
		let number = parseFloat(value);
		if (!isNaN(number)) {
			let formattedValue = number.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			input.value = formattedValue;
			anotherInput.value = formattedValue;
		} else {
			input.value = '';
		}
	}
	function formattNumberr(input) {
		let value = input.value.replace(/[^0-9.]/g, '');
		let number = parseFloat(value);
		if (!isNaN(number)) {
			let formattedValue = number.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			input.value = formattedValue;
		} else {
			input.value = '';
		}
	}
</script>
<script>
	window.preventNonNumericInput = (element) => {
		element.addEventListener('keypress', function (e) {
			if (!/[\d.]/.test(e.key)) {
				e.preventDefault();
			}

			if (e.key === '.' && element.value.includes('.')) {
				e.preventDefault();
			}
		});
	}
</script>

@code {
	public IEnumerable<Models.AccountDetails> dataaccDetails { get; set; }

	private async Task OnBankBranchChanged(ChangeEventArgs e)
	{
		BankBranchValues = e.Value.ToString();
	}
	private void OnBankBranchSelectChanged(ChangeEventArgs e)
	{
		// กำหนดค่าที่ถูกเลือกใน <select> ให้กับ row.bank_code
		bankbranch_code = e.Value.ToString();
		BankBranchValues = bankbranch_code;
	}
	private async Task OnGetBankChanged(ChangeEventArgs e)
	{
		BankValues = e.Value.ToString();
		Console.WriteLine($"BankValues: {BankValues}");
	}
	private void OnGetBankSelectChanged(ChangeEventArgs e)
	{
		// กำหนดค่าที่ถูกเลือกใน <select> ให้กับ row.bank_code
		bank_code = e.Value.ToString();
		Console.WriteLine($"BankValues: {bank_code}");
		BankValues = bank_code;

	}
	private bool chk_tranacc;
	private bool chk_deptacc;
	private bool chk_deptpassbookno;
}
