@page "/dept/dep_conteck"
@page "/ws_dep_conteck"
@using FinanceApp.Models;
@using Newtonsoft.Json
@using Radzen.Blazor
@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient
@using System.Linq.Dynamic.Core
@inject NotificationService NotificationService
@using System.Globalization
@using System.Text.Json
@using System.ComponentModel
@using Microsoft.AspNetCore.Components
@inject Services.Api_Provider ApiProvider
@inject Services.GetUserDataList GetuUerData
<style>
	.icon-search {
		display: inline-flex !important;
		justify-content: space-evenly !important;
		align-items: center !important;
		position: relative !important;
		top: 3px !important;
		padding: 15px !important;
		flex-wrap: nowrap !important;
	}

	.table> :not(caption)>*>* {
		padding: 0.2rem 0.2rem;
	}

	.save_top {
		border: #adacac solid 1px;
	}

	.header-right {
		text-align: start;
	}

	.header-left {
		text-align: end;
	}

	.card {
		background-color: #f9f9f9;
	}
	.tbbook{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	border-right: 0px solid #dddddd;
	text-align: left;
	padding: 3px;
	font-size: 0.875rem;
	}
	.thbook{
	font-size: 0.875rem;
	background-color: #ffffff;
	padding: 8px;
	border-top: 1px solid #dddddd;
	text-align: center;
	font-weight: 500;
	}
	tr td:first-child, tr td:last-child {
    border-right: 0px solid #dddddd; 
}
</style>
<div class="header-page">
	<div class="row-header d-flex justify-content-between ">
		<div class="header-left">
			<h4>ระบบ เงินฝาก - ตรวจสอบรายการเคลื่อนไหว</h4>
		</div>
		<div class="header-right">
			<RadzenButton class="save_top" Icon="save" Text="Save" Click="@SaveDataAsync" />
		</div>
	</div>
</div>
@* @if (isLoading)
{
	<div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex;background-color: #e9e9e9;opacity: 50%;
justify-content: center; align-items: center; z-index: 90;">
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
}
else
{ *@

<div class="card body-page">
	<div class="row mt-2" style="margin-left: calc(var(--bs-gutter-x) * .1);margin-bottom: 15px;">
		<RadzenSteps @bind-SelectedIndex="currentStep" Change="@OnChange">
			<Steps>
				<RadzenStepsItem Disabled="@(currentStep == 2)" @bind-SelectedIndex="currentStep" Text="ทำรายการ" @onkeydown="OnKeyDownAsync">
					<RadzenRow>
						<RadzenText Text="ทำรายการ" />
					</RadzenRow>
					@if (datadetails == null)
					{

						<div class="row" @onkeydown="OnKeyDownAsync" tabindex="0" style="margin-left: calc(var(--bs-gutter-x) * -.21)">
							<div class="row">
								<div class="col-xl-4 col-md-4 col-sm-6 d-flex flex-column">
									<label class="form-label" for="">เลขที่บัญชี</label>
									<div class="form-group ">
										<div class="input-group">
											<RadzenMask Mask="**-********" CharacterPattern="[0-9]" @bind-value="deptno_format"
														Name="deptaccount_no" class="form-control"
											@onkeydown="@(async (e) => { await HandleEnterKeyPress(e); await OnKeyDownAsync(e); })" />
											<div class="input-group-addon">
												<RadzenIcon class="icons icon-search" Icon="ballot" @onclick="GetDeptMaintype" data-bs-toggle="modal"
															data-bs-target="#ModalSearch" />
											</div>
										</div>
									</div>
									<div class="modal" tabindex="-1" id="ModalSearch">
										<div class="modal-dialog modal-xl">
											<div class="modal-content">
												<!-- Modal Header -->
												<div class="modal-header">
													<h4 class="modal-title">ข้อมูลสมาชิก</h4>
													<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
												</div>
												<!-- Modal body -->
												<div class="modal-body">
													<div class="row" style="margin-left:-4px;margin-right:-4px;">
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">ประเภทบัญชี</label>
															@if (getDeptMaintype != null)
															{
																<select id="DeptMaintype" name="DeptMaintype" class="form-select"
																@onchange="DeptMaintype">
																	<option value="null" selected>--กรุณาเลือก--</option>
																	@foreach (var MaintypeItem in getDeptMaintype)
																	{
																		<option value="@MaintypeItem.deptmain_type">
																			@MaintypeItem.deptmain_type - @MaintypeItem.deptmain_desc
																		</option>
																	}
																</select>
															}
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">เลขที่บัญชี</label>
															<div class="form-group ">
																<div class="input-group">
																	<RadzenMask Mask="**-********" CharacterPattern="[0-9]"
																	@bind-value="deptaccount_No_fild" Name="deptaccount_No_fild"
																				class="form-control" />

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">ชื่อบัญชี :</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="deptaccount_name_fild"
																	@bind-value="deptaccount_name_fild">

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">สถานะบัญชี</label>
															<select class="form-select" @bind="deptclose_status">
																<option Value="0">เปิดบัญชี</option>
																<option Value="1">ปิดบัญชี</option>
															</select>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">เลขที่สมาชิก</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="memb_name"
																	@bind-value="member_no">

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">เลขพนักงาน</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="salary_id"
																	@bind-value="salary_id">
																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">ชื่อ</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="memb_name"
																	@bind-value="memb_name">

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">นามสกุล</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="memb_surname"
																	@bind-value="memb_surname">
																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">บัตรประชาชน :</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="card_person"
																	@bind-value="card_person">

																</div>
															</div>
														</div>
														<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
															<label class="form-label" for="">เบอร์โทรศัพท์ :</label>
															<div class="form-group ">
																<div class="input-group">
																	<input class="form-control" type="text" name="mem_telmobile"
																	@bind-value="mem_telmobile">
																</div>
															</div>
														</div>
														<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
															<button class="btn btn-outline-secondary"
															@onclick="SearchOfGetAcc">
																ค้นหา
															</button>
														</div>
													</div>
													<RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails"
																	ColumnWidth="100%" AllowFiltering="true"
																	FilterPopupRenderMode="PopupRenderMode.OnDemand"
																	FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
																	AllowPaging="true" AllowSorting="true"
																	PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
														<Columns>
															<RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
																				  Title="เลขที่บัญชี" Property="deptaccount_no">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		 data-bs-dismiss="modal">
																		@context.deptaccount_no
																	</div>
																</Template>
															</RadzenDataGridColumn>

															<RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails"
																				  Title="ชื่อบัญชี" Property="deptaccount_name">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		 data-bs-dismiss="modal">
																		@context.deptaccount_name
																	</div>
																</Template>
															</RadzenDataGridColumn>
															<RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
																				  Title="เลขสมาชิก" Property="member_no">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		 data-bs-dismiss="modal">
																		@context.member_no
																	</div>
																</Template>
															</RadzenDataGridColumn>
															<RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails"
																				  Title=" ชื่อ -นามสกุล" Property="full_name">
																<Template>
																	<div @onclick="@(e => UpdateAccountDetails(context))"
																		 data-bs-dismiss="modal">
																		@context.full_name
																	</div>
																</Template>
															</RadzenDataGridColumn>
														</Columns>
													</RadzenDataGrid>

												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-1 col-md-2 col-sm-6 d-flex flex-column">
									<button type="button" class="btn btn-outline-secondary" @onclick="PerformSearch">
										@if (isLoading)
										{
											<span>...</span>
											<i class="fa fa-spinner fa-spin"></i>
										}
										else
										{
											<span>ค้นหา</span>
										}
									</button>
								</div>
							</div>
						</div>
					}
					else
					{

						<div class="from">
							@foreach (var Item in datadetails)
							{
								var format_with_amt = Item.withdrawable_amt?.ToString("N2");
								var format_prncbal = Item.prncbal?.ToString("N2");
								<div class="row" @onkeydown="OnKeyDownAsync" tabindex="0" style="margin-left: calc(var(--bs-gutter-x) * -.21)">
									<div class="row">
										<div class="col-xl-2 col-md-4 col-sm-6 d-flex flex-column">
											<label class="form-label" for="">สาขา</label>
											<div class="form-group ">
												<RadzenMask Mask="******" CharacterPattern="[0-9]" ReadOnly @bind-value="Item.coop_id" Name="member_no"
																class="form-control" />
												</div>
											</div>
											<div class="col-xl-2 col-md-4 col-sm-6 d-flex flex-column">
												<label class="form-label" for="">เลขที่บัญชี</label>
												<div class="form-group ">
													<div class="input-group">
														<RadzenMask Mask="**-********" CharacterPattern="[0-9]" @bind-value="deptno_format"
																	Name="deptaccount_no" class="form-control"
														@onkeydown="@(async (e) => { await HandleEnterKeyPress(e); await OnKeyDownAsync(e); })" />
														<div class="input-group-addon">
															<RadzenIcon class="icons icon-search" Icon="ballot" @onclick="GetDeptMaintype" data-bs-toggle="modal"
																		data-bs-target="#ModalSearch" />
														</div>
													</div>
												</div>
												<div class="modal" tabindex="-1" id="ModalSearch">
													<div class="modal-dialog modal-xl">
														<div class="modal-content">
															<!-- Modal Header -->
															<div class="modal-header">
																<h4 class="modal-title">ข้อมูลสมาชิก</h4>
																<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
															</div>
															<!-- Modal body -->
															<div class="modal-body">
																<div class="row" style="margin-left:-4px;margin-right:-4px;">
																	<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																		<label class="form-label" for="">ประเภทบัญชี</label>
																		@if (getDeptMaintype != null)
																	{
																		<select id="DeptMaintype" name="DeptMaintype" class="form-select"
																		@onchange="DeptMaintype">
																			<option value="null" selected>--กรุณาเลือก--</option>
																			@foreach (var MaintypeItem in getDeptMaintype)
																			{
																				<option value="@MaintypeItem.deptmain_type">
																					@MaintypeItem.deptmain_type - @MaintypeItem.deptmain_desc
																				</option>
																			}
																		</select>
																	}
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">เลขที่บัญชี</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<RadzenMask Mask="**-********" CharacterPattern="[0-9]"
																			@bind-value="deptaccount_No_fild" Name="deptaccount_No_fild"
																						class="form-control" />

																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ชื่อบัญชี :</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="deptaccount_name_fild"
																			@bind-value="deptaccount_name_fild">

																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">สถานะบัญชี</label>
																	<select class="form-select" @bind="deptclose_status">
																		<option Value="0">เปิดบัญชี</option>
																		<option Value="1">ปิดบัญชี</option>
																	</select>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">เลขที่สมาชิก</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="memb_name"
																			@bind-value="member_no">

																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">เลขพนักงาน</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="salary_id"
																			@bind-value="salary_id">
																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ชื่อ</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="memb_name"
																			@bind-value="memb_name">

																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">นามสกุล</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="memb_surname"
																			@bind-value="memb_surname">
																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">บัตรประชาชน :</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="card_person"
																			@bind-value="card_person">

																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">เบอร์โทรศัพท์ :</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="mem_telmobile"
																			@bind-value="mem_telmobile">
																		</div>
																	</div>
																</div>
																<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
																	<button class="btn btn-outline-secondary"
																	@onclick="SearchOfGetAcc">
																		ค้นหา
																	</button>
																</div>
															</div>
															<RadzenDataGrid Data="@dataaccDetails" TItem="Models.AccountDetails"
																			ColumnWidth="100%" AllowFiltering="true"
																			FilterPopupRenderMode="PopupRenderMode.OnDemand"
																			FilterMode="FilterMode.Advanced" IsLoading="@isLoadingModals" PageSize="10"
																			AllowPaging="true" AllowSorting="true"
																			PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
																<Columns>
																	<RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
																						  Title="เลขที่บัญชี" Property="deptaccount_no">
																		<Template>
																			<div @onclick="@(e => UpdateAccountDetails(context))"
																				 data-bs-dismiss="modal">
																				@context.deptaccount_no
																			</div>
																		</Template>
																	</RadzenDataGridColumn>

																	<RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails"
																						  Title="ชื่อบัญชี" Property="deptaccount_name">
																		<Template>
																			<div @onclick="@(e => UpdateAccountDetails(context))"
																				 data-bs-dismiss="modal">
																				@context.deptaccount_name
																			</div>
																		</Template>
																	</RadzenDataGridColumn>
																	<RadzenDataGridColumn Width="20%" TItem="Models.AccountDetails"
																						  Title="เลขสมาชิก" Property="member_no">
																		<Template>
																			<div @onclick="@(e => UpdateAccountDetails(context))"
																				 data-bs-dismiss="modal">
																				@context.member_no
																			</div>
																		</Template>
																	</RadzenDataGridColumn>
																	<RadzenDataGridColumn Width="30%" TItem="Models.AccountDetails"
																						  Title=" ชื่อ -นามสกุล" Property="full_name">
																		<Template>
																			<div @onclick="@(e => UpdateAccountDetails(context))"
																				 data-bs-dismiss="modal">
																				@context.full_name
																			</div>
																		</Template>
																	</RadzenDataGridColumn>
																</Columns>
															</RadzenDataGrid>

														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xl-1 col-md-2 col-sm-6 d-flex flex-column">
											<button type="button" class="btn btn-outline-secondary" @onclick="PerformSearch">
												@if (isLoading)
												{
													<span>...</span>
													<i class="fa fa-spinner fa-spin"></i>
												}
												else
												{
													<span>ค้นหา</span>
												}
											</button>
										</div>
										<div class="col-xl-5 col-md-6 col-sm-6 d-flex flex-column">
											<label class="form-label" style="color: transparent;" for="">top</label>
											<RadzenTextBox class="form-control" type="text" ReadOnly
															   Name="deptpassbook_no" @bind-value="Item.deptaccount_name" />
											</div>
											<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
												<label class="form-label" for="">เลขสมาชิก </label>
												<RadzenMask Mask="**********" CharacterPattern="[0-9]" ReadOnly @bind-value="Item.member_no" Name="member_no"
															class="form-control" />
											</div>
											<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
												<label class="form-label" for="">เลขสมุด</label>
												<div class="form-group ">
													<div class="input-group">
														<RadzenTextBox class="form-control" type="text" ReadOnly Name="deptpassbook_no" @bind-value="Item.deptpassbook_no" />
													</div>
												</div>
											</div>
											<div class="col-xl-1 col-md-6 col-sm-6 d-flex flex-column">
												<label class="form-label" for="">ประเภทบัญชี</label>
												<div class="form-group ">
													<div class="input-group">
														<RadzenTextBox class="form-control" type="text" ReadOnly
																	   Name="deptpassbook_no" @bind-value="Item.depttype_code" />
													</div>
												</div>
											</div>
											<div class="col-xl-3 col-md-6 col-sm-6 d-flex flex-column">
												<label class="form-label" style="color: transparent;" for="">top</label>
												<RadzenTextBox class="form-control" type="text" ReadOnly
															   Name="deptpassbook_no" @bind-value="Item.depttype_desc" />
											</div>
											<div class="col-xl-3 col-md-6 col-sm-6 d-flex flex-column">
												<label class="form-label" for="">ยอดคงเหลือ</label>
												<div class="form-group ">
													<div class="input-group">
														<input type="text" class="format-money form-control" Name="deptslip_netamt"
															   value="@format_prncbal" disabled />
													</div>
												</div>
											</div>
											<div class="col-xl-3 col-md-6 col-sm-6 d-flex flex-column">
												<label class="form-label" for="">ยอดถอนได้</label>
												<input type="text" class="format-money form-control" Name="deptslip_netamt"
													   value="@format_with_amt" disabled />
											</div>
										</div>
										<div class="row">
											<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
												<button class="btn btn-outline-secondary" @onclick="PrintFrontbook">พิมพ์ปกสมุด</button>
											</div>
											<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
												<button class="btn btn-outline-secondary" @onclick="InitPrintBook" data-bs-toggle="modal" data-bs-target="#ModalBookDetails">พิมพ์ BOOK</button>
											</div>
											<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
												<button class="btn btn-outline-secondary" @onclick="InitBookNew" data-bs-toggle="modal" data-bs-target="#ModalBookNew"
														style="@(msg_seqno != null && msg_seqno != 0 ? "" : "display:none;")">
													ออกสมุดใหม่ [เริ่มพิมพ์จากลำดับ @msg_seqno]
												</button>
											</div>
											<!-- Modal BookDetails -->
											<div class="modal" tabindex="-1" id="ModalBookDetails">
												<div class="modal-dialog modal-xl">
													<div class="modal-content">
														<!-- Modal Header -->
														<div class="modal-header">
															<h4 class="modal-title">พิมพ์ BOOK</h4>
															<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
														</div>
														<!-- Modal body -->
														<div class="modal-body" style="margin-top: -37px;">
															<table style="font-family: arial, sans-serif;border-collapse: collapse;width: 100%;">
																<thead>
																	<tr >
																	<th class="thbook" style="width: 6%;">ลำดับ</th>
																	<th class="thbook" style="width: 10%;">วันที่</th>
																	<th class="thbook" style="width: 20%;">รายการ</th>
																	<th class="thbook" style="width: 15%;">ถอน</th>
																	<th class="thbook" style="width: 15%;">ฝาก</th>
																	<th class="thbook" style="width: 15%;">ยอดคงเหลือ</th>
																	<th class="thbook" style="width: 11%;">พิมพ์ Book</th>
																	</tr>
																</thead>
																<tbody>
																	 @foreach (var item in intibookdata)
																	{
																		var inti_list = item.statement_list;
																		foreach (var subItem in inti_list){
																		<tr>
																			<td class="tbbook" style="text-align: center;">@subItem.seq_no</td>
																			<td class="tbbook" style="text-align: center;">@subItem.operate_date?.ToString("dd/MM/yyyy")</td>
																			<td class="tbbook" style="text-align: start;">@subItem.deptitemtype_code</td>
																			<td class="tbbook" style="text-align: end;">@subItem.withdraw_amt?.ToString("#,##0.00")</td>
																			<td class="tbbook" style="text-align: end;">@subItem.deposit_amt.ToString("#,##0.00")</td>
																			<td class="tbbook" style="text-align: end;">@subItem.prncbal?.ToString("#,##0.00")</td>
																			<td class="tbbook" style="text-align: center;">
																				@if (subItem.printbook_status == 1)
																				{
																					<p>พิมพ์</p> 
																				}
																				else
																				{
																					<p>ไม่พิมพ์</p>
																				}
																			</td>
																		</tr>
																		}
																	}
																</tbody>
															</table>
															  @foreach (var item in intibookdata)
															  {
															<div class="row" style="margin-left:-4px;margin-right:-4px;">
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for=""> เลขที่บัญชี</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="deptaccount_no"
																			@bind-value="Item.deptaccount_no">
																		</div>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">เลขที่สมุด</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="deptpassbook_no"
																			@bind-value="Item.deptpassbook_no">
																		</div>
																	</div>
																</div>
																<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for=""> ตั้งแต่รายการ</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="laststmseq_no"
																			@bind-value="item.lastrec_no">
																		</div>
																	</div>
																</div>
																@* <div class="col-xl-1 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label " for="" style="color: transparent;">/</label>
																	<input class="form-control" type="text" style="border: 0px solid; text-align: center; font-size: 20px;" value="/">
																</div> *@
																<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ถึงรายการ</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="lastrec_no"
																			@bind-value="item.laststmseq_no">
																		</div>
																	</div>
																</div>
															</div>
															<div class="row" style="margin-left:-4px;margin-right:-4px;">
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column align-items-center">
																	<div class="form-check" style="margin-top: 35px;">
																		<input class="form-check-input" type="checkbox" name="select_printsum" value="1" id="select_printsum" @onchange="Checkboxsumbalance_date" checked="@isChecked">
																		<label class="form-check-label" for="select_printsum">พิมพ์ยอดรวม</label>
																	</div>
																</div>
																<div class="col-xl-4 col-md-6 col-sm-6 d-flex flex-column">
																<label class="form-label" for=""> วันที่พิมพ์</label>
																	<div class="form-group ">
																		<div class="input-group">
																			@if(isChecked){
																			<input class="form-control" type="text" name="sumbalance_date" @bind-value="sumbalance_date1">
																			@* <RadzenText Text="@String.Format("{0:dd/MM/yyyy}",sumbalance_date)" /> *@
																			}else{
																				<input class="form-control" type="text" name="sumbalance_date" readonly value="00/00/0000">
																			}
																		</div>
																	</div>
																</div>
																<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">หน้าที่</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="lastpage_no"
																			@bind-value="item.lastpage_no">
																		</div>
																	</div>
																</div>
																<div class="col-xl-2 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">บรรทัดที่</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="lastline_no"
																			@bind-value="item.lastline_no">
																		</div>
																	</div>
																</div>
															</div>
															}
															<div class="row" style="margin-left:-4px;margin-right:-4px; ">
																<div class="col-xl-6 col-md-6 col-sm-6 d-flex justify-content-end">
																	<button class="btn btn-outline-secondary" @onclick="PrintBook_">
																		พิมพ์
																	</button>
																</div>
																<div class="col-xl-6 col-md-6 col-sm-6 d-flex justify-content-start">
																	<button class="btn btn-outline-secondary" @onclick="Clar" data-bs-dismiss="modal">
																		ปิด
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- Modal NewBook -->
											<div class="modal" tabindex="-1" id="ModalBookNew">
												<div class="modal-dialog modal-md">
													<div class="modal-content">
														<!-- Modal Header -->
														<div class="modal-header">
															<h4 class="modal-title">ออกสมุดใหม่</h4>
															<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
														</div>
														<!-- Modal body -->
														<div class="modal-body">
															@foreach(var newBook in intibooknew){
																var  newpassbook_no = newBook.newpassbook_no;
																var  n_reson = newBook.n_reson;
															<div class="row" style="margin-left:-4px;margin-right:-4px;">
																<div class="col-xl-6 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">ใบ Cert.</label>
																	@if (newpassbook_no != null)
																{
																	<select id="DeptMaintype" name="DeptMaintype" class="form-select"
																	@onchange="ChangNewpassbook">
																		@* <option value="null" selected>--กรุณาเลือก--</option> *@
																		@foreach (var npbook in newpassbook_no)
																		{
																			<option value="@npbook.book_no">
																				@npbook.book_no
																			</option>
																		}
																	</select>
																}
																</div>
																<div class="col-xl-6 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">เลขที่สมุด</label>
																	<div class="form-group ">
																		<div class="input-group">
																			<input class="form-control" type="text" name="memb_name"
																			@bind-value="newBook.deptpassbook_no">
																		</div>
																	</div>
																</div>
															</div>
															<div class="row" style="margin-left:-4px;margin-right:-4px;">
																<div class="col-xl-12 col-md-6 col-sm-6 d-flex flex-column">
																	<label class="form-label" for="">เหตุผลในการออก</label>
																	<select id="DeptMaintype" name="DeptMaintype" class="form-select"
																	@onchange="ChangNeson">
																		@foreach(var nreson in n_reson){
																			<option value="@nreson.reson_id">
																				@nreson.reson_desc
																			</option>
																		}
																		@* <option value="01">สมุดหมด</option>
																		<option value="02">เปิดบัญชีออนไลน์</option>
																		<option value="03">สูญหาย</option>
																		<option value="04">ชำรุด</option> *@
																	</select>
																</div>
															</div>
															<div class="row" style="margin-left:-4px;margin-right:-4px; ">
																<div class="col-xl-6 col-md-6 col-sm-6 d-flex flex-column">
																	<button class="btn btn-outline-secondary" @onclick="UpdateBookNew">
																		ตกลง
																	</button>
																</div>
																<div class="col-xl-6 col-md-6 col-sm-6 d-flex flex-column">
																	<button class="btn btn-outline-secondary" @onclick="Clar" data-bs-dismiss="modal">
																		ยกเลิก
																	</button>
																</div>
															</div>
															}
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								<div class="row mt-3" style="margin-left: calc(var(--bs-gutter-x) * .1);margin-right: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
									<h6>ตารางแสดงรายการเคลื่อนไหว</h6>
									@* <RadzenDataGrid @ref="grid" Data="@statementDetails" @bind-SelectedIndex="totalPages" TItem="Models.Statement" ColumnWidth="100%" AllowFiltering="true"
							FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterMode="FilterMode.Advanced"
							IsLoading="@isLoadingModals" PageSize="@PageSize" AllowPaging="true" AllowSorting="true"
							PagerHorizontalAlign="HorizontalAlign.Right" ShowPagingSummary="true"
							LastPageAriaLabel="Last page" FirstPageAriaLabel="First" > *@
									<RadzenDataGrid PageSize="10" AllowPaging="true" AllowSorting="true" Data="@statementDetails" TItem="Models.Statement" ColumnWidth="100%" IsLoading="@isLoadingModals" LastPageAriaLabel="Last page" FirstPageAriaLabel="First" PagerHorizontalAlign="HorizontalAlign.Right" ShowPagingSummary="true">
										<Columns>
											<RadzenDataGridColumn Width="6%" TItem="Models.Statement" Title="ลำดับ" Property="seq_no">
											</RadzenDataGridColumn>
											<RadzenDataGridColumn Width="10%" TItem="Models.Statement" Title="วันที่" Property="operate_date">
												<Template Context="data">
													@data.operate_date?.ToString("dd/MM/yyyy")
												</Template>
											</RadzenDataGridColumn>
											<RadzenDataGridColumn Width="20%" TItem="Models.Statement" Title="รายการ" Property="deptitemtype_code">
											</RadzenDataGridColumn>
											<RadzenDataGridColumn Width="15%" TItem="Models.Statement" Title="ถอน" Property="withdraw_amt">
												<Template Context="data">
													<p style="text-align: end;">@data.withdraw_amt?.ToString("#,##0.00")</p>
												</Template>
											</RadzenDataGridColumn>
											<RadzenDataGridColumn Width="15%" TItem="Models.Statement" Title="ฝาก" Property="deposit_amt">
												<Template Context="data">
													<p style="text-align: end;">@data.deposit_amt.ToString("#,##0.00")</p>
												</Template>
											</RadzenDataGridColumn>
											<RadzenDataGridColumn Width="15%" TItem="Models.Statement" Title="ยอดคงเหลือ" Property="prncbal">
												<Template Context="data">
													<p style="text-align: end;">@data.prncbal?.ToString("#,##0.00")</p>
												</Template>
											</RadzenDataGridColumn>
											<RadzenDataGridColumn Width="11%" TItem="Models.Statement" Title="พิมพ์ Book"
																  Property="printbook_status">
												<Template Context="data">
													@if (data.printbook_status == 1)
													{

														<div style=" text-align: center;">
															<a class="btn btn-outline-success" style="width: 100%;border-radius: 0px;" @onclick="@(e => UpdatePrintBook(data))">
																พิมพ์
															</a>
														</div>
													}
													else
													{
														<div style=" text-align: center;">
															<a class="btn btn-outline-danger" style="width: 100%;border-radius: 0px;" @onclick="PerformSearch">
																ไม่พิมพ์
															</a>
														</div>
													}
												</Template>
											</RadzenDataGridColumn>

										</Columns>
									</RadzenDataGrid>
									<RadzenButton class="save_top" Text="GoToLastPage" Click="@GoToLastPage" />
								</div>
							}
						</div>
					}
				</RadzenStepsItem>
				<RadzenStepsItem Disabled="@(currentStep == 3)" Text="ตรวจสอบรายการ">
					<RadzenRow>
						<RadzenText Text="ตรวจสอบรายละเอียด" />
					</RadzenRow>
				</RadzenStepsItem>
				<RadzenStepsItem Disabled="@(currentStep == 3)" Text="เสร็จสิ้น" Last="true">
					<RadzenRow>
						<RadzenText Text="ประวัติทำรายการ" />
					</RadzenRow>
				</RadzenStepsItem>
			</Steps>
		</RadzenSteps>
	</div>
</div>
@* } *@
@code {
	public IEnumerable<Models.AccountDetails> dataaccDetails { get; set; }
	protected override async Task OnInitializedAsync()
	{
	
	}

	private void OnChange(int newStep)
	{
		currentStep = newStep;
		Console.WriteLine(newStep); // This will print the current step
		StateHasChanged();
		@if (currentStep == 2)
		{
			@* PrintPdf(); *@
		}

	}

	// Event handler for RadzenSteps CanChange
	private bool CanChange()
	{
		Console.WriteLine($"return true;{true}");
		return true;
	}
	private async Task OnBankBranchChanged(ChangeEventArgs e)
	{
		BankBranchValues = e.Value.ToString();
	}
	private void OnBankBranchSelectChanged(ChangeEventArgs e)
	{
		// กำหนดค่าที่ถูกเลือกใน <select> ให้กับ row.bank_code
		bankbranch_code = e.Value.ToString();
		BankBranchValues = bankbranch_code;
	}
	private async Task OnGetBankChanged(ChangeEventArgs e)
	{
		BankValues = e.Value.ToString();
		Console.WriteLine($"BankValues: {BankValues}");
	}
	private void OnGetBankSelectChanged(ChangeEventArgs e)
	{
		// กำหนดค่าที่ถูกเลือกใน <select> ให้กับ row.bank_code
		bank_code = e.Value.ToString();
		Console.WriteLine($"BankValues: {bank_code}");
		BankValues = bank_code;

	}
	private async Task PrintBook_()
    {
		try{ 
		printLoading = true;
		await PrintBook();
        string htmlData = await GetPrintBookData();
        // เรียกใช้ JavaScript Interop เพื่อแปลง HTML เป็น PDF และพิมพ์
        await jsRuntime.InvokeVoidAsync("printBook", htmlData); 
		}catch(Exception ex)
		{
		Console.WriteLine(ex.Message);
			printLoading=false;

		}finally{
			printLoading=false;
			StateHasChanged();
		}
    }
	 private async Task<string> GetPrintBookData()
    {
        var InputHtml = $@"
		<style>
		.body {{
            font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
        }}
		/* .left-align-no-border {{
			text-align: left;
			padding: 0;
			margin: 0;
		}} */
		.tablept{{
			width:100%;
			height:100%;
			border:1px solid transparent; 
			margin-left:-5px;
			
		}}
		@page {{
			size: A4;
			margin: 0px;
			padding: 0px
		}}
		 @page :first {{
        	/*margin-top: -10;*/
    	}}
       
		</style>
		</head>
		<body>
			<div class='row' style='width:100%; border:1px solid;'>";
				@foreach (var content in printbook_data)
							{
								var printDetail = content.print_detail;
								foreach (var rowDetail in printDetail)
								{
									 InputHtml += $@"<table class='tablept'>
										<tbody>
											<tr style='padding:0px;margin:0px;'>";
												@foreach (var columnDetail in rowDetail.row_detail)
												{
													  InputHtml += $@"
													 <input type='text' style='text-align: {columnDetail.align};margin-top: {columnDetail.point_top}px; margin-left: {columnDetail.point_left}%; width: {columnDetail.point_width}%; height:{columnDetail.point_height}%; vertical-align: top; font-family: {columnDetail.font_name}; font-size: {columnDetail.font_size}px; border: 0px solid ;' value='{columnDetail.column_value}' />";
												}
												InputHtml += @"
												</tr>
										</tbody>
								</table>";
								}
							}
			InputHtml += @"
			</div>
		</body>";
		return InputHtml;
	}
	
	private async Task PrintFrontbook()
    {
		try{ 
		printLoading = true;
		await Print_Frontbook();
        string htmlData = await GetPrintFrontbook();
        // เรียกใช้ JavaScript Interop เพื่อแปลง HTML เป็น PDF และพิมพ์
        await jsRuntime.InvokeVoidAsync("printBook", htmlData); 
		}catch(Exception ex)
		{
		Console.WriteLine(ex.Message);
			printLoading=false;

		}finally{
			printLoading=false;
			StateHasChanged();
		}
    }
	 private async Task<string> GetPrintFrontbook()
    {
         var InputHtml = $@"
                <style>
        	       body {{
						font-family: Arial, sans-serif;
						margin: 0;
						padding: 0;
					}}
					.left-align-no-border {{
						text-align: left;
						padding: 1px;
					}}
					@page {{
						size: A4;
						margin: 5px;
					}}
                </style>

                </head>
                <body style='margin-top:-10px'>
            <div class='row left-align-no-border' style='width: 100%;'>";
                foreach (var item in printFrontbook_data){
					var row_detaill = item.result_data;
					foreach (var columnDetail in row_detaill)
					{
                     InputHtml += $@"
				 	<div style=' width: {columnDetail.point_width}%; margin-top: {columnDetail.point_top}px;'>
				 			<lable style='text-align: {columnDetail.align}; margin-top: {columnDetail.point_top}px; margin-left: {columnDetail.point_left}%; width: {columnDetail.point_width}%; vertical-align: top; font-family: {columnDetail.font_name}; font-size: {columnDetail.font_size}px;'>{columnDetail.column_value}</lable>
				 	</div>";
                 }
				 }
                InputHtml += @"
			</div>
		</body>";
		return InputHtml;
	}
private bool chk_tranacc;
	private bool chk_deptacc;
	private bool chk_deptpassbookno;
}
