@page "/ws_lon_auditloan";
@using Newtonsoft.Json
@using Radzen.Blazor
@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@inject IJSRuntime jsRuntime
@inject HttpClient httpClient
@using System.Linq.Dynamic.Core
@inject NotificationService NotificationService
@using System.Globalization
@using System.Text.Json
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Text;

<style>
	.icon-search {
		display: inline-flex !important;
		justify-content: space-evenly !important;
		align-items: center !important;
		position: relative !important;
		top: 3px !important;
		padding: 15px !important;
		flex-wrap: nowrap !important;
	}

	.table > :not(caption) > * > * {
		padding: 0.2rem 0.2rem;
	}

	.save_top {
		border: #adacac solid 1px;
	}

	.header-right {
		text-align: start;
	}

	.header-left {
		text-align: end;
	}

	.rz-calendar .rz-inputtext {
		background-color: #e9ecef;
		opacity: 1;
	}

	.rz-fileupload-row {
		display: flex;
		color: transparent;
		align-items: center;
		justify-content: space-between;
		flex-direction: column-reverse;
	}

		.rz-fileupload-row img {
			width: 250px;
			max-width: 250px;
			margin-top: -4rem;
			max-height: 200px;
		}

		.rz-fileupload-row button {
			margin-left: 20rem;
			margin-top: 8px;
		}

	.rz-fileupload-files {
		background-color: var(--rz-upload-files-background-color);
		padding: var(--rz-upload-files-padding);
		margin-top: -1.5rem;
	}

	.rz-fileupload-buttonbar {
		position: relative;
		background-color: transparent;
		padding: var(--rz-upload-button-bar-padding);
		border-radius: var(--rz-upload-button-bar-border-radius);
	}

	.rz-card.rz-variant-filled {
		box-shadow: var(--rz-base-background-color);
		margin-top: -5px;
	}

	.rz-card {
		padding: 0;
		box-sizing: var(--rz-base-background-color);
	}

	.card {
		background-color: #f9f9f9;
	}

	tr:hover td {
		background-color: transparent;
	}

	td {
		text-align: left;
		padding: 2px;
	}

	.cashiput {
		color: #00CC00;
		background-color: black;
		text-align: right;
		font-size: 16px;
		font-weight: bold;
		width: 100%;
	}

		.cashiput::placeholder {
			color: #00CC00; /* สีที่คุณต้องการ */
		}

	.cashred::placeholder {
		color: red; /* สีที่คุณต้องการ */
	}
	.label-group {
		margin-left: 10px;
	}
</style>
<div class="header-page">
	<div class="row-header d-flex justify-content-between ">
		<div class="header-left">
			<h4>ระบบ เงินฝาก - ฝากเงิน </h4>
		</div>
	</div>
</div>
<div class="card body-page">
		<div class="row mt-2" style="margin-left: calc(var(--bs-gutter-x) * .1);margin-bottom: 15px;">
			<RadzenSteps @bind-SelectedIndex="currentStep" Change="@OnChange" CanChange="@CanChange">
				<Steps>
					<RadzenStepsItem Disabled="@(currentStep == 3)" @bind-SelectedIndex="currentStep" Text="ทำรายการ" @onkeydown="OnKeyDownAsync">
						<RadzenRow>
							<RadzenText Text="ทำรายการ" />
						</RadzenRow>
					</RadzenStepsItem>
					<RadzenStepsItem Disabled="@(currentStep == 3)" Text="ตรวจสอบรายการ">
						<RadzenRow>
							<RadzenText Text="ตรวจสอบรายละเอียด" />
						</RadzenRow>
					</RadzenStepsItem>
				
					<RadzenStepsItem  Text="เสร็จสิ้น" Last="true">
						<RadzenRow>
							<RadzenText Text="ประวัติทำรายการ" />
						</RadzenRow>
						<RadzenButton class="save_top" Icon="print" Text="พิมพ์"/>
								<div class="row mt-2"
			 style="margin-left: calc(var(--bs-gutter-x) * .1);margin-right: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
								</div>
						@* <RadzenButton class="save_top" Icon="print" Text="พิมพ์" Click="@(() => PrintPdf(deptslip_no))" /> *@
					</RadzenStepsItem>
				</Steps>
			</RadzenSteps>
		</div>
	</div>
	<div class="card body-page">
		<div class="from">
		</div>
		
	</div>



