@page "/index"
@inject IJSRuntime jsRuntime
@layout EmptyLayout
@inject HttpClient httpClient
@inject StateContainer State
@using FinanceApp.Services
@using Newtonsoft.Json

<PageTitle>Dashboard</PageTitle>
<style>
    a {
        text-decoration: none;
        /* ลบเส้นใต้ลิงก์ */
    }

    a:hover {
        text-decoration: none;
        /* ลบเส้นใต้ลิงก์เมื่อผู้ใช้โฮเวอร์ที่ลิงก์ */
    }

    .img-app {
        max-width: 200px;
    }

    .group-app {
        text-align: center;
    }

    .icons-app {
        font-size: 100px;
    }

    .text-app {
        margin-top: 10px;
        ;
    }
</style>
<div class="header-page hrader-page">
    <h4>Application</h4>
</div>
<div class="card col-12 body-page">
    <div class="row mt-3" style="margin-left: calc(var(--bs-gutter-x) * .5);margin-bottom: 15px;">
        @if (State.AmsecUseappss != null && State.AmsecUseappss.Any())
        {
            <div class="row">
                @foreach (var item in State.AmsecUseappss)
                {
                    if (@item.permiss_flag == true)
                    {
                        <div class="col-xl-3 col-md-4 col-sm-6 mt-3">
                            <a href="@item.application" @onclick="() => HandleItemClick(item.application,item.application_name)">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <div class="group-app">
                                            <div class="ions-app">
                                                <i class="fa-solid fa-piggy-bank icons-app" style="color: #29b402;"></i>
                                            </div>
                                            <div class="text-app">
                                                <h5 class="card-title">@item.application_name</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-6 mt-3">
                                <a href="">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <div class="group-app">
                                                <div class="ions-app">
                                                    <i class="fa-solid fa-spinner icons-app"></i>
                                                </div>
                                                <div class="text-app">
                                                    <h5 class="card-title">ไม่มี Application</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            @* @if (NavigationManager != null)
            { *@
            <div class="row">
                @if (amsecUseappss != null)
                {
                    @foreach (var item in amsecUseappss)
                    {
                        if (@item.permiss_flag == true)
                        {
                            <div class="col-xl-3 col-md-4 col-sm-6 mt-3">
                            <h6>localStorage</h6>
                                <a href="@item.application" @onclick="() => HandleItemClick(item.application,item.application_name)">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <div class="group-app">
                                                <div class="ions-app">
                                                    <i class="fa-solid fa-piggy-bank icons-app" style="color: #29b402;"></i>
                                                </div>
                                                <div class="text-app">
                                                    <h5 class="card-title">@item.application_name</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-xl-3 col-md-4 col-sm-6 mt-3">
                                    <a href="">
                                        <div class="card" style="width: 18rem;">
                                            <div class="card-body">
                                                <div class="group-app">
                                                    <div class="ions-app">
                                                        <i class="fa-solid fa-spinner icons-app"></i>
                                                    </div>
                                                    <div class="text-app">
                                                        <h5 class="card-title">ไม่มี Application</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                }
            @* } *@
            @* else
            {
                <p>ไม่พบ Application</p>
                // ทำการ redirect ไปที่ "/login"
                NavigationManager.NavigateTo("/login", true);
            } *@
            </div>
        }
    </div>
</div> @* <img class="img-app" src="Images/deposit.jpg" alt="Deposit Image"> *@
@* <script>
window.getItemApplication = (application, application_name) => {
DotNet.invokeMethodAsync('YourAssemblyName', 'HandleApplicationClick', application);
};
</script> *@
@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }
    protected async Task bearerToken()
    {
        string Token = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");
        string refreshToken = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "refreshToken");

        var request = new HttpRequestMessage(HttpMethod.Get, Token);

        // Add the Authorization header
        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", Token);
        Console.WriteLine($"request :{request}");
        Console.WriteLine($"refreshToken :{refreshToken}");
    }
    protected override async void OnInitialized()
    {
        StateHasChanged();
        PagePermiss();
        LoadAmsecUseappssFromLocalStorage();
    }

}